.cke_dialog_ui_vbox_child .cke_dialog_ui_html {
  overflow: hidden; }

.cke_panel_listItem > a > * {
  font-size: 14px !important;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .cke_panel_listItem > a > *.alert {
    margin-bottom: 0;
    padding: 0.2rem 0.4rem; }
  .cke_panel_listItem > a > *[class*="bg-"] {
    padding: 0.2rem 0.4rem;
    color: #fff; }
    .cke_panel_listItem > a > *[class*="bg-"].bg-warning, .cke_panel_listItem > a > *[class*="bg-"].bg-light, .cke_panel_listItem > a > *[class*="bg-"].bg-white {
      color: #000; }
.cke_panel_listItem > a .display-1 {
  font-size: 19px !important;
  font-weight: bold; }
.cke_panel_listItem > a .display-2 {
  font-size: 18px !important;
  font-weight: bold; }
.cke_panel_listItem > a .display-3 {
  font-size: 17px !important;
  font-weight: bold; }
.cke_panel_listItem > a .display-4 {
  font-size: 16px !important;
  font-weight: bold; }
.cke_panel_listItem > a h1, .cke_panel_listItem > a .h1 {
  font-size: 15px !important; }
.cke_panel_listItem > a h2, .cke_panel_listItem > a .h2 {
  font-size: 14px !important; }
.cke_panel_listItem > a h3, .cke_panel_listItem > a .h3 {
  font-size: 13px !important; }
.cke_panel_listItem > a h4, .cke_panel_listItem > a .h4 {
  font-size: 12px !important; }
.cke_panel_listItem > a h5, .cke_panel_listItem > a .h5 {
  font-size: 11px !important; }
.cke_panel_listItem > a h6, .cke_panel_listItem > a .h6 {
  font-size: 10px !important; }

/*# sourceMappingURL=_ckeditorFix-cf93e3f2.css.map */