a > .inline-edit-field {
  display: inline-block; }

.inline-edit-image {
  position: relative; }
  .inline-edit-image > img {
    margin: 0 !important; }
  .inline-edit-image > .form-group, .inline-edit-image > .form-group .thumb-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0; }
    .inline-edit-image > .form-group img.img-polaroid, .inline-edit-image > .form-group .thumb-preview img.img-polaroid {
      visibility: hidden; }
      .inline-edit-image > .form-group img.img-polaroid.ajax, .inline-edit-image > .form-group .thumb-preview img.img-polaroid.ajax {
        visibility: visible; }
    .inline-edit-image > .form-group *, .inline-edit-image > .form-group .thumb-preview * {
      margin: 0 !important; }
    .inline-edit-image > .form-group .upload, .inline-edit-image > .form-group .thumb-preview .upload {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      visibility: hidden;
      display: flex;
      flex-wrap: wrap; }
      .inline-edit-image > .form-group .upload input[type="file"], .inline-edit-image > .form-group .thumb-preview .upload input[type="file"] {
        top: 0 !important; }
      .inline-edit-image > .form-group .upload .input-group, .inline-edit-image > .form-group .thumb-preview .upload .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: stretch;
        border-radius: 0;
        min-height: 2.25rem; }
      .inline-edit-image > .form-group .upload .input-group-append, .inline-edit-image > .form-group .thumb-preview .upload .input-group-append {
        background-color: white;
        border-radius: 0;
        min-height: 2.25rem; }
      .inline-edit-image > .form-group .upload .filename, .inline-edit-image > .form-group .thumb-preview .upload .filename {
        flex: 1 1 100%;
        border-radius: 0;
        min-height: 2.25rem;
        width: 100% !important; }
      .inline-edit-image > .form-group .upload .btn, .inline-edit-image > .form-group .thumb-preview .upload .btn {
        border-radius: 0;
        min-height: 2.25rem; }
    .inline-edit-image > .form-group:hover .upload, .inline-edit-image > .form-group .thumb-preview:hover .upload {
      visibility: visible; }

/*# sourceMappingURL=editmode-fae72715.css.map */