.gutters-0.row {
  margin-right: 0px !important;
  margin-left: 0px !important; }
  .gutters-0.row > [class*="col-"], .gutters-0.row > [class="col"], .gutters-0.row > [class*="col "], .gutters-0.row > [class*=" col"], .gutters-0.row > [class*=" col "] {
    padding-right: 0px !important;
    padding-left: 0px !important; }
.gutters-15.row {
  margin-right: -7.5px !important;
  margin-left: -7.5px !important; }
  .gutters-15.row > [class*="col-"], .gutters-15.row > [class="col"], .gutters-15.row > [class*="col "], .gutters-15.row > [class*=" col"], .gutters-15.row > [class*=" col "] {
    padding-right: 7.5px !important;
    padding-left: 7.5px !important; }
.gutters-30.row {
  margin-right: -15px !important;
  margin-left: -15px !important; }
  .gutters-30.row > [class*="col-"], .gutters-30.row > [class="col"], .gutters-30.row > [class*="col "], .gutters-30.row > [class*=" col"], .gutters-30.row > [class*=" col "] {
    padding-right: 15px !important;
    padding-left: 15px !important; }
.gutters-45.row {
  margin-right: -22.5px !important;
  margin-left: -22.5px !important; }
  .gutters-45.row > [class*="col-"], .gutters-45.row > [class="col"], .gutters-45.row > [class*="col "], .gutters-45.row > [class*=" col"], .gutters-45.row > [class*=" col "] {
    padding-right: 22.5px !important;
    padding-left: 22.5px !important; }
.gutters-60.row {
  margin-right: -30px !important;
  margin-left: -30px !important; }
  .gutters-60.row > [class*="col-"], .gutters-60.row > [class="col"], .gutters-60.row > [class*="col "], .gutters-60.row > [class*=" col"], .gutters-60.row > [class*=" col "] {
    padding-right: 30px !important;
    padding-left: 30px !important; }
.gutters-75.row {
  margin-right: -37.5px !important;
  margin-left: -37.5px !important; }
  .gutters-75.row > [class*="col-"], .gutters-75.row > [class="col"], .gutters-75.row > [class*="col "], .gutters-75.row > [class*=" col"], .gutters-75.row > [class*=" col "] {
    padding-right: 37.5px !important;
    padding-left: 37.5px !important; }
.gutters-90.row {
  margin-right: -45px !important;
  margin-left: -45px !important; }
  .gutters-90.row > [class*="col-"], .gutters-90.row > [class="col"], .gutters-90.row > [class*="col "], .gutters-90.row > [class*=" col"], .gutters-90.row > [class*=" col "] {
    padding-right: 45px !important;
    padding-left: 45px !important; }
.gutters-105.row {
  margin-right: -52.5px !important;
  margin-left: -52.5px !important; }
  .gutters-105.row > [class*="col-"], .gutters-105.row > [class="col"], .gutters-105.row > [class*="col "], .gutters-105.row > [class*=" col"], .gutters-105.row > [class*=" col "] {
    padding-right: 52.5px !important;
    padding-left: 52.5px !important; }
.gutters-120.row {
  margin-right: -60px !important;
  margin-left: -60px !important; }
  .gutters-120.row > [class*="col-"], .gutters-120.row > [class="col"], .gutters-120.row > [class*="col "], .gutters-120.row > [class*=" col"], .gutters-120.row > [class*=" col "] {
    padding-right: 60px !important;
    padding-left: 60px !important; }
.gutters-xs-0.row {
  margin-right: 0px !important;
  margin-left: 0px !important; }
  .gutters-xs-0.row > [class*="col-"], .gutters-xs-0.row > [class="col"], .gutters-xs-0.row > [class*="col "], .gutters-xs-0.row > [class*=" col"], .gutters-xs-0.row > [class*=" col "] {
    padding-right: 0px !important;
    padding-left: 0px !important; }
.gutters-xs-15.row {
  margin-right: -7.5px !important;
  margin-left: -7.5px !important; }
  .gutters-xs-15.row > [class*="col-"], .gutters-xs-15.row > [class="col"], .gutters-xs-15.row > [class*="col "], .gutters-xs-15.row > [class*=" col"], .gutters-xs-15.row > [class*=" col "] {
    padding-right: 7.5px !important;
    padding-left: 7.5px !important; }
.gutters-xs-30.row {
  margin-right: -15px !important;
  margin-left: -15px !important; }
  .gutters-xs-30.row > [class*="col-"], .gutters-xs-30.row > [class="col"], .gutters-xs-30.row > [class*="col "], .gutters-xs-30.row > [class*=" col"], .gutters-xs-30.row > [class*=" col "] {
    padding-right: 15px !important;
    padding-left: 15px !important; }
.gutters-xs-45.row {
  margin-right: -22.5px !important;
  margin-left: -22.5px !important; }
  .gutters-xs-45.row > [class*="col-"], .gutters-xs-45.row > [class="col"], .gutters-xs-45.row > [class*="col "], .gutters-xs-45.row > [class*=" col"], .gutters-xs-45.row > [class*=" col "] {
    padding-right: 22.5px !important;
    padding-left: 22.5px !important; }
.gutters-xs-60.row {
  margin-right: -30px !important;
  margin-left: -30px !important; }
  .gutters-xs-60.row > [class*="col-"], .gutters-xs-60.row > [class="col"], .gutters-xs-60.row > [class*="col "], .gutters-xs-60.row > [class*=" col"], .gutters-xs-60.row > [class*=" col "] {
    padding-right: 30px !important;
    padding-left: 30px !important; }
.gutters-xs-75.row {
  margin-right: -37.5px !important;
  margin-left: -37.5px !important; }
  .gutters-xs-75.row > [class*="col-"], .gutters-xs-75.row > [class="col"], .gutters-xs-75.row > [class*="col "], .gutters-xs-75.row > [class*=" col"], .gutters-xs-75.row > [class*=" col "] {
    padding-right: 37.5px !important;
    padding-left: 37.5px !important; }
.gutters-xs-90.row {
  margin-right: -45px !important;
  margin-left: -45px !important; }
  .gutters-xs-90.row > [class*="col-"], .gutters-xs-90.row > [class="col"], .gutters-xs-90.row > [class*="col "], .gutters-xs-90.row > [class*=" col"], .gutters-xs-90.row > [class*=" col "] {
    padding-right: 45px !important;
    padding-left: 45px !important; }
.gutters-xs-105.row {
  margin-right: -52.5px !important;
  margin-left: -52.5px !important; }
  .gutters-xs-105.row > [class*="col-"], .gutters-xs-105.row > [class="col"], .gutters-xs-105.row > [class*="col "], .gutters-xs-105.row > [class*=" col"], .gutters-xs-105.row > [class*=" col "] {
    padding-right: 52.5px !important;
    padding-left: 52.5px !important; }
.gutters-xs-120.row {
  margin-right: -60px !important;
  margin-left: -60px !important; }
  .gutters-xs-120.row > [class*="col-"], .gutters-xs-120.row > [class="col"], .gutters-xs-120.row > [class*="col "], .gutters-xs-120.row > [class*=" col"], .gutters-xs-120.row > [class*=" col "] {
    padding-right: 60px !important;
    padding-left: 60px !important; }

@media (min-width: 576px) {
  .gutters-sm-0.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
    .gutters-sm-0.row > [class*="col-"], .gutters-sm-0.row > [class="col"], .gutters-sm-0.row > [class*="col "], .gutters-sm-0.row > [class*=" col"], .gutters-sm-0.row > [class*=" col "] {
      padding-right: 0px !important;
      padding-left: 0px !important; }
  .gutters-sm-15.row {
    margin-right: -7.5px !important;
    margin-left: -7.5px !important; }
    .gutters-sm-15.row > [class*="col-"], .gutters-sm-15.row > [class="col"], .gutters-sm-15.row > [class*="col "], .gutters-sm-15.row > [class*=" col"], .gutters-sm-15.row > [class*=" col "] {
      padding-right: 7.5px !important;
      padding-left: 7.5px !important; }
  .gutters-sm-30.row {
    margin-right: -15px !important;
    margin-left: -15px !important; }
    .gutters-sm-30.row > [class*="col-"], .gutters-sm-30.row > [class="col"], .gutters-sm-30.row > [class*="col "], .gutters-sm-30.row > [class*=" col"], .gutters-sm-30.row > [class*=" col "] {
      padding-right: 15px !important;
      padding-left: 15px !important; }
  .gutters-sm-45.row {
    margin-right: -22.5px !important;
    margin-left: -22.5px !important; }
    .gutters-sm-45.row > [class*="col-"], .gutters-sm-45.row > [class="col"], .gutters-sm-45.row > [class*="col "], .gutters-sm-45.row > [class*=" col"], .gutters-sm-45.row > [class*=" col "] {
      padding-right: 22.5px !important;
      padding-left: 22.5px !important; }
  .gutters-sm-60.row {
    margin-right: -30px !important;
    margin-left: -30px !important; }
    .gutters-sm-60.row > [class*="col-"], .gutters-sm-60.row > [class="col"], .gutters-sm-60.row > [class*="col "], .gutters-sm-60.row > [class*=" col"], .gutters-sm-60.row > [class*=" col "] {
      padding-right: 30px !important;
      padding-left: 30px !important; }
  .gutters-sm-75.row {
    margin-right: -37.5px !important;
    margin-left: -37.5px !important; }
    .gutters-sm-75.row > [class*="col-"], .gutters-sm-75.row > [class="col"], .gutters-sm-75.row > [class*="col "], .gutters-sm-75.row > [class*=" col"], .gutters-sm-75.row > [class*=" col "] {
      padding-right: 37.5px !important;
      padding-left: 37.5px !important; }
  .gutters-sm-90.row {
    margin-right: -45px !important;
    margin-left: -45px !important; }
    .gutters-sm-90.row > [class*="col-"], .gutters-sm-90.row > [class="col"], .gutters-sm-90.row > [class*="col "], .gutters-sm-90.row > [class*=" col"], .gutters-sm-90.row > [class*=" col "] {
      padding-right: 45px !important;
      padding-left: 45px !important; }
  .gutters-sm-105.row {
    margin-right: -52.5px !important;
    margin-left: -52.5px !important; }
    .gutters-sm-105.row > [class*="col-"], .gutters-sm-105.row > [class="col"], .gutters-sm-105.row > [class*="col "], .gutters-sm-105.row > [class*=" col"], .gutters-sm-105.row > [class*=" col "] {
      padding-right: 52.5px !important;
      padding-left: 52.5px !important; }
  .gutters-sm-120.row {
    margin-right: -60px !important;
    margin-left: -60px !important; }
    .gutters-sm-120.row > [class*="col-"], .gutters-sm-120.row > [class="col"], .gutters-sm-120.row > [class*="col "], .gutters-sm-120.row > [class*=" col"], .gutters-sm-120.row > [class*=" col "] {
      padding-right: 60px !important;
      padding-left: 60px !important; } }

@media (min-width: 768px) {
  .gutters-md-0.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
    .gutters-md-0.row > [class*="col-"], .gutters-md-0.row > [class="col"], .gutters-md-0.row > [class*="col "], .gutters-md-0.row > [class*=" col"], .gutters-md-0.row > [class*=" col "] {
      padding-right: 0px !important;
      padding-left: 0px !important; }
  .gutters-md-15.row {
    margin-right: -7.5px !important;
    margin-left: -7.5px !important; }
    .gutters-md-15.row > [class*="col-"], .gutters-md-15.row > [class="col"], .gutters-md-15.row > [class*="col "], .gutters-md-15.row > [class*=" col"], .gutters-md-15.row > [class*=" col "] {
      padding-right: 7.5px !important;
      padding-left: 7.5px !important; }
  .gutters-md-30.row {
    margin-right: -15px !important;
    margin-left: -15px !important; }
    .gutters-md-30.row > [class*="col-"], .gutters-md-30.row > [class="col"], .gutters-md-30.row > [class*="col "], .gutters-md-30.row > [class*=" col"], .gutters-md-30.row > [class*=" col "] {
      padding-right: 15px !important;
      padding-left: 15px !important; }
  .gutters-md-45.row {
    margin-right: -22.5px !important;
    margin-left: -22.5px !important; }
    .gutters-md-45.row > [class*="col-"], .gutters-md-45.row > [class="col"], .gutters-md-45.row > [class*="col "], .gutters-md-45.row > [class*=" col"], .gutters-md-45.row > [class*=" col "] {
      padding-right: 22.5px !important;
      padding-left: 22.5px !important; }
  .gutters-md-60.row {
    margin-right: -30px !important;
    margin-left: -30px !important; }
    .gutters-md-60.row > [class*="col-"], .gutters-md-60.row > [class="col"], .gutters-md-60.row > [class*="col "], .gutters-md-60.row > [class*=" col"], .gutters-md-60.row > [class*=" col "] {
      padding-right: 30px !important;
      padding-left: 30px !important; }
  .gutters-md-75.row {
    margin-right: -37.5px !important;
    margin-left: -37.5px !important; }
    .gutters-md-75.row > [class*="col-"], .gutters-md-75.row > [class="col"], .gutters-md-75.row > [class*="col "], .gutters-md-75.row > [class*=" col"], .gutters-md-75.row > [class*=" col "] {
      padding-right: 37.5px !important;
      padding-left: 37.5px !important; }
  .gutters-md-90.row {
    margin-right: -45px !important;
    margin-left: -45px !important; }
    .gutters-md-90.row > [class*="col-"], .gutters-md-90.row > [class="col"], .gutters-md-90.row > [class*="col "], .gutters-md-90.row > [class*=" col"], .gutters-md-90.row > [class*=" col "] {
      padding-right: 45px !important;
      padding-left: 45px !important; }
  .gutters-md-105.row {
    margin-right: -52.5px !important;
    margin-left: -52.5px !important; }
    .gutters-md-105.row > [class*="col-"], .gutters-md-105.row > [class="col"], .gutters-md-105.row > [class*="col "], .gutters-md-105.row > [class*=" col"], .gutters-md-105.row > [class*=" col "] {
      padding-right: 52.5px !important;
      padding-left: 52.5px !important; }
  .gutters-md-120.row {
    margin-right: -60px !important;
    margin-left: -60px !important; }
    .gutters-md-120.row > [class*="col-"], .gutters-md-120.row > [class="col"], .gutters-md-120.row > [class*="col "], .gutters-md-120.row > [class*=" col"], .gutters-md-120.row > [class*=" col "] {
      padding-right: 60px !important;
      padding-left: 60px !important; } }

@media (min-width: 992px) {
  .gutters-lg-0.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
    .gutters-lg-0.row > [class*="col-"], .gutters-lg-0.row > [class="col"], .gutters-lg-0.row > [class*="col "], .gutters-lg-0.row > [class*=" col"], .gutters-lg-0.row > [class*=" col "] {
      padding-right: 0px !important;
      padding-left: 0px !important; }
  .gutters-lg-15.row {
    margin-right: -7.5px !important;
    margin-left: -7.5px !important; }
    .gutters-lg-15.row > [class*="col-"], .gutters-lg-15.row > [class="col"], .gutters-lg-15.row > [class*="col "], .gutters-lg-15.row > [class*=" col"], .gutters-lg-15.row > [class*=" col "] {
      padding-right: 7.5px !important;
      padding-left: 7.5px !important; }
  .gutters-lg-30.row {
    margin-right: -15px !important;
    margin-left: -15px !important; }
    .gutters-lg-30.row > [class*="col-"], .gutters-lg-30.row > [class="col"], .gutters-lg-30.row > [class*="col "], .gutters-lg-30.row > [class*=" col"], .gutters-lg-30.row > [class*=" col "] {
      padding-right: 15px !important;
      padding-left: 15px !important; }
  .gutters-lg-45.row {
    margin-right: -22.5px !important;
    margin-left: -22.5px !important; }
    .gutters-lg-45.row > [class*="col-"], .gutters-lg-45.row > [class="col"], .gutters-lg-45.row > [class*="col "], .gutters-lg-45.row > [class*=" col"], .gutters-lg-45.row > [class*=" col "] {
      padding-right: 22.5px !important;
      padding-left: 22.5px !important; }
  .gutters-lg-60.row {
    margin-right: -30px !important;
    margin-left: -30px !important; }
    .gutters-lg-60.row > [class*="col-"], .gutters-lg-60.row > [class="col"], .gutters-lg-60.row > [class*="col "], .gutters-lg-60.row > [class*=" col"], .gutters-lg-60.row > [class*=" col "] {
      padding-right: 30px !important;
      padding-left: 30px !important; }
  .gutters-lg-75.row {
    margin-right: -37.5px !important;
    margin-left: -37.5px !important; }
    .gutters-lg-75.row > [class*="col-"], .gutters-lg-75.row > [class="col"], .gutters-lg-75.row > [class*="col "], .gutters-lg-75.row > [class*=" col"], .gutters-lg-75.row > [class*=" col "] {
      padding-right: 37.5px !important;
      padding-left: 37.5px !important; }
  .gutters-lg-90.row {
    margin-right: -45px !important;
    margin-left: -45px !important; }
    .gutters-lg-90.row > [class*="col-"], .gutters-lg-90.row > [class="col"], .gutters-lg-90.row > [class*="col "], .gutters-lg-90.row > [class*=" col"], .gutters-lg-90.row > [class*=" col "] {
      padding-right: 45px !important;
      padding-left: 45px !important; }
  .gutters-lg-105.row {
    margin-right: -52.5px !important;
    margin-left: -52.5px !important; }
    .gutters-lg-105.row > [class*="col-"], .gutters-lg-105.row > [class="col"], .gutters-lg-105.row > [class*="col "], .gutters-lg-105.row > [class*=" col"], .gutters-lg-105.row > [class*=" col "] {
      padding-right: 52.5px !important;
      padding-left: 52.5px !important; }
  .gutters-lg-120.row {
    margin-right: -60px !important;
    margin-left: -60px !important; }
    .gutters-lg-120.row > [class*="col-"], .gutters-lg-120.row > [class="col"], .gutters-lg-120.row > [class*="col "], .gutters-lg-120.row > [class*=" col"], .gutters-lg-120.row > [class*=" col "] {
      padding-right: 60px !important;
      padding-left: 60px !important; } }

@media (min-width: 1300px) {
  .gutters-xl-0.row {
    margin-right: 0px !important;
    margin-left: 0px !important; }
    .gutters-xl-0.row > [class*="col-"], .gutters-xl-0.row > [class="col"], .gutters-xl-0.row > [class*="col "], .gutters-xl-0.row > [class*=" col"], .gutters-xl-0.row > [class*=" col "] {
      padding-right: 0px !important;
      padding-left: 0px !important; }
  .gutters-xl-15.row {
    margin-right: -7.5px !important;
    margin-left: -7.5px !important; }
    .gutters-xl-15.row > [class*="col-"], .gutters-xl-15.row > [class="col"], .gutters-xl-15.row > [class*="col "], .gutters-xl-15.row > [class*=" col"], .gutters-xl-15.row > [class*=" col "] {
      padding-right: 7.5px !important;
      padding-left: 7.5px !important; }
  .gutters-xl-30.row {
    margin-right: -15px !important;
    margin-left: -15px !important; }
    .gutters-xl-30.row > [class*="col-"], .gutters-xl-30.row > [class="col"], .gutters-xl-30.row > [class*="col "], .gutters-xl-30.row > [class*=" col"], .gutters-xl-30.row > [class*=" col "] {
      padding-right: 15px !important;
      padding-left: 15px !important; }
  .gutters-xl-45.row {
    margin-right: -22.5px !important;
    margin-left: -22.5px !important; }
    .gutters-xl-45.row > [class*="col-"], .gutters-xl-45.row > [class="col"], .gutters-xl-45.row > [class*="col "], .gutters-xl-45.row > [class*=" col"], .gutters-xl-45.row > [class*=" col "] {
      padding-right: 22.5px !important;
      padding-left: 22.5px !important; }
  .gutters-xl-60.row {
    margin-right: -30px !important;
    margin-left: -30px !important; }
    .gutters-xl-60.row > [class*="col-"], .gutters-xl-60.row > [class="col"], .gutters-xl-60.row > [class*="col "], .gutters-xl-60.row > [class*=" col"], .gutters-xl-60.row > [class*=" col "] {
      padding-right: 30px !important;
      padding-left: 30px !important; }
  .gutters-xl-75.row {
    margin-right: -37.5px !important;
    margin-left: -37.5px !important; }
    .gutters-xl-75.row > [class*="col-"], .gutters-xl-75.row > [class="col"], .gutters-xl-75.row > [class*="col "], .gutters-xl-75.row > [class*=" col"], .gutters-xl-75.row > [class*=" col "] {
      padding-right: 37.5px !important;
      padding-left: 37.5px !important; }
  .gutters-xl-90.row {
    margin-right: -45px !important;
    margin-left: -45px !important; }
    .gutters-xl-90.row > [class*="col-"], .gutters-xl-90.row > [class="col"], .gutters-xl-90.row > [class*="col "], .gutters-xl-90.row > [class*=" col"], .gutters-xl-90.row > [class*=" col "] {
      padding-right: 45px !important;
      padding-left: 45px !important; }
  .gutters-xl-105.row {
    margin-right: -52.5px !important;
    margin-left: -52.5px !important; }
    .gutters-xl-105.row > [class*="col-"], .gutters-xl-105.row > [class="col"], .gutters-xl-105.row > [class*="col "], .gutters-xl-105.row > [class*=" col"], .gutters-xl-105.row > [class*=" col "] {
      padding-right: 52.5px !important;
      padding-left: 52.5px !important; }
  .gutters-xl-120.row {
    margin-right: -60px !important;
    margin-left: -60px !important; }
    .gutters-xl-120.row > [class*="col-"], .gutters-xl-120.row > [class="col"], .gutters-xl-120.row > [class*="col "], .gutters-xl-120.row > [class*=" col"], .gutters-xl-120.row > [class*=" col "] {
      padding-right: 60px !important;
      padding-left: 60px !important; } }

/* To be used with cookieCuttr by Chris Wharton (http://cookiecuttr.com) */
.cc-overlay {
  height: 100%;
  padding-top: 25%; }

.cc-cookies {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0.5em 5%;
  background: #000;
  font-size: 0.6875rem;
  z-index: 99999;
  text-align: center;
  color: #e9ecef; }
  .cc-cookies a, .cc-cookies a:hover {
    color: #adb5bd;
    text-decoration: underline;
    font-size: 0.75rem; }
  .cc-cookies a:hover {
    text-decoration: none; }
  .cc-cookies-error {
    float: left;
    width: 90%;
    text-align: center;
    margin: 1em 0 2em 0;
    background: #fff;
    padding: 2em 5%;
    border: 1px solid #ced4da;
    font-size: 1.125rem;
    color: #dee2e6; }
  .cc-cookies a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset, .cc-cookies-error a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-decline {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    background: transparent;
    padding: 0.5em 0.75em;
    border: 1px solid #fff;
    -webkit-transition: background 0.5s ease-in;
    -moz-transition: background 0.5s ease-in;
    -ms-transition: background 0.5s ease-in;
    -o-transition: background 0.5s ease-in;
    transition: background 0.5s ease-in; }
  .cc-cookies a.cc-cookie-decline {
    background: #dc3545;
    margin-left: 0.5em; }
  .cc-cookies a.cc-cookie-accept {
    margin-left: 1em;
    margin-right: 1em; }
  .cc-cookies a.cc-cookie-reset {
    background: #ffc107; }
  .cc-cookies a:hover.cc-cookie-accept, .cc-cookies-error a:hover.cc-cookie-accept, .cc-cookies a:hover.cc-cookie-decline, .cc-cookies-error a:hover.cc-cookie-decline, .cc-cookies a:hover.cc-cookie-reset {
    color: #000;
    background: #fff;
    -webkit-transition: background 0.5s ease-in;
    -moz-transition: background 0.5s ease-in;
    -ms-transition: background 0.5s ease-in;
    -o-transition: background 0.5s ease-in;
    transition: background 0.5s ease-in; }
  .cc-cookies-error a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-decline {
    display: block;
    margin-top: 1em; }
  .cc-cookies.cc-discreet a.cc-cookie-reset {
    background: none;
    text-shadow: none;
    padding: 0;
    text-decoration: underline; }
  .cc-cookies.cc-discreet a:hover.cc-cookie-reset {
    text-decoration: none; }

@media (max-width: 767.98px) {
  .cc-cookies a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset {
    display: block;
    margin: 1em 0; } }

@media (max-width: 575.98px) {
  .cc-cookies {
    position: relative;
    float: left; } }

.prevent-sass-compiler-error {
  background: transparent; }

#page {
  overflow: hidden; }

header {
  transition: all 0.7s ease; }
  header .menu-container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    height: 6.25rem; }
    header .menu-container > .row {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .menu-container > .row > * {
        display: flex;
        align-items: center; }
  header .btn {
    padding: 0.8125rem 1.125rem 0.75rem;
    line-height: 1.3125rem; }
  header .link-logo {
    position: relative;
    margin-top: -1%;
    margin-right: 4rem;
    display: inline-flex; }
    header .link-logo .logo {
      min-width: 6.25rem;
      transition: all 0.7s ease; }
    header .link-logo .logo + .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0; }
  header #menu-toggler {
    margin-left: 0.875rem; }
    header #menu-toggler svg * {
      stroke: #000000; }
  header.theme-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0); }
    header.theme-dark .logo:first-child {
      opacity: 0; }
    header.theme-dark .logo.theme-dark {
      opacity: 1; }
    header.theme-dark #menu-toggler svg * {
      stroke: #ffffff; }
    header.theme-dark .btn-primary {
      color: #fff;
      border-color: #fff;
      background-color: transparent; }
      header.theme-dark .btn-primary:hover {
        border-color: rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.2); }

.box-social .nav-item {
  padding: 0 0.5rem; }
.box-social .nav-link {
  padding: 0;
  color: #000;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: rgba(174, 174, 174, 0.2);
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-social .nav-link[href*="facebook"] svg {
    max-height: 1.125rem; }
.box-social svg {
  max-width: 1rem;
  max-height: 1rem; }
  .box-social svg * {
    fill: #000; }

.theme-dark .box-social .nav-link {
  color: #fff;
  background-color: #88888888;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.7)); }
  .theme-dark .box-social svg * {
    fill: #fff; }

body > footer, #page > footer {
  padding-bottom: 0.25rem;
  font-weight: 300;
  color: #adb5bd;
  letter-spacing: 0.1em;
  line-height: 2.1875rem; }
  body > footer.theme-dark, #page > footer.theme-dark {
    color: #fff;
    background-color: #000; }
  body > footer .footer-header, #page > footer .footer-header {
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.15em;
    line-height: 1.875rem;
    text-transform: uppercase; }
  body > footer .footer-content, #page > footer .footer-content {
    padding: 4rem 0 2.8125rem; }
    body > footer .footer-content .nav.footer-menu, #page > footer .footer-content .nav.footer-menu {
      display: block; }
      body > footer .footer-content .nav.footer-menu .nav-item, #page > footer .footer-content .nav.footer-menu .nav-item {
        padding: 0.3125rem; }
      body > footer .footer-content .nav.footer-menu .nav-link, #page > footer .footer-content .nav.footer-menu .nav-link {
        padding: 0;
        font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 0.875rem;
        font-weight: 400;
        color: white;
        line-height: 1.3125rem;
        text-transform: uppercase; }
    body > footer .footer-content .nav.footer-menu.col-count-3, #page > footer .footer-content .nav.footer-menu.col-count-3 {
      -moz-column-count: 3;
      -moz-column-gap: 1.25rem;
      -webkit-column-count: 3;
      -webkit-column-gap: 1.25rem;
      column-count: 3;
      column-gap: 1.25rem; }
    body > footer .footer-content .nav.footer-menu.col-count-2, #page > footer .footer-content .nav.footer-menu.col-count-2 {
      -moz-column-count: 2;
      -moz-column-gap: 1.25rem;
      -webkit-column-count: 2;
      -webkit-column-gap: 1.25rem;
      column-count: 2;
      column-gap: 1.25rem; }
    body > footer .footer-content .nav.box-social, #page > footer .footer-content .nav.box-social {
      margin-left: -0.5rem;
      margin-right: -0.5rem; }

.nav.terms-menu {
  margin-left: -1.25rem;
  margin-right: -1.25rem; }
  .nav.terms-menu .nav-item {
    padding: 0 1.25rem; }
  .nav.terms-menu .nav-link {
    padding: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.75rem;
    font-weight: 400;
    color: #e9e9e9;
    letter-spacing: 0.1em;
    line-height: 2.1875rem;
    text-transform: uppercase; }
  .nav.terms-menu .nav-link:hover {
    color: #fff; }

@media (max-width: 991.98px) {
  body > footer .footer-content .nav.footer-menu.col-count-3, #page > footer .footer-content .nav.footer-menu.col-count-3 {
    -moz-column-count: 2;
    -moz-column-gap: 1.25rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 1.25rem;
    column-count: 2;
    column-gap: 1.25rem; } }

@media (max-width: 575.98px) {
  body > footer .footer-content .nav.footer-menu.col-count-2, #page > footer .footer-content .nav.footer-menu.col-count-2, body > footer .footer-content .nav.footer-menu.col-count-3, #page > footer .footer-content .nav.footer-menu.col-count-3 {
    -moz-column-count: 1;
    -moz-column-gap: 1.25rem;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.25rem;
    column-count: 1;
    column-gap: 1.25rem; } }

.scroll-header {
  margin-bottom: 0.875rem;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase; }

.text-header-long-fs-90 .text-header-long {
  font-size: 5.625rem; }

.text-desc {
  margin-top: 2.3125rem;
  margin-bottom: 4.375rem; }

.hide-text-header-short .text-header-short {
  display: none; }

.tile-list {
  padding: 4rem 0 3.6875rem; }
  .tile-list h1 {
    margin-bottom: 4.8125rem;
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 6.25rem;
    font-weight: 500;
    line-height: 7.5rem; }
  .tile-list .card {
    position: relative;
    margin-bottom: 4.8125rem; }
    .tile-list .card .card-body {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 1rem 1.5rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.75); }
    .tile-list .card .card-title {
      font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.15em;
      line-height: 1.5rem;
      text-align: center; }

.type-custom_btn_list {
  padding-bottom: 6.25rem; }

.swiper-navigation {
  padding: 3.375rem 0 0;
  user-select: none; }

.swiper-btn-nav {
  position: relative;
  margin: 0 0.5rem;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .swiper-btn-nav > * {
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .swiper-btn-nav:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 1.3px;
    border-color: #DEDEDE #35254D #35254D #35254D;
    border-radius: 100%;
    display: block;
    transform: rotate(-45deg);
    transition: all 0.3s ease; }
  .swiper-btn-nav:hover:before {
    border-color: #35254D #DEDEDE #DEDEDE #DEDEDE; }

.swiper-custom-pagination {
  margin: 0 0.5rem;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #AEAEAE; }
  .swiper-custom-pagination .swiper-pagination-total {
    color: #AEAEAE; }
  .swiper-custom-pagination .swiper-pagination-current {
    color: #35254D; }

.custom-swiper-thumb {
  margin-top: 2.875rem; }
  .custom-swiper-thumb .custom-swiper-thumb-slide {
    padding: 0.625rem;
    text-align: center;
    cursor: pointer; }
  .custom-swiper-thumb .swiper-slide-thumb-active:after, .custom-swiper-thumb:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 10;
    pointer-events: none; }
  .custom-swiper-thumb .swiper-slide-thumb-active:after {
    background-color: rgba(0, 0, 0, 0.1); }

.slide-bg-image {
  position: relative; }
  .slide-bg-image img {
    width: 100%; }

.swiper-slide-carousel {
  width: 80%; }

.custom-slide-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .custom-slide-body .side-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .custom-slide-body .side-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .custom-slide-body .icon-slide {
    margin: 0 0.875rem;
    font-size: 4em;
    display: flex;
    align-items: center; }

.custom-slide-body * {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9); }

.swiper-nav-next, .swiper-nav-prev {
  position: relative;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 20; }

.style-coatings .text-header-long {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.125rem;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.2; }
.style-coatings p {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 2.18; }
.style-coatings.padding-1 {
  padding-top: 8.5rem;
  padding-bottom: 6.5625rem; }

.popover-btn-close {
  margin: 1.75rem 1rem;
  padding: 0;
  color: #000;
  cursor: pointer; }

.popover-header-custom {
  padding: 1.25rem 4rem 1rem 1.5625rem;
  font-size: 1.875rem;
  font-width: 400;
  line-height: 2.8125rem;
  background-color: #fff; }

.points {
  position: relative; }
  .points-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.875rem;
    height: 1.875rem;
    margin-left: -0.9375rem;
    margin-top: -0.9375rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
    .points-item:before {
      content: ' ';
      margin: 0 -0.375rem;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 100%;
      background-color: #fff;
      transition: all 0.3s ease; }
    .points-item:after {
      content: ' ';
      margin: 0 -0.5625rem;
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 100%;
      border: solid 1px #fff;
      transition: all 0.3s ease; }
      .points-item:hover:before {
        transform: scale(0.8); }
      .points-item:hover:after {
        transform: scale(1.2); }

.custom-last-section {
  padding-top: 15.9375rem; }
  .custom-last-section .wireframe.w-1 {
    justify-content: flex-end; }
    .custom-last-section .wireframe.w-1 img {
      transform: translate(68.8245315162%, -16.0550458716%); }
  .custom-last-section .wireframe.w-2 {
    justify-content: flex-start; }
    .custom-last-section .wireframe.w-2 img {
      transform: translate(-53.1516183986%, -41.5137614679%); }
  .custom-last-section .article-text {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center; }
    .custom-last-section .article-text h1 {
      font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 3.75rem;
      font-weight: 500;
      line-height: 5rem; }
  .custom-last-section .wave-list {
    color: white; }
    .custom-last-section .wave-list > div:nth-child(odd) {
      transform: translate(0, -72.5%); }
    .custom-last-section .wave-list > div:nth-child(even) {
      transform: translate(0, -50%); }
  .custom-last-section .item-header {
    padding: 1.25rem 0;
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625; }

.wireframe {
  position: relative;
  width: 100%;
  height: 0;
  display: flex;
  user-select: none;
  pointer-events: none; }
  .wireframe > div {
    position: relative;
    width: 39.6621621622%;
    display: table; }
  .wireframe img {
    position: relative;
    display: block; }

.row {
  position: relative;
  z-index: 1; }

.custom-image-points-zoom {
  position: relative;
  padding-top: 7.75rem; }
  .custom-image-points-zoom .wireframe.w-1 {
    position: absolute;
    top: 0;
    justify-content: flex-end; }
    .custom-image-points-zoom .wireframe.w-1 img {
      transform: translate(36.1158432709%, -61.9266055046%); }
  .custom-image-points-zoom .custom-grid {
    padding-top: 10.625rem;
    display: grid;
    grid-template-areas: ". . . . . . . z z . . x" "i i i i i i i z z . . ." "i i i i i i i z z . . ." "i i i i i i i t t t t t" ". . . . . . . t t t t t"; }
  .custom-image-points-zoom .custom-grid-x {
    grid-area: x;
    width: auto;
    max-width: unset; }
  .custom-image-points-zoom .custom-grid-i {
    grid-area: i;
    width: auto;
    max-width: unset; }
  .custom-image-points-zoom .custom-grid-z {
    grid-area: z;
    width: auto;
    max-width: unset; }
  .custom-image-points-zoom .custom-grid-t {
    grid-area: t;
    width: auto;
    max-width: unset; }
  .custom-image-points-zoom .article-text-2 {
    padding: 6.25rem 3rem 0;
    font-size: 1rem;
    line-height: 2.1875; }
    .custom-image-points-zoom .article-text-2 > * {
      margin-bottom: 2rem; }
  .custom-image-points-zoom .main-image {
    position: relative; }
    .custom-image-points-zoom .main-image .point {
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      width: 0; }
      .custom-image-points-zoom .main-image .point:after {
        content: ' ';
        position: absolute;
        top: 0;
        width: 6.375rem;
        height: 6.375rem;
        background-image: url("../img/point.svg");
        background-size: cover;
        display: block;
        transform: translate(-3.1875rem, -3.1875rem); }
      .custom-image-points-zoom .main-image .point .path {
        position: absolute;
        transform: skewX(-30deg); }
        .custom-image-points-zoom .main-image .point .path:after {
          content: ' ';
          position: absolute;
          width: 100%;
          height: 50%;
          border-width: 2px;
          border-style: solid none none solid;
          border-color: #fff;
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
          display: block; }
  .custom-image-points-zoom .zoom-container {
    margin: -30% -50% 0;
    max-width: 25rem;
    max-height: 25rem; }
    .custom-image-points-zoom .zoom-container .image {
      position: relative;
      padding: 2px;
      border-radius: 100%;
      background-color: #fff;
      overflow: hidden; }
      .custom-image-points-zoom .zoom-container .image img {
        position: relative;
        border-radius: 100%;
        z-index: 2; }

@media (max-width: 1299.98px) {
  .custom-image-points-zoom .custom-grid {
    padding-top: 2.5rem;
    display: grid;
    grid-template-areas: "i i i i i i i z z" "i i i i i i i z z" "i i i i i i i z z" "t t t t t t t t t"; } }

@media (max-width: 991.98px) {
  .custom-image-points-zoom .zoom-container {
    margin: 0 auto; } }

@media (max-width: 575.98px) {
  .custom-image-points-zoom .custom-grid {
    display: grid;
    grid-template-areas: "i" "z" "t"; }
  .custom-image-points-zoom .zoom-container {
    margin: 0 auto; } }

.custom-which-coating-the-best .article-desc h2 {
  font-weight: 300; }
.custom-which-coating-the-best .article-desc ul {
  margin: 0.75rem auto;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: center;
  overflow: hidden; }
  .custom-which-coating-the-best .article-desc ul li {
    position: relative;
    padding: 0 3rem;
    text-transform: uppercase; }
    .custom-which-coating-the-best .article-desc ul li:before {
      content: ' ';
      position: absolute;
      right: 100%;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #707070;
      display: block; }
.custom-which-coating-the-best .article-text {
  line-height: 2.1875; }
.custom-which-coating-the-best .wireframe.w-1 {
  justify-content: flex-end; }
  .custom-which-coating-the-best .wireframe.w-1 img {
    transform: translate(48.3816013629%, 33.2568807339%); }
.custom-which-coating-the-best .wireframe.w-2 {
  justify-content: flex-start; }
  .custom-which-coating-the-best .wireframe.w-2 img {
    transform: translate(-53.8330494037%, -28.2110091743%); }

.infinite-warranty-working h1 {
  margin-bottom: 4.375rem; }
.infinite-warranty-working hr {
  margin-top: 1.375rem;
  margin-bottom: 2.0625rem;
  border-color: #35254D; }
.infinite-warranty-working .col-md-6 {
  padding-top: 3.75rem;
  padding-bottom: 2.5rem;
  border-bottom: solid 1px #35254D; }
.infinite-warranty-working .col-md-6 > div > h2 {
  margin-bottom: 3.75rem; }
.infinite-warranty-working .col-md-6 > div > h2:first-child {
  margin-bottom: 1.25rem; }

@media (min-width: 768px) {
  .infinite-warranty-working .col-md-6:nth-child(odd) {
    padding-left: 0 !important; }
  .infinite-warranty-working .col-md-6:nth-child(even) {
    padding-right: 0 !important;
    border-left: solid 1px #35254D; } }

.mainstence-5-3-years .col-md-6 {
  padding-top: 2.0625rem;
  padding-bottom: 7.0625rem;
  border-top: solid 1px #35254D; }

@media (min-width: 768px) {
  .mainstence-5-3-years .col-md-6:nth-child(odd) {
    padding-left: 0 !important; }
  .mainstence-5-3-years .col-md-6:nth-child(even) {
    padding-right: 0 !important;
    border-left: solid 1px #35254D; } }

.basic-terms-and-conditions .article-desc {
  margin-bottom: 3.75rem; }
.basic-terms-and-conditions .col-md-4:first-child, .basic-terms-and-conditions .col-md-4:last-child {
  padding: 0 !important; }

.infinite-warranty-download {
  padding-bottom: 8.75rem; }
  .infinite-warranty-download .card {
    margin-bottom: 0 !important;
    width: 100%; }
  .infinite-warranty-download .card-body {
    padding: 0; }
    .infinite-warranty-download .card-body a {
      display: flex;
      justify-content: space-between; }
    .infinite-warranty-download .card-body a:before {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0px;
      display: block;
      border-top: dashed 1px #DEDEDE; }
    .infinite-warranty-download .card-body a:after {
      content: 'Read / Download full terms';
      position: relative;
      padding: 0.5rem 0 0.5rem 1.25rem;
      background-color: #fff;
      display: inline-block;
      z-index: 2; }
  .infinite-warranty-download .card-title {
    position: relative;
    padding: 0.5rem 1.25rem 0.5rem 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875;
    text-transform: none;
    background-color: #fff;
    z-index: 2; }

.how-to-register-warranty .col-md-4 + .col-md-4 {
  position: relative; }
  .how-to-register-warranty .col-md-4 + .col-md-4:before {
    content: ' ';
    position: absolute;
    left: -4.0625rem;
    top: 1.875rem;
    width: 4.375rem;
    height: 4.375rem;
    border-top: solid 1px #35254D;
    border-right: solid 1px #35254D;
    transform: rotate(45deg);
    display: block; }

.custom-main-10-rules .article-desc {
  font-size: 1rem;
  line-height: 1.875; }
  .custom-main-10-rules .article-desc h2 {
    font-size: 2.5rem; }
  .custom-main-10-rules .article-desc .display-3 {
    position: relative;
    top: -0.625rem;
    margin: 0 -0.625rem 0 -0.9375rem;
    vertical-align: bottom; }
.custom-main-10-rules .swiper-slide {
  min-height: 21.875rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .custom-main-10-rules .swiper-slide:before {
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25rem;
    font-weight: 500;
    color: #3E3054;
    line-height: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .custom-main-10-rules .swiper-slide .text-header-long {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2; }
.custom-main-10-rules .swiper-pagination-item {
  margin: 0 1.5625rem;
  padding: 0.9375rem 0.625rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 2.2222222222;
  color: #6D5C85;
  cursor: pointer; }
  .custom-main-10-rules .swiper-pagination-item.swiper-pagination-bullet-active {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.3333333333;
    color: #fff;
    border-bottom: solid 1px #fff; }
.custom-main-10-rules .swiper-btn-nav {
  width: 2.25rem;
  height: 2.25rem; }
  .custom-main-10-rules .swiper-btn-nav:before {
    border-color: #dee2e6;
    border-top-color: #6D5C85; }
  .custom-main-10-rules .swiper-btn-nav:hover:before {
    border-color: #6D5C85;
    border-top-color: #dee2e6; }
.custom-main-10-rules .swiper-button-disabled .swiper-btn-nav {
  cursor: unset; }
  .custom-main-10-rules .swiper-button-disabled .swiper-btn-nav > * {
    color: #6D5C85;
    cursor: unset; }
  .custom-main-10-rules .swiper-button-disabled .swiper-btn-nav:before {
    border-color: #6D5C85; }

/*# sourceMappingURL=main-5bea3f69.css.map */