@media (min-width: 1500px) {
  .col-xxl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .container {
    max-width: 1400px; } }

@media (max-width: 1499.98px) {
  html {
    font-size: 15px; }
  .container, .container-break .container, .container-fluid {
    max-width: none;
    padding-left: 30px;
    padding-right: 30px; }
    .products-container .section-home-coatings .container .blue-ball {
      width: 180px;
      height: 175px; }
    .products-container .section-home-coatings .container .blue-ball-small {
      left: 43.5%; }
    .products-container .section-home-coatings .container .q2 {
      top: 20%;
      left: 25.5%; }
  .products-container .section-home-maintenance .container .q2m {
    right: 14%; }
  .products-container .section-home-maintenance .container .blue-ball-medium {
    left: 39.4%; }
  .products-container .section-home-maintenance .container .blue-bubble {
    left: 34%; }
  .products-container .section-home-ppf .container .q2f {
    right: 18%; }
  .products-container .section-home-yachts-boats .container .q2r {
    top: 17%;
    left: 23%; }
    .products-container .section-home-yachts-boats .container .q2r {
      top: 5%;
      left: 18%; } }

@media (min-width: 1200px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .display-1 {
    font-size: 8.4375rem; }
  .display-2 {
    font-size: 6.875rem; }
  .display-3 {
    font-size: 5.625rem; }
  .display-4 {
    font-size: 4.375rem; } }

@media (max-width: 1199.98px) {
  html {
    font-size: 14px; }
  header.main-header {
    height: 60px; }
    header.main-header.mobile-active .mobile-header {
      background: #322D50; }
      header.main-header.mobile-active .mobile-header .logo .st0 {
        fill: #fff; }
        header.main-header.mobile-active .mobile-header .menu-right p {
          color: #fff; }
          header.main-header.mobile-active .mobile-header .menu-right p:first-child {
            opacity: 0; }
          header.main-header.mobile-active .mobile-header .menu-right p:last-child {
            opacity: 1; }
        header.main-header.mobile-active .mobile-header .menu-right .hamburger span {
          background: #fff; }
          header.main-header.mobile-active .mobile-header .menu-right .hamburger span:nth-child(1) {
            transform: translateY(10px) rotate(45deg); }
          header.main-header.mobile-active .mobile-header .menu-right .hamburger span:nth-child(2) {
            opacity: 0; }
          header.main-header.mobile-active .mobile-header .menu-right .hamburger span:nth-child(3) {
            transform: translateY(-10px) rotate(-45deg); }
    header.main-header.mobile-active .mobile-menu {
      background: #322D50;
      transform: translateY(0vh) translateY(-60px); }
      header.main-header.mobile-active .mobile-menu .nav-link {
        font-size: 24px; }
        header.main-header.mobile-active .mobile-menu .bottom-box img {
          width: 40px; }
        header.main-header.mobile-active .mobile-menu .bottom-box p {
          font-size: 24px; }
    header.main-header .mobile-header {
      background: #fff;
      z-index: 1; }
      header.main-header .mobile-header .logo {
        width: 76px !important; }
        header.main-header .mobile-header .logo .st0 {
          fill: #3E3A5F; }
      header.main-header .mobile-header .menu-right p {
        margin-right: 10px;
        color: #322D50;
        font-size: 16px; }
        header.main-header .mobile-header .menu-right p:last-child {
          top: 0;
          left: -1px;
          opacity: 0; }
      header.main-header .mobile-header .menu-right .hamburger {
        height: 23px; }
        header.main-header .mobile-header .menu-right .hamburger span {
          display: inline-block;
          width: 30px;
          height: 3px;
          background: #322D50; }
    header.main-header .mobile-menu {
      height: calc(100vh);
      background: #fff;
      transform: translateY(-100vh); }
      header.main-header .mobile-menu .nav-link {
        padding: 10px 0;
        color: #fff;
        font-size: 0; }
      header.main-header .mobile-menu .bottom-box {
        bottom: 30px; }
        header.main-header .mobile-menu .bottom-box img {
          width: 0;
          margin-right: 10px; }
        header.main-header .mobile-menu .bottom-box p {
          color: #fff;
          font-size: 0; }
  .section-home-gyeon-way .section-header {
    margin-right: 30px;
    margin-left: 30px; }
    .products-container .text-box {
      width: 20vw; }
      .products-container .section-home-coatings .container .blue-ball {
        left: 27%;
        width: 130px;
        height: 125px; }
      .products-container .section-home-coatings .container .blue-ball-small {
        left: 42%; }
      .products-container .section-home-coatings .container .q2 {
        left: 23%; }
      .products-container .section-home-coatings .container .bottle1 {
        right: 33%; }
      .products-container .section-home-coatings .container .bottle2 {
        right: 19%; }
    .products-container .section-home-maintenance .container .q2m {
      width: 330px; }
    .products-container .section-home-maintenance .container .blue-ball-medium {
      left: 38%; }
    .products-container .section-home-maintenance .container .blue-bubble {
      left: 32%; }
    .products-container .section-home-maintenance .container .violet-ball {
      left: 36%; }
    .products-container .section-home-maintenance .container .bottle3 {
      left: 22%; }
    .products-container .section-home-maintenance .container .bottle4 {
      left: 13%; }
    .products-container .section-home-maintenance .container .diamond3 {
      left: 7%; }
  .products-container .section-home-accessories .container .speaker {
    right: 2%; }
  .products-container .section-home-accessories .container .acc-ball {
    right: 32%; }
  .products-container .section-home-accessories .container .acc-ball2 {
    left: 33.5%; }
  .products-container .section-home-accessories .container .acc-ball3 {
    left: 40%; }
  .products-container .section-home-ppf .container .ppf1 {
    left: 33%; }
  .products-container .section-home-ppf .container .ppf2 {
    left: 21%; }
  .products-container .section-home-ppf .container .q2f {
    width: 280px; }
  .products-container .section-home-yachts-boats .container .q2r {
    left: 20%; }
  .products-container .section-home-yachts-boats .container .bottle5 {
    right: 30%; }
  .products-container .section-home-yachts-boats .container .little-crystal {
    right: 43%; }
  .products-container .section-home-yachts-boats .container .little-ball {
    right: 44%; }
  .section-home-global-network .circle-photo {
    right: 24%;
    bottom: 19.5%; }
    footer .diamond6 {
      right: 10%; }
    footer .crystal3 {
      left: 10%; } }

@media (min-width: 992px) {
  header.main-header.light:not(.scroll) {
    filter: grayscale(100%) invert(100%) brightness(130%) drop-shadow(0.8px 0.8px 0px #fff); }
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .section-home-gyeon-way .section-header span {
    font-size: 1.875rem; } }

@media (max-width: 991.98px) {
  html {
    font-size: 14px; }
    body.preview {
      max-width: 100vw; }
  .container, .container-break .container, .container-fluid {
    max-width: none;
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .display-1 {
    font-size: 7.5rem; }
  .display-2 {
    font-size: 6.25rem; }
  .display-3 {
    font-size: 5rem; }
  .display-4 {
    font-size: 3.75rem; }
  .section-name {
    display: none; }
    .products-container .text-box {
      width: 25vw; }
    .products-container .product-section {
      min-height: 75vw; }
      .products-container .section-home-coatings .diamond1 {
        left: -15%; }
      .products-container .section-home-coatings .diamond2 {
        right: -19%; }
        .products-container .section-home-coatings .container .text-box {
          left: 15%; }
        .products-container .section-home-coatings .container .blue-ball {
          top: 34.5%;
          left: 18%;
          width: 160px;
          height: 155px; }
        .products-container .section-home-coatings .container .blue-ball-small {
          left: 41.5%; }
        .products-container .section-home-coatings .container .q2 {
          top: 25%;
          left: 18.5%;
          width: 300px; }
        .products-container .section-home-coatings .container .bottle1 {
          right: 28%; }
        .products-container .section-home-coatings .container .bottle2 {
          top: -35%;
          right: 10%; }
    .products-container .section-home-maintenance .container .text-box {
      right: 11%;
      bottom: 17%; }
    .products-container .section-home-maintenance .container .q2m {
      top: 23.5%;
      right: 9%;
      width: 300px; }
    .products-container .section-home-maintenance .container .blue-ball-medium {
      left: 35%; }
    .products-container .section-home-maintenance .container .blue-bubble {
      left: 26%; }
    .products-container .section-home-maintenance .container .violet-ball {
      left: 28%; }
    .products-container .section-home-maintenance .container .bottle3 {
      top: -11%;
      left: 11%; }
    .products-container .section-home-maintenance .container .bottle4 {
      left: 5%; }
    .products-container .section-home-maintenance .container .diamond3 {
      left: 3%; }
  .products-container .section-home-accessories .text-left {
    top: 45%; }
    .products-container .section-home-accessories .container .text-box {
      top: 25%;
      left: 15%; }
    .products-container .section-home-accessories .container .speaker {
      right: -7%; }
    .products-container .section-home-accessories .container .acc-ball {
      right: 29%; }
    .products-container .section-home-accessories .container .acc-bubble {
      right: 26%; }
    .products-container .section-home-accessories .container .acc-ball2 {
      bottom: 11%;
      left: 32%;
      width: 90px;
      height: 90px; }
    .products-container .section-home-accessories .container .acc-ball3 {
      bottom: 15%;
      width: 30px;
      height: 30px; }
    .products-container .section-home-accessories .container .acc-bubble2 {
      bottom: 2%;
      left: 28%;
      width: 170px;
      height: 169px; }
  .products-container .section-home-ppf .diamond4 {
    right: -13%; }
    .products-container .section-home-ppf .container .text-box {
      right: 5%; }
    .products-container .section-home-ppf .container .ppf1 {
      left: 28.5%; }
    .products-container .section-home-ppf .container .ppf2 {
      left: 12.5%; }
    .products-container .section-home-ppf .container .q2f {
      right: 13%; }
    .products-container .section-home-ppf .container .q2f {
      top: 22%;
      right: 13%;
      width: 280px; }
  .products-container .section-home-yachts-boats .container .bottle5 {
    right: 25%; }
  .products-container .section-home-yachts-boats .container .little-crystal {
    right: 42%; }
  .products-container .section-home-yachts-boats .container .little-ball {
    right: 43%; }
  .section-home-global-network {
    min-height: 75vw; }
    .section-home-global-network .map {
      top: 0;
      right: 0; }
    .section-home-global-network .circle-photo {
      right: 16%;
      bottom: 8%;
      width: 240px; }
  .section-home-news-facts {
    min-height: 75vw; }
    footer.main-footer .diamond6 {
      right: 0; }
    footer.main-footer .crystal3 {
      left: 0; }
    footer.main-footer .flow-image-shape-1 {
      position: absolute;
      left: -18.75vw;
      top: 83.75vw;
      width: 56vw;
      height: 62.625vw; }
    footer.main-footer .flow-image-shape-2 {
      position: absolute;
      left: 37.5vw;
      bottom: 40vw;
      width: 44.625vw;
      height: 54.25vw; }
    footer.main-footer .flow-image-shape-3 {
      position: absolute;
      right: -23.75vw;
      top: 18.75vw;
      width: 63vw;
      height: 73.375vw; } }

@media (min-width: 768px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 767.98px) {
  .container, .container-break .container, .container-fluid {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px; }
  h5, .h5 {
    font-size: 18px !important; }
  .mobile-fixed {
    bottom: 10px;
    z-index: 99; }
    .mobile-fixed .fixed-box {
      height: 55px;
      padding: 0 25px;
      background: #322D50;
      border-radius: 10px;
      box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5); }
      .mobile-fixed .fixed-box a {
        color: #fff;
        font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 16px; }
        .mobile-fixed .fixed-box a:first-child {
          margin-right: 25px; }
  footer.main-footer {
    padding: 110px 0; }
    footer.main-footer .footer-container .footer-subscribe {
      margin-bottom: 25px; }
      footer.main-footer .footer-container .footer-subscribe .footer-input {
        width: 100%;
        margin-bottom: 20px; }
      footer.main-footer .footer-container .footer-subscribe .footer-btn {
        width: 65%;
        padding: 5px 0;
        font-size: 24px;
        font-weight: 500; }
    footer.main-footer .footer-container .footer-text-box {
      margin-top: 110px;
      margin-bottom: 85px;
      padding-left: 15px; }
      footer.main-footer .footer-container .footer-text-box .text-1 {
        font-size: 24px; }
      footer.main-footer .footer-container .footer-text-box .txt-private {
        transform: translateX(-2px); }
        footer.main-footer .footer-container .footer-text-box .txt-private .txt-private-private {
          font-size: 72px; }
      footer.main-footer .footer-container .footer-text-box .text-2 {
        margin-left: 20px; }
      footer.main-footer .footer-container .footer-text-box .txt-oem {
        margin-left: 55px; }
      footer.main-footer .footer-container .footer-text-box .footer-arrow {
        margin-left: -15px; }
    footer.main-footer .footer-container .footer-bottom-col {
      margin-top: 45px; }
      footer.main-footer .footer-container .footer-bottom-col .footer-link {
        font-size: 24px;
        line-height: 1.625; }
      footer.main-footer .footer-container .footer-bottom-col .footer-social-box {
        padding-left: 0; }
        footer.main-footer .footer-container .footer-bottom-col .footer-social-box .footer-social {
          margin: 0 11px; }
  #slider-home {
    height: 40.625vh !important;
    margin-top: 60px; }
  .section-home-gyeon-way {
    padding-top: 60px;
    padding-bottom: 80px;
    overflow: hidden; }
    .section-home-gyeon-way .section-small-header {
      margin-bottom: 15px; }
    .section-home-gyeon-way .section-header {
      margin: 0 20px 30px;
      font-size: 47px;
      word-break: break-word; }
    .section-home-gyeon-way .btn {
      font-size: 19px; }
    .section-home-gyeon-way .image-bg {
      left: -140px;
      width: 620px;
      max-width: unset;
      opacity: 0.5; }
  .products-container .vertical-text {
    top: 300px; }
    .products-container .vertical-text h2.display-2 {
      font-size: 65px; }
  .products-container .text-box {
    width: 40vw; }
    .products-container .text-box .btn {
      font-size: 24px; }
  .products-container .section-home-coatings {
    height: 1200px; }
    .products-container .section-home-coatings .section-small-header {
      padding-top: 0; }
    .products-container .section-home-coatings .diamond-mb1 {
      top: 11%;
      right: -24%;
      left: unset;
      width: 180px;
      height: 267px;
      background-image: url("../img/diamond_mb1.svg"); }
    .products-container .section-home-coatings .diamond-mb2 {
      bottom: 35%;
      left: -18%;
      width: 180px;
      height: 267px;
      background-image: url("../img/diamond_mb2.svg"); }
    .products-container .section-home-coatings .diamond-mb3 {
      right: -29%;
      bottom: 6%;
      width: 195px;
      height: 275px;
      background-image: url("../img/diamond_mb3.svg"); }
      .products-container .section-home-coatings .container .text-box {
        bottom: 0;
        left: 20px; }
      .products-container .section-home-coatings .container .blue-ball {
        top: 18%;
        left: -3%; }
      .products-container .section-home-coatings .container .blue-ball-small {
        top: 25%;
        left: 34%; }
      .products-container .section-home-coatings .container .q2 {
        top: 13%;
        left: 2%; }
      .products-container .section-home-coatings .container .bottle1 {
        top: 25%;
        right: 8%; }
      .products-container .section-home-coatings .container .bottle2 {
        top: 28%;
        width: 280px; }
  .products-container .section-home-maintenance {
    height: 830px; }
    .products-container .section-home-maintenance .vertical-text {
      top: 310px; }
      .products-container .section-home-maintenance .container .text-box {
        right: unset;
        bottom: 0;
        left: 20px; }
      .products-container .section-home-maintenance .container .q2m {
        top: 9%;
        right: 7%; }
      .products-container .section-home-maintenance .container .blue-ball-medium {
        top: 52%;
        left: 65%;
        width: 75px; }
      .products-container .section-home-maintenance .container .blue-bubble {
        top: 46%;
        left: 46%;
        width: 182px; }
      .products-container .section-home-maintenance .container .violet-ball {
        top: -4%;
        left: 56%;
        width: 65px;
        height: 50px; }
      .products-container .section-home-maintenance .container .bottle3 {
        top: 10%;
        left: 57%; }
      .products-container .section-home-maintenance .container .diamond3 {
        bottom: 25%;
        left: -20%;
        width: 210px;
        height: 233px; }
  .products-container .section-home-accessories {
    height: 1070px; }
    .products-container .section-home-accessories .vertical-text {
      top: 200px; }
      .products-container .section-home-accessories .container .text-box {
        top: unset;
        bottom: 0;
        left: 20px; }
      .products-container .section-home-accessories .container .speaker {
        top: 33%;
        right: -14%;
        z-index: 2; }
      .products-container .section-home-accessories .container .acc-ball {
        top: 40%;
        right: 25%;
        z-index: 2; }
      .products-container .section-home-accessories .container .acc-bubble {
        top: 38.5%;
        right: 18%;
        z-index: 3; }
      .products-container .section-home-accessories .container .acc-ball2 {
        top: 32%;
        bottom: unset;
        left: 12%; }
      .products-container .section-home-accessories .container .acc-ball3 {
        top: 35%;
        bottom: unset;
        left: 30%; }
      .products-container .section-home-accessories .container .acc-bubble2 {
        top: 28.5%;
        bottom: unset;
        left: 8%; }
      .products-container .section-home-accessories .container .diamond-mb-acc {
        top: -1%;
        right: -20%;
        width: 195px;
        height: 259px;
        background-image: url("../img/diamond_mb_acc.svg");
        z-index: 1; }
  .products-container .section-home-ppf {
    height: 900px; }
    .products-container .section-home-ppf .vertical-text {
      top: 330px; }
    .products-container .section-home-ppf .diamond4 {
      top: -11%;
      right: -23%;
      width: 195px;
      height: 265px; }
      .products-container .section-home-ppf .container .text-box {
        top: unset;
        right: unset;
        bottom: 20%;
        left: 20px; }
      .products-container .section-home-ppf .container .ppf1 {
        top: 48%;
        left: 67%; }
      .products-container .section-home-ppf .container .ppf2 {
        top: -3%;
        left: -13%; }
      .products-container .section-home-ppf .container .q2f {
        top: 20%;
        right: 11%; }
  .products-container .section-home-yachts-boats {
    height: 1000px; }
    .products-container .section-home-yachts-boats .container > h5 {
      padding-top: 0; }
    .products-container .section-home-yachts-boats .container .text-box {
      bottom: 90px;
      left: 20px; }
    .products-container .section-home-yachts-boats .container .q2r {
      top: 10%;
      left: 5%;
      width: 310px; }
    .products-container .section-home-yachts-boats .container .crystal {
      top: 23%;
      left: 0; }
    .products-container .section-home-yachts-boats .container .bottle5 {
      top: 30%; }
    .products-container .section-home-yachts-boats .container .little-crystal {
      top: 48%;
      right: 62%; }
    .products-container .section-home-yachts-boats .container .little-ball {
      top: -10%;
      right: 65%; }
    .products-container .section-home-yachts-boats .diamond-mb4 {
      bottom: -65px;
      right: -100px;
      width: 195px;
      height: 275px;
      background-image: url("../img/diamond_mb4.svg"); }
  .section-home-global-network {
    height: 660px;
    background-image: url("../img/map_mb.png");
    background-position: top center;
    background-repeat: no-repeat; }
    .section-home-global-network > h5:first-child {
      padding: 65px 20px 0; }
    .section-home-global-network .text-box {
      top: 160px;
      bottom: unset;
      left: 20px; }
      .section-home-global-network .text-box .text-box-header {
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 300; }
      .section-home-global-network .text-box p {
        width: 245px;
        font-size: 16px; }
      .section-home-global-network .text-box footer {
        font-size: 24px !important; }
      .section-home-global-network .text-box .btn {
        font-size: 24px; }
  .section-home-news-facts {
    height: auto;
    padding-bottom: 65px; }
    .section-home-news-facts .crystal-mb1 {
      top: -118px;
      right: -240px;
      width: 360px;
      height: 283px;
      background-image: url("../img/crystal_mb1.svg"); }
    .section-home-news-facts .section-header {
      padding-top: 50px;
      margin-bottom: 50px;
      font-size: 40px;
      font-weight: 300;
      text-align: left !important; }
    .section-home-news-facts .swiper-slide {
      width: 75% !important; }
  .section-gec-experience {
    padding: 60px 0 220px;
    z-index: 1; }
    .section-gec-experience .gyeon-experience-bg1 {
      top: -90%;
      left: -160%;
      max-width: unset; }
    .section-gec-experience .gyeon-experience-bg2 {
      top: 55%;
      right: -65%;
      max-width: unset;
      width: 600px; }
    .section-gec-experience .section-small-header {
      margin-bottom: 40px; }
    .section-gec-experience .section-header {
      margin-bottom: 25px;
      font-size: 38px; }
    .section-gec-experience p {
      width: unset;
      margin-left: 0; }
    .section-gec-experience .navy-blue-ball1 {
      top: 85%;
      width: 180px;
      height: 171px; }
    .section-gec-experience .red-ball1 {
      top: 130%;
      right: -2%;
      width: 140px;
      height: 108px; }
    .section-gec-experience .red-ball2 {
      right: 65%;
      bottom: -80%; }
  .section-gec-center .navy-blue-ball2 {
    top: 25%;
    left: -13%;
    z-index: 2; }
  .section-gec-center .plywood {
    top: 70%;
    left: 13%;
    z-index: 3; }
  .section-gec-center .gec-diamond {
    top: 64.5%;
    left: 8%;
    width: 195px; }
  .section-gec-center .txt-gyeon {
    top: 4.75%;
    right: unset;
    left: 8%;
    width: 225px; }
  .section-gec-center .box-experience {
    top: 21%;
    right: unset;
    left: -18%; }
    .section-gec-center .box-experience .txt-experience {
      font-size: 32px;
      transform: translateX(57px) rotate(-90deg); }
    .section-gec-center .box-experience img {
      width: 270px; }
  .section-gec-center .txt-center {
    right: unset;
    bottom: 33.5%;
    left: 8%;
    width: 265px; }
  .section-gec-center .center-slant {
    background: linear-gradient(173deg, transparent 0%, transparent 50%, #DE3F7D 51%, #DE3F7D 100%); }
  .section-gec-trainers .trainers-row {
    padding: 0 30px; }
    .section-gec-trainers .trainers-row .trainers-col {
      margin-bottom: 80px;
      padding: 0 !important; }
  .section-gec-trainers .trainers-diamond1 {
    top: -11%;
    right: -29%; }
  .section-gec-trainers .trainers-diamond2 {
    bottom: 2%;
    left: -26%; }
  .section-gec-trainers .trainers-redball1 {
    top: -13%; }
  .section-gec-trainers .trainers-redball2 {
    top: 12%; }
  .section-gec-trainers .trainers-redball2-2 {
    top: 35%;
    right: 22%;
    left: unset; }
  .section-gec-teachers {
    padding-top: 100px;
    padding-bottom: 80px; }
    .section-gec-teachers .section-header {
      margin-left: 30px; }
    .section-gec-teachers .teachers-text {
      margin-bottom: 40px;
      margin-left: 30px; }
    .section-gec-teachers .swiper-teachers-prev:hover, .section-gec-teachers .swiper-teachers-next:hover {
      opacity: 1; }
    .section-gec-teachers .swiper-container {
      margin-left: -35px;
      transform: translateX(35px); }
      .section-gec-teachers .swiper-container .swiper-slide {
        width: 330px !important;
        padding: 40px 0; }
        .section-gec-teachers .swiper-container .swiper-slide.swiper-slide-active, .section-gec-teachers .swiper-container .swiper-slide.swiper-slide-duplicate-active {
          margin-left: 0; }
    .section-gec-teachers .teachers-crystal {
      top: -21%;
      right: -59%;
      left: unset; }
  .section-gec-training {
    padding: 60px 0 115px; }
    .section-gec-training .txt-book {
      margin-bottom: 45px; }
    .section-gec-training .cards-container {
      left: calc(-1 * (100vw - 100%) / 2);
      width: 100vw;
      margin: 0; }
      .section-gec-training .cards-container .training-card {
        margin-bottom: 85px;
        padding: 0; }
        .section-gec-training .cards-container .training-card:last-child {
          margin-bottom: 0; }
    .section-gec-training .training-crystal {
      right: -30%;
      bottom: -5.5%;
      width: 510px;
      height: 390px;
      max-width: unset; }
  .section-gec-advanced .advanced-diamond {
    top: 25.5%;
    left: -41%; }
    .section-gec-advanced .advanced-row .g-hero {
      position: relative !important;
      margin-bottom: 40px; }
    .section-gec-advanced .advanced-row .advanced-header {
      line-height: 0.9090909091; }
    .section-gec-advanced .advanced-row .advanced-underheader {
      line-height: 1.1666666667; }
  .section-gec-advanced .cards-container {
    left: calc(-1 * (100vw - 100%) / 2);
    width: 100vw;
    margin: 0; }
    .section-gec-advanced .cards-container .training-card {
      margin-bottom: 85px;
      padding: 0; }
      .section-gec-advanced .cards-container .training-card:last-child {
        margin-bottom: 0; }
  .section-gec-trainees .trainees-slant {
    background: linear-gradient(185deg, #EDF0F8 0%, #EDF0F8 50%, #202945 51%, #202945 100%); }
  .section-gec-trainees .trainees-head {
    padding-top: 20px;
    margin-bottom: 80px; }
    .section-gec-trainees .trainees-head .trainees-diamond1 {
      top: 0;
      left: -10%; }
    .section-gec-trainees .trainees-head .quote {
      top: 13%;
      left: 25%; }
  .section-gec-trainees .trainees-diamond2 {
    top: 9%;
    right: -55%; }
  .section-gec-trainees .grid-item {
    height: 265px; } }

@media (min-width: 576px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 575.98px) {
  .products-container .text-box {
    width: 75vw; } }

/*# sourceMappingURL=media-4937410c.css.map */