@media (min-width: 1500px) {
  .col-xxl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 1499.98px) {
  html {
    font-size: 15px; } }

@media (min-width: 1300px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .display-1 {
    font-size: 8.4375rem; }
  .display-2 {
    font-size: 6.875rem; }
  .display-3 {
    font-size: 5.625rem; }
  .display-4 {
    font-size: 4.375rem; } }

@media (max-width: 1299.98px) {
  html {
    font-size: 14px; }
  .container, .container-break .container, .container-fluid {
    max-width: none;
    padding-left: 3.75rem;
    padding-right: 3.75rem; } }

@media (min-width: 992px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 991.98px) {
  html {
    font-size: 14px; }
    body.preview {
      max-width: 100vw; }
  .container, .container-break .container, .container-fluid {
    max-width: none;
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .display-1 {
    font-size: 7.5rem; }
  .display-2 {
    font-size: 6.25rem; }
  .display-3 {
    font-size: 5rem; }
  .display-4 {
    font-size: 3.75rem; }
  .article-text, .start .text {
    font-size: inherit; } }

@media (min-width: 768px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

@media (max-width: 767.98px) {
  html {
    font-size: 12px; }
  body {
    font-size: 14px; }
  .container, .container-break .container, .container-fluid {
    max-width: none;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem; } }

@media (min-width: 576px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; } }

/*# sourceMappingURL=media-20efa5ec.css.map */