@media (max-width: 1499.98px) {
  html {
    font-size: 15px; } }

@media (max-width: 1299.98px) {
  html {
    font-size: 14px; } }

@media (max-width: 991.98px) {
  html {
    font-size: 14px; }
    body.preview {
      max-width: 100vw; } }

@media (max-width: 767.98px) {
  html {
    font-size: 12px; }
  body {
    font-size: 14px; } }

/*# sourceMappingURL=media-67bc74c7.css.map */