#models {
  width: 100%;
  height: 100%;
  position: relative; }

#models-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff url(../img/loader.gif) no-repeat center center;
  z-index: 50; }

.models-infotip {
  position: absolute;
  padding: 0;
  background: #f00;
  color: #333;
  text-align: center;
  opacity: 0.9; }

.models-infotip a {
  display: block;
  padding: 3px 5px;
  color: #333;
  text-align: center;
  background: #ececec; }

.models-infotip a:hover {
  text-decoration: none; }

#models .view-item {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%; }

#models .views-navigation {
  margin: 0;
  padding: 0;
  list-style: none; }

#models .views-navigation li {
  display: inline-block; }

#models .views-navigation li a {
  display: block;
  padding: 0.1875rem 0.375rem;
  background: #e9ecef none repeat scroll 0 0;
  color: #282828;
  text-decoration: none; }

#models .views-navigation li a:hover {
  background: #188ef4;
  color: #fff; }

#models .views-navigation li a.active {
  background: #188ef4;
  color: #fff; }

#models .views-navigation li a.active:hover {
  background: #79bef9;
  color: #fff; }

.models-tooltip {
  display: none;
  position: absolute;
  top: 0;
  border: 1px solid #e9ecef;
  padding: 2.1875rem;
  width: 25rem;
  background: #fff;
  opacity: 1;
  color: #adb5bd;
  z-index: 1000; }

.tooltip-feature-title {
  color: #282828; }

.tooltip-feature-value {
  color: #188ef4;
  text-align: right; }

.tooltip-free-floor {
  color: #28a745; }

.tooltip-sold-floor {
  color: #dc3545; }

.tooltip-reserved-floor {
  color: #000; }

.models-tooltip table {
  margin-top: 10px;
  font-size: 12px;
  width: 100%; }

.models-tooltip table td {
  padding-bottom: 5px; }

.models-tooltip table .col2 {
  text-align: right; }

.models-map-image {
  width: 100%; }

.models-tooltip dt {
  display: inline-block;
  font-weight: 400 !important;
  font-size: 16px; }

.models-tooltip dd {
  display: inline-block;
  font-weight: 400 !important;
  color: #f26a63;
  font-size: 16px; }

.models-tooltip dl {
  margin: 0;
  padding: 0; }

.floor-tooltips {
  border: 1px solid #e9ecef;
  padding: 2.1875rem;
  width: 25rem;
  background: #fff;
  color: #adb5bd;
  opacity: 1; }

.dl-horizontal.tooltips dl {
  margin: 0px 0px 40px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }

.dl-horizontal.tooltips dt {
  width: 100px;
  padding: 3px 0;
  font-weight: 300;
  text-align: left;
  float: left !important; }

.dl-horizontal.tooltips dd {
  margin-left: 0px;
  padding: 3px 0;
  padding-left: 110px;
  border-bottom: 1px solid #dadada;
  font-weight: 700; }

.dl-horizontal.tooltips dd:last-child {
  border-bottom: 0px; }

#models-container .title-navigation {
  display: none; }

/*# sourceMappingURL=models-c2e9a369.css.map */