.page-maintenance-bg {
  background-color: #EDF0F8; }

.section-maintenance {
  color: #322c47; }

.section-maintenance-main {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff; }
  .section-maintenance-main * {
    color: inherit;
    line-height: 1.1; }
  .section-maintenance-main .break {
    display: inline-flex;
    width: 0; }
  .section-maintenance-main .section-header {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 6.6666666667rem;
    font-size: clamp(4rem, 13vw, 6.6666666667rem);
    font-weight: 700;
    color: inherit;
    line-height: 1; }
  .section-maintenance-main .section-subheader {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.1333333333rem;
    font-size: clamp(1.6rem, 8vw, 2.1333333333rem);
    font-weight: 300;
    color: inherit; }
  .section-maintenance-main .btn-book {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.3333333333rem;
    text-decoration: underline; }
    .section-maintenance-main .btn-book:hover {
      text-decoration: none; }
  .section-maintenance-main .flow-image-ball {
    position: absolute;
    top: -12%;
    left: -8%;
    width: 34.375%;
    height: 34.375%;
    background-image: url('../img/violet_ball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%); }
  .section-maintenance-main .flow-image-orange-balls {
    position: absolute;
    top: 4.5%;
    left: -10%;
    width: 66.875%;
    height: 69.375%;
    background-image: url('../img/orange-balls.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .section-maintenance-main .flow-image-ball-orange {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 25%;
    height: 25%;
    background-image: url('../img/violet_ball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: hue-rotate(134deg) contrast(250%); }

@media (max-width: 768px) {
  .section-maintenance-main .flow-image-ball {
    top: -25%;
    left: -20%;
    width: 55%;
    height: 55%; }
  .section-maintenance-main .flow-image-orange-balls {
    top: 30%;
    left: 24%;
    width: 107%;
    height: 111%; }
  .section-maintenance-main .flow-image-ball-orange {
    top: 50%;
    left: 39%;
    width: 25%;
    height: 25%; } }

.section-maintenance-second {
  position: relative; }
  .section-maintenance-second .container {
    position: relative; }
  .section-maintenance-second .section-header {
    margin-bottom: 1.0666666667rem;
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3.2rem;
    font-weight: 700;
    color: inherit;
    line-height: 1; }
  .section-maintenance-second .flow-image-text-maintenance {
    position: absolute;
    top: 12rem;
    left: 8%; }
  .section-maintenance-second .flow-image-text-q2m {
    position: absolute;
    top: 26.6666666667rem;
    left: 42%; }

@media (max-width: 768px) {
  .section-maintenance-second .flow-image-text-maintenance {
    position: absolute;
    top: 12rem;
    left: 0; }
  .section-maintenance-second .flow-image-text-q2m {
    position: absolute;
    top: 13.3333333333rem;
    left: 0;
    width: 5rem; } }

.section-maintenance-price {
  position: relative;
  perspective: 1000px;
  color: #fff; }
  .section-maintenance-price .section-bg {
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden; }
    .section-maintenance-price .section-bg .skew {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform-origin: top right;
      transform: skew(0deg, -3deg);
      background-color: #322c47;
      overflow: hidden; }
  .section-maintenance-price .container {
    position: relative;
    z-index: 3; }
  .section-maintenance-price .cel-value {
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 6.6666666667rem;
    font-size: clamp(4.8rem, 8vw, 6.6666666667rem);
    color: inherit; }
  .section-maintenance-price .cel-label {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    font-size: 2.6666666667rem;
    color: inherit; }
  .section-maintenance-price .flow-image-1 {
    position: absolute;
    top: 3.3333333333rem;
    left: -10%;
    width: 33.3333333333rem;
    height: 33.3333333333rem;
    background-image: url('../img/shape-03.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(80deg);
    filter: hue-rotate(130deg) brightness(2); }
  .section-maintenance-price .flow-image-2 {
    position: absolute;
    bottom: 6.6666666667rem;
    right: -10%;
    width: 33.3333333333rem;
    height: 33.3333333333rem;
    background-image: url('../img/shape-02.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(80deg);
    filter: hue-rotate(130deg) brightness(2); }
  .section-maintenance-price .flow-image-ball-orange {
    position: absolute;
    top: -4%;
    right: -10%;
    width: 33.3333333333rem;
    height: 10.333333rem;
    background-image: url('../img/violet_ball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-45deg);
    filter: hue-rotate(134deg) contrast(250%);
    z-index: 2; }
  .section-maintenance-price .flow-image-orange-balls-1 {
    position: absolute;
    top: 4.5%;
    left: -20%;
    width: 66.875%;
    height: 69.375%;
    background-image: url('../img/orange-balls.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(295deg);
    z-index: 3; }
  .section-maintenance-price .flow-image-orange-balls-2 {
    position: absolute;
    top: 4.5%;
    right: -20%;
    width: 40vw;
    height: 40vw;
    background-image: url('../img/orange-balls.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(205deg);
    z-index: 3; }

@media (max-width: 768px) {
  .section-maintenance-price .flow-image-1 {
    top: -8rem;
    left: -25%;
    transform: rotate(140deg) !important; }
  .section-maintenance-price .flow-image-2 {
    bottom: -12rem;
    right: -20%;
    transform: rotate(170deg) !important; }
  .section-maintenance-price .flow-image-ball-orange {
    top: unset;
    right: unset;
    bottom: 0%;
    left: -15%; }
  .section-maintenance-price .flow-image-orange-balls-1 {
    top: 44.5%;
    left: 20%;
    width: 60vw;
    height: 60vw; }
  .section-maintenance-price .flow-image-orange-balls-2 {
    width: 100vw;
    height: 100vw; } }

.section-maintenance-program {
  overflow: hidden; }
  .section-maintenance-program .section-header {
    margin-bottom: 1.6rem;
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 3.2rem;
    font-size: clamp(1.8666666667rem, 12vw, 3.2rem);
    line-height: 1; }
  .section-maintenance-program .program-label {
    margin-bottom: 1.0666666667rem;
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 1.0666666667rem;
    line-height: 1;
    text-transform: uppercase; }
  .section-maintenance-program .program-value {
    margin-bottom: 0; }
    .section-maintenance-program .program-value figcaption {
      margin-top: 0.5333333333rem;
      font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 600;
      font-size: 0.8rem;
      line-height: 1.2;
      color: #323232;
      text-transform: uppercase;
      text-align: center; }
  .section-maintenance-program .btn-book-now {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.3333333333rem;
    text-decoration: underline; }
  .section-maintenance-program .program-enum {
    margin: -1.3333333333rem 0 -1.3333333333rem;
    padding: 0;
    list-style: none;
    counter-reset: numbers; }
    .section-maintenance-program .program-enum li {
      margin: 2.6666666667rem 0;
      position: relative;
      padding: 0.25em 0;
      padding-left: 3.125em;
      font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 600;
      font-size: 1.6rem;
      color: #322c47;
      line-height: 1.5; }
      .section-maintenance-program .program-enum li:before {
        content: counters(numbers, ".") " ";
        counter-increment: numbers;
        position: absolute;
        top: 0;
        left: 0;
        font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-weight: 700;
        color: #fff;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        background-color: #DE3F7D;
        display: inline-flex;
        justify-content: center;
        align-items: center; }
  .section-maintenance-program .container {
    position: relative;
    z-index: 3; }
  .section-maintenance-program .flow-image-1 {
    position: absolute;
    bottom: -16.6666666667rem;
    left: -17%;
    width: 33.3333333333rem;
    height: 33.3333333333rem;
    background-image: url('../img/shape-08.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-7deg); }
  .section-maintenance-program .flow-image-2 {
    position: absolute;
    top: 6.6666666667rem;
    right: -20%;
    width: 33.3333333333rem;
    height: 33.3333333333rem;
    background-image: url('../img/shape-03.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-80deg); }

@media (max-width: 768px) {
  .section-maintenance-program .no-select {
    transform: rotate(180deg); }
  .section-maintenance-program .flow-image-1 {
    bottom: 13.3333333333rem;
    left: -67%; }
  .section-maintenance-program .flow-image-2 {
    right: -47%;
    top: unset;
    bottom: 53.3333333333rem; } }

.section-maintenance-form {
  background-image: url('../img/gyeon_way_06.svg');
  background-position: center -10%;
  background-repeat: no-repeat;
  background-size: auto; }
  .section-maintenance-form .section-header {
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 4.8rem;
    font-size: clamp(2.1333333333rem, 5.270863836vw, 4.8rem);
    line-height: 1; }
  .section-maintenance-form .dp_target {
    margin-left: -100vw;
    width: calc(100% + 100vw);
    max-width: unset;
    flex: 0 0 auto; }

body .daterangepicker .calendar-table {
  font-size: 16px; }
  body .daterangepicker .calendar-table th {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 1.1em; }
  body .daterangepicker .calendar-table td {
    margin: 0.1em 0;
    padding: 0;
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 1.1em;
    min-width: 2em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: solid 5px white;
    border-style: solid none;
    background-color: transparent; }
    body .daterangepicker .calendar-table td.active.off {
      color: #EDF0F8; }
    body .daterangepicker .calendar-table td.in-range {
      position: relative;
      border-radius: 3em 0 0 3em; }
      body .daterangepicker .calendar-table td.in-range:after {
        content: ' ';
        position: absolute;
        top: 0.3em;
        left: -0.3em;
        right: -0.3em;
        bottom: 0.3em;
        border-radius: 0.2em;
        display: block;
        background-color: #DE3F7D;
        filter: contrast(15%) brightness(180%);
        pointer-events: none; }
      body .daterangepicker .calendar-table td.in-range:first-child:after {
        left: 0.3em;
        border-radius: 2em 0 0 2em; }
      body .daterangepicker .calendar-table td.in-range:last-child:after {
        right: 0.3em;
        border-radius: 0 2em 2em 0; }
    body .daterangepicker .calendar-table td.end-date:after {
      display: none; }
  body .daterangepicker .calendar-table td:hover:after {
    display: none; }
  body .daterangepicker .calendar-table td:hover, body .daterangepicker .calendar-table td.active, body .daterangepicker .calendar-table td.start-date, body .daterangepicker .calendar-table td.end-date {
    position: relative;
    color: #fff;
    border: solid 0.3em white;
    border-style: solid none;
    background-color: transparent; }
    body .daterangepicker .calendar-table td:hover:before, body .daterangepicker .calendar-table td.active:before, body .daterangepicker .calendar-table td.start-date:before, body .daterangepicker .calendar-table td.end-date:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      border-radius: 3em;
      background-color: #DE3F7D;
      pointer-events: none; }
  body .daterangepicker .calendar-table td > span {
    margin: 0 -1em;
    position: relative;
    z-index: 2;
    pointer-events: none; }

/*# sourceMappingURL=page-maintenance-4add9773.css.map */