.page-about .container {
  position: relative; }
  .page-about .container .bg {
    position: absolute;
    top: 0;
    left: 25%;
    right: 0;
    bottom: 0;
    background-color: rgba(74, 152, 196, 0.16); }
.page-about header .page-about-header {
  margin-bottom: 0.5333333333rem;
  font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 3.7333333333rem; }
.page-about header p {
  font-size: 0.8rem;
  font-weight: 600; }
.page-about .image {
  filter: drop-shadow(0 0 1.3333333333rem rgba(0, 0, 0, 0.2)); }
  .page-about .spec dt {
    font-weight: 600;
    font-size: 1.6rem; }
  .page-about .spec dd {
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    font-size: 0.8rem; }
  .page-about .spec:after {
    content: ' ';
    margin: 1.6rem 0;
    height: 1px;
    width: 100%;
    background-color: #322c47;
    display: block; }
.page-about .page-about-header {
  margin-bottom: 1.0666666667rem;
  font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
  font-size: 2.1333333333rem; }
.page-about footer {
  margin-bottom: 0.5333333333rem;
  font-size: 0.8rem;
  font-weight: 600; }

/*# sourceMappingURL=page-about-6a1a5bb1.css.map */