.page-category-bg {
  background-color: #EDF0F8; }

.section-category {
  position: relative; }
  .section-category .section-header, .section-category .section-subheader {
    margin-bottom: 1.0666666667rem;
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 4.3333333333rem;
    font-weight: 700;
    line-height: 1; }
  .section-category .section-subheader {
    font-size: 3.2rem; }
  .section-category p {
    font-size: 1.0666666667rem;
    line-height: 1.5; }

.section-category-swiper .scroll {
  z-index: 5;
  bottom: 3.2rem; }
  .section-category-swiper .scroll .scroll-arrow:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 1px;
    height: 5.6666666667rem;
    background: #6a6a6a; }

.section-category-maintenance .container {
  padding-top: 5.3333333333rem;
  padding-bottom: 8rem; }
.section-category-maintenance .section-header {
  transform: rotate(-90deg); }
.section-category-maintenance .bg-image {
  position: absolute;
  top: 11rem;
  left: 32.4304538799vw;
  width: 60.2489019034vw;
  height: 54.5387994143vw;
  background-image: url('../img/gyeon_way_05.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-90deg); }
.section-category-maintenance .flow-image-1 {
  position: absolute;
  top: 10.9333333333rem;
  left: 81.4787701318vw;
  width: 5.4rem;
  height: 5.9333333333rem;
  background-image: url('../img/opal-01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
.section-category-maintenance .flow-image-2 {
  position: absolute;
  top: 29.2rem;
  left: 10.4685212299vw;
  width: 4rem;
  height: 4rem;
  background-image: url('../img/opal-02.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
.section-category-maintenance .flow-image-bottle {
  position: absolute;
  top: 18.4666666667rem;
  left: 39.0922401171vw;
  width: 19.4rem;
  height: 37.0666666667rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-category-maintenance .flow-image-bottle img, .section-category-maintenance .flow-image-bottle svg {
    min-width: unset;
    min-height: unset;
    max-width: 100%;
    max-height: 100%; }
.section-category-maintenance .flow-image-3-objects {
  position: absolute;
  top: 16.4666666667rem;
  left: 36.6032210835vw;
  width: 10.9333333333rem;
  height: 10.9333333333rem;
  background-image: url('../img/plywood.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
.section-category-maintenance .flow-image-blue-balls {
  position: absolute;
  top: 30.4rem;
  left: 38.7994143485vw;
  width: 23.6666666667rem;
  height: 19.7333333333rem;
  background-image: url('../img/blue-balls.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
.section-category-maintenance .flow-image-text-q2m {
  position: absolute;
  top: 8.7333333333rem;
  left: 18.5212298682vw;
  width: 25.6954612006vw;
  height: 11.0541727672vw; }

@media (max-width: 768px) {
  .section-category-maintenance .container {
    padding-bottom: 4rem; } }

@media (max-width: 576px) {
  .section-category-maintenance .flow-image-text-q2m {
    position: absolute;
    top: 11.4rem;
    left: 6.6666666667vw;
    width: 93.6vw;
    height: 40.2666666667vw; }
  .section-category-maintenance .flow-image-blue-balls {
    top: 16.4666666667rem; }
  .section-category-maintenance .flow-image-bottle {
    top: 21.8rem; }
  .section-category-maintenance .flow-image-3-objects {
    top: 18.4666666667rem; } }

.section-category-second-swiper {
  perspective: 1000px;
  margin: 6.6666666667rem 0 16.6666666667rem; }
  .section-category-second-swiper:before, .section-category-second-swiper:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: -30vw;
    right: -10vw;
    bottom: 0;
    display: block;
    transform-origin: center right;
    transform: rotateY(-10deg) scale(1.1);
    transition: all 0.4s ease-in-out; }
  .section-category-second-swiper:before {
    background-color: var(--bg-color, #F8995D);
    background-image: url('../img/gyeon_way_04.svg');
    background-position: center left;
    background-repeat: no-repeat;
    z-index: 1; }
  .section-category-second-swiper:after {
    background-image: radial-gradient(circle closest-side at 75% 50%, var(--bg-color, #F8995D), rgba(255, 255, 255, 0));
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    z-index: 2;
    filter: brightness(150%); }
  .section-category-second-swiper .container {
    position: relative;
    z-index: 4; }
  .section-category-second-swiper .swiper-slider {
    overflow: visible; }
  .section-category-second-swiper .swiper-slide {
    opacity: 1;
    transition: all 0.1s ease; }
    .section-category-second-swiper .swiper-slide.swiper-slide-next, .section-category-second-swiper .swiper-slide.swiper-slide-duplicate-next, .section-category-second-swiper .swiper-slide.swiper-slide-prev, .section-category-second-swiper .swiper-slide.swiper-slide-duplicate-prev {
      opacity: 0; }
  .section-category-second-swiper .swiper-slide-header {
    margin-bottom: 1.0666666667rem;
    font-size: 3.2rem;
    font-weight: 700; }
  .section-category-second-swiper .embed-responsive {
    overflow: visible; }
  .section-category-second-swiper .swiper-slide-image {
    position: absolute;
    top: -3.2rem; }
    .section-category-second-swiper .swiper-slide-image figure {
      padding: 5px;
      background-image: url('../img/orange-balls.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: drop-shadow(5px 16px 75px var(--shadow-color, #EB5B00)); }
      .section-category-second-swiper .swiper-slide-image figure img, .section-category-second-swiper .swiper-slide-image figure svg {
        min-width: unset;
        min-height: unset;
        max-width: 100%;
        max-height: 100%; }
  .section-category-second-swiper .flow-image-shape {
    position: absolute;
    z-index: 3;
    top: 13.3333333333rem;
    left: 48.6090775988vw;
    width: 40.6295754026vw;
    height: 30.4538799414vw;
    background-image: url('../img/shape-08.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

@media (max-width: 576px) {
  .section-category-second-swiper .flow-image-shape {
    top: 33.3333333333rem;
    left: -13.3333333333vw;
    width: 120vw;
    height: 110.9333333333vw; } }

.section-category-products .section-header {
  font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.2rem; }
  .section-category-products .slider-products .swiper-slide {
    background-color: #fff; }
    .section-category-products .slider-products .swiper-slide .embed-responsive-item img, .section-category-products .slider-products .swiper-slide:hover .embed-responsive-item img {
      filter: none; }
    .section-category-products .slider-products .swiper-slide:hover {
      filter: drop-shadow(0 1.3333333333rem 2rem rgba(0, 0, 0, 0.1)); }
.section-category-products .flow-image-shape {
  position: absolute;
  top: -13.3333333333rem;
  left: -5.8565153734vw;
  width: 37.1156661786vw;
  height: 24.3045387994vw;
  background-image: url('../img/shape-02.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-15deg); }

@media (max-width: 576px) {
  .section-category-products .flow-image-shape {
    top: 0rem;
    left: -45.3333333333vw;
    width: 133.3333333333vw;
    height: 88.8vw; } }

.section-category-video .section-header {
  font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 6.6666666667rem; }
.section-category-video .section-subheader {
  font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.6rem; }
.section-category-video .video-link-image {
  position: relative; }
.section-category-video .btn-play-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
.section-category-video .flow-image-shape-1 {
  position: absolute;
  top: -6.6666666667rem;
  left: 16.8374816984vw;
  width: 29.2825768668vw;
  height: 19.0336749634vw;
  background-image: url('../img/shape-02.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(-15deg); }
.section-category-video .flow-image-shape-2 {
  position: absolute;
  top: 20rem;
  left: 65.8857979502vw;
  width: 37.1156661786vw;
  height: 24.3045387994vw;
  background-image: url('../img/shape-02.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(100deg); }
.section-category-video .flow-image-text-video {
  position: absolute;
  top: 36.6666666667rem;
  left: 7.3206442167vw;
  height: 14.6412884334vw;
  width: 49.0483162518vw;
  transform-origin: top left;
  transform: rotate(-90deg); }
  .section-category-video .flow-image-text-video text {
    stroke-width: 0.4; }

@media (max-width: 768px) {
  .section-category-video .section-header {
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 3.2rem; }
  .section-category-video .flow-image-text-video {
    position: static;
    transform: none !important; }
    .section-category-video .flow-image-text-video text {
      stroke-width: 1; }
  .section-category-video .video-link-image {
    position: relative;
    left: -20px;
    width: 100vw;
    height: 100vw; }
    .section-category-video .video-link-image img {
      min-height: 100%; } }

@media (max-width: 576px) {
  .section-category-video .flow-image-shape-1 {
    top: 13.3333333333rem;
    left: -72vw;
    width: 133.3333333333vw;
    height: 88.8vw; }
  .section-category-video .flow-image-shape-2 {
    top: 20rem;
    left: 42.6666666667vw;
    width: 135.2vw;
    height: 88.5333333333vw; } }

.section-category-courses {
  position: relative; }
  .section-category-courses:before {
    content: ' ';
    position: absolute;
    top: 2.1333333333rem;
    left: -10vw;
    right: -10vw;
    bottom: 2.1333333333rem;
    display: block;
    background-color: #fff;
    transform: rotate(-3deg); }
  .section-category-courses .flow-image-shape {
    position: absolute;
    top: 5.3333333333rem;
    left: 24.8901903367vw;
    width: 34.4070278184vw;
    height: 21.9619326501vw;
    background-image: url('../img/crystal_mb1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-50deg); }

@media (max-width: 576px) {
  .section-category-courses .flow-image-shape {
    top: 25.3333333333rem;
    width: 125.3333333333vw;
    height: 80vw; } }

.section-category-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .section-category-boxes .box-link {
    position: relative;
    padding: 1.6rem 2.1333333333rem;
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.0666666667rem;
    font-weight: 600;
    line-height: 1.3333333333rem;
    text-transform: uppercase;
    text-decoration: underline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    .section-category-boxes .box-link .arrow {
      margin-left: 0.5333333333rem;
      width: 1.6666666667rem;
      height: 0.8666666667rem;
      display: inline-flex;
      background-image: url('../img/arrow-primary.svg');
      background-size: contain;
      background-repeat: no-repeat; }
      .section-category-boxes .box-link.text-white .arrow {
        background-image: url('../img/arrow-white.svg'); }
    .section-category-boxes .box-link:hover {
      text-decoration: none; }
  .section-category-boxes .flow-image-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 40.6295754026vw;
    height: 30.4538799414vw;
    background-image: url('../img/shape-08.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-15deg); }

@media (max-width: 576px) {
  .section-category-boxes .flow-image-shape {
    right: -8vw;
    width: 148vw;
    height: 110.9333333333vw; } }

/*# sourceMappingURL=page-category-f2a7373d.css.map */