/*---------------------------------------------------------------------------------------------------------- GEC HOME */
.gec-home {
  height: 100vh;
  overflow: hidden;
  z-index: 2; }
  .gec-home .scroll {
    bottom: 2.6666666667rem;
    z-index: 1; }
    .gec-home .scroll .scroll-arrow {
      color: #e7dfbf;
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 0.9333333333rem;
      font-weight: 300; }
      .gec-home .scroll .scroll-arrow:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        width: 1px;
        height: 5.6666666667rem;
        background: #e7dfbf; }

/*---------------------------------------------------------------------------------------------------- GEC EXPERIENCE */
.section-gec-experience {
  padding: 5.3333333333rem 0 4.6666666667rem;
  background: #EDF0F8; }
  .section-gec-experience .gyeon-experience-bg1 {
    top: -89%;
    left: -22%;
    width: 64.7333333333rem;
    height: 65.3333333333rem;
    background-image: url("../img/gyeon_experience_bg1.svg"); }
  .section-gec-experience .gyeon-experience-bg2 {
    top: -55%;
    right: -11%;
    width: 64.7333333333rem;
    height: 65.3333333333rem;
    background-image: url("../img/gyeon_experience_bg2.svg"); }
  .section-gec-experience .section-small-header {
    margin-bottom: 4.3333333333rem; }
  .section-gec-experience .section-header {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 0.9466666667; }
    .section-gec-experience .section-header span {
      font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .section-gec-experience p {
    width: 28rem;
    margin-left: 6.6666666667rem;
    font-weight: 400; }
  .section-gec-experience .navy-blue-ball1 {
    top: 10%;
    right: 20%;
    width: 13rem;
    height: 12.4666666667rem;
    background-image: url("../img/navy_blue_ball1.png");
    z-index: 1; }
  .section-gec-experience .red-ball1 {
    top: 59%;
    right: 14%;
    width: 9.3333333333rem;
    height: 7.2rem;
    background-image: url("../img/red_ball1.png");
    z-index: 3; }
  .section-gec-experience .red-ball2 {
    right: 23.5%;
    bottom: -20%;
    width: 2.4rem;
    height: 1.8666666667rem;
    background-image: url("../img/red_ball2.png");
    z-index: 2; }
  .section-gec-experience .red-ball3 {
    bottom: -5%;
    left: 44%;
    width: 6rem;
    height: 4.6666666667rem;
    background-image: url("../img/red_ball3.png");
    z-index: 2; }

/*-------------------------------------------------------------------------------------------------------- GEC CENTER */
.section-gec-center {
  height: calc(80vh + 6.6666666667rem);
  background: #EDF0F8; }
  .section-gec-center .navy-blue-ball2 {
    top: 40%;
    left: 13%;
    width: 5.9333333333rem;
    height: 5.7333333333rem;
    background-image: url("../img/navy_blue_ball2.png");
    z-index: 1; }
  .section-gec-center .plywood {
    top: 15%;
    left: 21%;
    width: 10.2666666667rem;
    height: 10.1333333333rem;
    background-image: url("../img/plywood.png");
    z-index: 1; }
  .section-gec-center .gec-diamond {
    top: 7%;
    left: 0;
    width: 16.6666666667rem;
    height: 25.1333333333rem;
    background-image: url("../img/gec_diamond.svg"); }
  .section-gec-center .txt-gyeon {
    top: 1.75%;
    right: 12%;
    width: 40.6666666667rem;
    z-index: 1; }
  .section-gec-center .box-experience {
    top: 15%;
    right: 0;
    z-index: 2; }
    .section-gec-center .box-experience .txt-experience {
      color: #322D50;
      font-family: "GT America Compressed", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 4.8666666667rem;
      font-weight: 700;
      transform: translateX(136px) rotate(-90deg); }
    .section-gec-center .box-experience img {
      width: 42.6666666667rem; }
  .section-gec-center .txt-center {
    right: 18%;
    bottom: 18%;
    width: 47.3333333333rem;
    z-index: 1; }
  .section-gec-center .center-slant {
    bottom: -1px;
    height: 6.6666666667rem;
    background: transparent;
    background: linear-gradient(178deg, transparent 0%, transparent 50%, #DE3F7D 51%, #DE3F7D 100%); }

/*------------------------------------------------------------------------------------------------------ GEC TRAINERS */
.section-gec-trainers {
  padding: 4.6666666667rem 0 6.6666666667rem;
  background: #DE3F7D;
  z-index: 1; }
  .section-gec-trainers .trainers-row .trainers-col {
    padding: 0 5.3333333333rem; }
    .section-gec-trainers .trainers-row .trainers-col:first-child {
      padding-left: 0; }
    .section-gec-trainers .trainers-row .trainers-col:last-child {
      padding-right: 0; }
    .section-gec-trainers .trainers-row .trainers-col .trainers-header {
      margin-bottom: 1rem;
      color: #fff;
      font-size: 2.6666666667rem;
      font-weight: 300; }
    .section-gec-trainers .trainers-row .trainers-col p {
      color: #fff;
      font-weight: 300; }
  .section-gec-trainers .trainers-diamond1 {
    top: -14%;
    right: -1%;
    width: 18.3333333333rem;
    height: 22rem;
    background-image: url("../img/trainers_diamond1.svg"); }
  .section-gec-trainers .trainers-diamond2 {
    bottom: -33%;
    left: -5%;
    width: 25.3333333333rem;
    height: 30.4rem;
    background-image: url("../img/trainers_diamond2.svg"); }
  .section-gec-trainers .trainers-redball1 {
    top: 7%;
    right: 4%;
    width: 5.6666666667rem;
    height: 4.3333333333rem;
    background-image: url("../img/trainers_redball1.png");
    z-index: 2; }
  .section-gec-trainers .trainers-redball2 {
    top: 61%;
    right: 4.5%;
    width: 2.3333333333rem;
    height: 1.8rem;
    background-image: url("../img/trainers_redball2.png");
    z-index: 1; }
  .section-gec-trainers .trainers-redball2-2 {
    top: -1%;
    left: 3%;
    width: 2.3333333333rem;
    height: 1.8rem;
    background-image: url("../img/trainers_redball2.png");
    z-index: 1; }
  .section-gec-trainers .trainers-redball3 {
    bottom: -5%;
    left: 1.5%;
    width: 11.7333333333rem;
    height: 9rem;
    background-image: url("../img/trainers_redball3.png");
    z-index: 2; }

/*------------------------------------------------------------------------------------------------------ GEC TRAINING */
.section-gec-training {
  padding: 7.3333333333rem 0 7rem;
  background: #EDF0F8; }
  .section-gec-training .txt-book {
    width: 65.6666666667rem;
    margin-bottom: 4.3333333333rem;
    font-weight: 700; }
    .section-gec-training .txt-book .txt-book-book, .section-gec-training .txt-book .txt-book-training {
      fill: none;
      stroke: #322D50;
      font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 130px; }
    .section-gec-training .txt-book .txt-book-your {
      fill: #322D50;
      font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 135px; }
  .section-gec-training .training-crystal {
    right: -12.5%;
    bottom: -14.5%;
    width: 34rem;
    height: 24.4rem;
    background-image: url("../img/training_crystal.svg");
    z-index: 1; }

/*------------------------------------------------------------------------------------------------------ GEC TRAINING */
.section-gec-advanced {
  padding-bottom: 8.6666666667rem;
  background: #EDF0F8; }
  .section-gec-advanced .advanced-diamond {
    top: 25%;
    left: -7%;
    width: 21rem;
    height: 19.7333333333rem;
    background-image: url("../img/advanced_diamond.svg");
    z-index: 1; }
  .section-gec-advanced .advanced-row {
    margin-bottom: 4.3333333333rem; }
    .section-gec-advanced .advanced-row .g-hero {
      width: 22rem; }
    .section-gec-advanced .advanced-row .advanced-header {
      margin-bottom: 1rem;
      font-size: 3.6666666667rem;
      font-weight: 500; }
    .section-gec-advanced .advanced-row .advanced-underheader {
      margin-bottom: 1.6666666667rem; }
    .section-gec-advanced .advanced-row .advanced-text {
      color: #595959; }

/*------------------------------------------------------------------------------------------------------ GEC TRAINEES */
.section-gec-trainees {
  padding-top: 5.6666666667rem;
  padding-bottom: 8.3333333333rem;
  background: #202945; }
  .section-gec-trainees .trainees-slant {
    top: -1px;
    height: 4.6666666667rem;
    background: #EDF0F8;
    background: linear-gradient(182deg, #EDF0F8 0%, #EDF0F8 50%, #202945 51%, #202945 100%); }
    .section-gec-trainees .trainees-head .trainees-diamond1 {
      top: -11%;
      left: 0;
      width: 20.6666666667rem;
      height: 24.8rem;
      background-image: url("../img/trainees_diamond1.svg"); }
    .section-gec-trainees .trainees-head .quote {
      top: 26%;
      left: 10.3%;
      width: 17rem;
      height: 12.8666666667rem;
      background-image: url("../img/quote.svg"); }
    .section-gec-trainees .trainees-head .txt-our {
      width: 19.3333333333rem; }
      .section-gec-trainees .trainees-head .txt-our .txt-our-our {
        fill: none;
        stroke: #fff;
        font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 100px;
        font-weight: 700; }
    .section-gec-trainees .trainees-head .trainees-header {
      color: #fff;
      font-size: 4rem;
      font-weight: 700;
      line-height: 0.9166666667; }
    .section-gec-trainees .trainees-head .trainees-quote {
      margin-bottom: 0.6666666667rem;
      padding-top: 3.3333333333rem;
      color: #fff;
      font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.3333333333; }
    .section-gec-trainees .trainees-head .trainees-underquote {
      color: #fff;
      font-weight: 700; }
  .section-gec-trainees .trainees-diamond2 {
    top: 6.5%;
    right: -10%;
    width: 29.3333333333rem;
    height: 25.6666666667rem;
    background-image: url("../img/trainees_diamond2.svg"); }
  .section-gec-trainees .swiper-custom-nav {
    filter: invert(100%); }

.section-gec-gallery {
  background: #202945; }
  .section-gec-gallery .grid-item {
    height: 21.6666666667rem; }
    .section-gec-gallery .grid-item .puzzles-post {
      display: block;
      position: relative;
      height: 100%;
      text-align: left;
      overflow: hidden;
      opacity: 1 !important;
      transition: all 0.1s ease; }
      .section-gec-gallery .grid-item .puzzles-post:hover .post-background {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05); }
      .section-gec-gallery .grid-item .puzzles-post .post-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        transition: all 0.1s ease; }

/*# sourceMappingURL=page-experience-62274aa8.css.map */