/*---------------------------------------------------------------------------------------------------------- GEC HOME */
.gec-home {
  height: 100vh;
  overflow: hidden;
  z-index: 1; }
  .gec-home .scroll {
    bottom: 2.6666666667rem;
    z-index: 1; }
    .gec-home .scroll .scroll-arrow {
      color: #e7dfbf;
      font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 0.9333333333rem;
      font-weight: 300; }
      .gec-home .scroll .scroll-arrow:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 2rem;
        left: 50%;
        width: 1px;
        height: 5.6666666667rem;
        background: #e7dfbf; }

/*---------------------------------------------------------------------------------------------------- GEC EXPERIENCE */
.gec-experience {
  padding: 5.3333333333rem 0 4.6666666667rem;
  background: #EDF0F8; }
  .gec-experience .gyeon-experience-bg1 {
    top: -89%;
    left: -22%; }
  .gec-experience .gyeon-experience-bg2 {
    top: -55%;
    right: -11%; }
  .gec-experience h5 {
    margin-bottom: 4.3333333333rem; }
  .gec-experience h2 {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 0.9466666667; }
    .gec-experience h2 span {
      font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  .gec-experience p {
    width: 28rem;
    margin-left: 6.6666666667rem;
    font-weight: 400; }
  .gec-experience .navy-blue-ball1 {
    top: 10%;
    right: 20%;
    z-index: 1; }
  .gec-experience .red-ball1 {
    top: 59%;
    right: 14%;
    z-index: 3; }
  .gec-experience .red-ball2 {
    right: 23.5%;
    bottom: -20%;
    z-index: 2; }
  .gec-experience .red-ball3 {
    bottom: -5%;
    left: 44%;
    z-index: 2; }

/*-------------------------------------------------------------------------------------------------------- GEC CENTER */
.gec-center {
  height: 80vh;
  background: #EDF0F8; }
  .gec-center .navy-blue-ball2 {
    top: 40%;
    left: 13%;
    z-index: 1; }
  .gec-center .plywood {
    top: 15%;
    left: 21%;
    z-index: 1; }
  .gec-center .gec-diamond {
    top: 7%;
    left: 0;
    width: 16.6666666667rem; }
  .gec-center .txt-gyeon {
    top: 1.75%;
    right: 10%;
    z-index: 1; }
  .gec-center .box-experience {
    top: 15%;
    right: 0;
    z-index: 2; }
    .gec-center .box-experience svg {
      width: 3.3333333333rem; }
    .gec-center .box-experience img {
      width: 42.6666666667rem; }
  .gec-center .txt-center {
    right: 16.5%;
    bottom: 13%;
    z-index: 1; }

/*------------------------------------------------------------------------------------------------------ GEC TRAINERS */
.gec-trainers {
  padding: 11.3333333333rem 0 6.6666666667rem;
  background: #DE3F7D;
  z-index: 1; }
  .gec-trainers .trainers-slant {
    top: 0;
    height: 6.6666666667rem;
    background: #EDF0F8;
    background: linear-gradient(178deg, #EDF0F8 0%, #EDF0F8 50%, #DE3F7D 51%, #DE3F7D 100%); }
    .gec-trainers .trainers-row .trainers-col {
      padding: 0 5.3333333333rem; }
      .gec-trainers .trainers-row .trainers-col:first-child {
        padding-left: 0; }
      .gec-trainers .trainers-row .trainers-col:last-child {
        padding-right: 0; }
      .gec-trainers .trainers-row .trainers-col h3 {
        margin-bottom: 1rem;
        color: #fff;
        font-size: 2.6666666667rem;
        font-weight: 300; }
      .gec-trainers .trainers-row .trainers-col p {
        color: #fff;
        font-weight: 300; }
  .gec-trainers .trainers-diamond1 {
    top: -14%;
    right: -1%;
    width: 18.3333333333rem; }
  .gec-trainers .trainers-diamond2 {
    bottom: -33%;
    left: -5%;
    width: 25.3333333333rem; }
  .gec-trainers .trainers-redball1 {
    top: 7%;
    right: 4%;
    z-index: 2; }
  .gec-trainers .trainers-redball2 {
    top: 61%;
    right: 4.5%;
    z-index: 1; }
  .gec-trainers .trainers-redball2-2 {
    top: -1%;
    left: 3%;
    z-index: 1; }
  .gec-trainers .trainers-redball3 {
    bottom: -5%;
    left: 1.5%;
    z-index: 2; }

/*------------------------------------------------------------------------------------------------------ GEC TEACHERS */
.gec-teachers {
  padding-top: 5.3333333333rem;
  padding-bottom: 5.3333333333rem; }
  .gec-teachers h2 {
    margin-bottom: 1rem;
    font-weight: 700; }
  .gec-teachers p {
    color: #322D50;
    font-weight: 300; }

/*# sourceMappingURL=page2-d52a3113.css.map */