/*-------------------------------------------------------------------------------------------------------------- HOME */
.home-start .scroll {
  bottom: 2.6666666667rem;
  z-index: 1; }
  .home-start .scroll .scroll-arrow {
    color: #e7dfbf;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.9333333333rem;
    font-weight: 300; }
    .home-start .scroll .scroll-arrow:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 2rem;
      left: 50%;
      width: 1px;
      height: 5.6666666667rem;
      background: #e7dfbf; }

/*--------------------------------------------------------------------------------------------------------- GYEON WAY */
.section-home-gyeon-way {
  padding: 7.3333333333rem 0 10rem;
  background: #e7e7e7; }
  .section-home-gyeon-way .section-header {
    margin-bottom: 3rem;
    font-size: 4.3333333333rem;
    font-weight: 700;
    font-family: "GT America Compressed", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #323857; }
    .section-home-gyeon-way .section-header span {
      display: inline-block;
      margin-bottom: 0.6666666667rem;
      vertical-align: middle; }
  .section-home-gyeon-way .section-small-header {
    margin-bottom: 2.6666666667rem;
    padding-top: 0;
    z-index: 1; }
  .section-home-gyeon-way .btn {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline; }
  .section-home-gyeon-way .image-bg {
    top: 1.3333333333rem;
    left: calc(50% - 18.5rem);
    width: 34.6666666667rem;
    height: 33.2666666667rem;
    background-image: url("../img/gyeon_way.svg"); }
  .section-home-gyeon-way .position-relative {
    z-index: 1; }

/*---------------------------------------------------------------------------------------------------------- PRODUCTS */
.section-small-header {
  padding-top: 3.3333333333rem; }

.products-container {
  background: #e7e7e7; }
  .products-container .product-section {
    height: calc(100vh - 70px); }
  .products-container .vertical-text {
    top: 40%; }
    .products-container .vertical-text .display-2 {
      transform: rotate(-90deg);
      font-family: "GT America Compressed", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 700; }
  .products-container .text-box {
    width: 20rem; }
  .products-container .text-box p, .products-container .text-box-header {
    margin-bottom: 1.3333333333rem;
    color: #322c47;
    /*------------------------------------------------------------------------------------------------------ Coatings */ }
    .products-container .section-home-coatings .section-name {
      top: 20%; }
    .products-container .section-home-coatings .diamond1 {
      top: -18%;
      left: -3.4%;
      width: 16.8rem;
      height: 21.3333333333rem;
      background-image: url("../img/diamond1.svg"); }
    .products-container .section-home-coatings .diamond2 {
      right: -5.5%;
      bottom: 11.43%;
      width: 20.6666666667rem;
      height: 19.2rem;
      background-image: url("../img/diamond2.svg"); }
      .products-container .section-home-coatings .container .text-box {
        bottom: 15%;
        left: 20%; }
      .products-container .section-home-coatings .container .blue-ball {
        top: 33.5%;
        left: 25%;
        width: 17.4666666667rem;
        height: 16.8rem;
        background-image: url("../img/blue_ball.png");
        z-index: 3; }
      .products-container .section-home-coatings .container .blue-ball-small {
        top: 39%;
        left: 44.5%;
        width: 3.0666666667rem;
        height: 2.9333333333rem;
        background-image: url("../img/blue_ball_small.png");
        z-index: 3; }
      .products-container .section-home-coatings .container .q2 {
        top: 26%;
        left: 25.5%;
        width: 25.3333333333rem;
        height: auto; }
      .products-container .section-home-coatings .container .bottle1 {
        top: 25%;
        right: 34.5%;
        width: 7.5333333333rem; }
      .products-container .section-home-coatings .container .bottle2 {
        top: -11%;
        right: 20.5%;
        width: 24.1333333333rem;
        z-index: 2;
        /*--------------------------------------------------------------------------------------------------- Maintenance */ }
  .products-container .section-home-maintenance .container .text-box {
    right: 18%;
    bottom: 25%; }
  .products-container .section-home-maintenance .container .q2m {
    top: 15.5%;
    right: 12.5%;
    width: 31.0666666667rem;
    height: auto; }
  .products-container .section-home-maintenance .container .blue-ball-medium {
    top: 58%;
    left: 40.4%;
    width: 6.5333333333rem;
    height: 5.4666666667rem;
    background-image: url("../img/blue_ball_medium.png");
    z-index: 3; }
  .products-container .section-home-maintenance .container .blue-bubble {
    top: 51%;
    left: 35%;
    width: 14.9333333333rem;
    height: 15rem;
    background-image: url("../img/blue_bubble.png");
    z-index: 4; }
  .products-container .section-home-maintenance .container .violet-ball {
    top: 1%;
    left: 38%;
    width: 6rem;
    height: 4.5333333333rem;
    background-image: url("../img/violet_ball.png");
    z-index: 5; }
  .products-container .section-home-maintenance .container .bottle3 {
    top: 1%;
    left: 25.5%;
    width: 20.9333333333rem;
    z-index: 2; }
  .products-container .section-home-maintenance .container .bottle4 {
    top: 31%;
    left: 18%;
    width: 8.7333333333rem;
    z-index: 1; }
  .products-container .section-home-maintenance .container .diamond3 {
    bottom: 8%;
    left: 11%;
    width: 17.5333333333rem;
    height: 19.2rem;
    background-image: url("../img/diamond3.svg");
    /*--------------------------------------------------------------------------------------------------- Accessories */ }
.products-container .section-home-accessories .section-name {
  top: -4%; }
  .products-container .section-home-accessories .container .text-box {
    top: 22%;
    left: 20%; }
  .products-container .section-home-accessories .container .speaker {
    top: 4%;
    right: 9%;
    width: 30.4666666667rem; }
  .products-container .section-home-accessories .container .acc-ball {
    top: 40%;
    right: 31%;
    width: 5rem;
    height: 5rem;
    background-image: url("../img/acc_ball.png");
    z-index: 1; }
  .products-container .section-home-accessories .container .acc-bubble {
    top: 37.5%;
    right: 29%;
    width: 8.9333333333rem;
    height: 8.9333333333rem;
    background-image: url("../img/acc_bubble.png");
    opacity: 0.2;
    z-index: 2; }
  .products-container .section-home-accessories .container .acc-ball2 {
    bottom: 11%;
    left: 32.5%;
    width: 8.6rem;
    height: 8.6rem;
    background-image: url("../img/acc_ball2.png");
    z-index: 1; }
  .products-container .section-home-accessories .container .acc-ball3 {
    bottom: 11%;
    left: 38%;
    width: 3rem;
    height: 3rem;
    background-image: url("../img/acc_ball3.png");
    z-index: 2; }
  .products-container .section-home-accessories .container .acc-bubble2 {
    bottom: 2%;
    left: 32%;
    width: 17.4rem;
    height: 17.3333333333rem;
    background-image: url("../img/acc_bubble2.png");
    opacity: 0.1;
    z-index: 3;
    /*----------------------------------------------------------------------------------------------------------- Ppf */ }
.products-container .section-home-ppf {
  background: #f7f2e8;
  height: 110vh; }
  .products-container .section-home-ppf .section-name .text {
    font-size: 1.4666666667rem; }
  .products-container .section-home-ppf .ppf-slant {
    top: -1px;
    height: 12rem;
    background: #e7e7e7;
    background: linear-gradient(175deg, #e7e7e7 0%, #e7e7e7 50%, #f7f2e8 51%, #f7f2e8 100%); }
  .products-container .section-home-ppf .vertical-text {
    top: 35%; }
  .products-container .section-home-ppf .diamond4 {
    top: 14%;
    right: -8%;
    width: 17.6666666667rem;
    height: 23rem;
    background-image: url("../img/diamond4.svg"); }
    .products-container .section-home-ppf .container .text-box {
      top: 41%;
      right: 14%; }
    .products-container .section-home-ppf .container .ppf1 {
      top: 49%;
      left: 37.5%;
      width: 17.6666666667rem;
      z-index: 2; }
    .products-container .section-home-ppf .container .ppf2 {
      top: 4%;
      left: 27.5%;
      width: 8.6666666667rem;
      z-index: 1; }
    .products-container .section-home-ppf .container .q2f {
      top: 23%;
      right: 17%;
      width: 30rem;
      height: auto; }
  .products-container .section-home-ppf .ppf-slant2 {
    bottom: -1px;
    height: 12rem;
    background: #d7ecf6;
    background: linear-gradient(5deg, #d7ecf6 0%, #d7ecf6 50%, rgba(255, 0, 0, 0) 51%, rgba(255, 0, 0, 0) 100%);
    z-index: 3;
    /*------------------------------------------------------------------------------------------------ Yachts & boats */ }
.products-container .section-home-yachts-boats {
  background: #d7ecf6;
  z-index: 3; }
  .products-container .section-home-yachts-boats .text-left .text {
    font-size: 1.4666666667rem; }
.products-container .section-home-yachts-boats .container .section-small-header {
  padding-top: 3.3333333333rem; }
.products-container .section-home-yachts-boats .container .text-box {
  bottom: 26.5%;
  left: 16.8%; }
.products-container .section-home-yachts-boats .container .q2r {
  top: 20%;
  left: 20%;
  width: 28.4rem; }
.products-container .section-home-yachts-boats .container .crystal {
  top: 24.5%;
  left: 46.5%;
  width: 28.3333333333rem;
  height: 14.8rem;
  background-image: url("../img/crystal.svg"); }
.products-container .section-home-yachts-boats .container .bottle5 {
  top: 39%;
  right: 34.5%;
  width: 27.6rem;
  z-index: 1; }
.products-container .section-home-yachts-boats .container .little-crystal {
  top: 65.7%;
  right: 45.1%;
  width: 1.5333333333rem;
  height: 1.5333333333rem;
  background-image: url("../img/little_crystal.png");
  z-index: 2; }
.products-container .section-home-yachts-boats .container .little-ball {
  top: -6%;
  right: 45.8%;
  width: 3.8rem;
  height: 3.8rem;
  background-image: url("../img/little_ball.png");
  z-index: 1; }

/*---------------------------------------------------------------------------------------------------- GLOBAL NETWORK */
.section-home-global-network {
  height: calc(100vh - 70px);
  background: #fff; }
  .section-home-global-network .section-small-header {
    padding-top: 4.6666666667rem;
    z-index: 2; }
  .section-home-global-network .text-box {
    bottom: 20%;
    left: 10%;
    z-index: 2; }
    .section-home-global-network .text-box .text-box-header {
      margin-bottom: 2.6666666667rem;
      font-weight: 200; }
    .section-home-global-network .text-box p {
      margin-bottom: 2.3333333333rem;
      color: #595959;
      font-family: "Open Sans";
      font-size: 0.9333333333rem;
      font-weight: 300; }
    .section-home-global-network .text-box footer {
      margin-bottom: 1.3333333333rem;
      letter-spacing: 0; }
    .section-home-global-network .text-box .btn {
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: underline; }
  .section-home-global-network .map {
    top: -3%;
    right: 4.5%;
    width: 81.9333333333rem;
    height: 57.9333333333rem;
    background-image: url("../img/map.png"); }
  .section-home-global-network .diamond5 {
    top: 16.5%;
    left: 44.5%;
    width: 25.6666666667rem;
    height: 23.1333333333rem;
    background-image: url("../img/diamond5.svg");
    z-index: 1; }
  .section-home-global-network .crystal2 {
    right: 14%;
    bottom: 3.5%;
    width: 28.3333333333rem;
    height: 14.6666666667rem;
    background-image: url("../img/crystal2.svg");
    z-index: 1; }
  .section-home-global-network .circle-photo {
    right: 31.5%;
    bottom: 17.5%;
    width: 21.4rem;
    z-index: 2; }

/*------------------------------------------------------------------------------------------------------ NEWS & FACTS */
.section-home-news-facts {
  height: calc(100vh - 70px);
  background: #e7e7e7; }
  .section-home-news-facts .section-header {
    padding-top: 6.6666666667rem;
    margin-bottom: 6.6666666667rem;
    font-weight: 200; }
  .section-home-news-facts .swiper-container {
    overflow: unset; }
    .section-home-news-facts .swiper-container .event-link:hover {
      opacity: 1;
      transform: scale(1.1); }
      .section-home-news-facts .swiper-container .event-link:hover .slide-card {
        -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.25);
        transition: all 0.4s ease-in-out; }
    .section-home-news-facts .swiper-container .slide-card {
      width: 100%;
      -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.25); }
      .section-home-news-facts .swiper-container .slide-card .card-head {
        height: 18.6666666667rem;
        background-size: cover;
        background-position: center; }
        .section-home-news-facts .swiper-container .slide-card .card-head .card-badge {
          top: 1rem;
          right: 0;
          padding: 0.5333333333rem 1.0666666667rem;
          background: #DE3F7D;
          color: #fff;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px; }
      .section-home-news-facts .swiper-container .slide-card .card-body {
        padding: 1.6rem;
        background: #fff; }
        .section-home-news-facts .swiper-container .slide-card .card-body .card-body-header {
          margin-bottom: 0.3333333333rem;
          color: #322D50;
          font-weight: 500; }
        .section-home-news-facts .swiper-container .slide-card .card-body time {
          color: #322D50;
          font-size: 0.8rem; }

/*# sourceMappingURL=page-home-de45aed6.css.map */