.section-products {
  position: relative; }
  .section-products .section-name {
    padding: 0 2.1333333333rem;
    width: 5.4666666667rem; }
    .section-products .section-name .text {
      font-size: 1.3333333333rem; }
  .section-products .container {
    position: relative; }

.section-products-1 {
  position: relative;
  color: #322c47;
  min-height: 100vh; }
  .section-products-1 .scroll {
    bottom: 3.2rem; }
    .section-products-1 .scroll .scroll-arrow:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 2rem;
      left: 50%;
      width: 1px;
      height: 5.6666666667rem;
      background: #6a6a6a; }
  .section-products-1 .section-header {
    margin-bottom: 0.5333333333rem;
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 4rem; }
    .section-products-1 .section-header span {
      font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 300; }
      .section-products-1 .section-header span sup {
        font-size: 0.6333333333em; }
    .section-products-1 .section-header b {
      font-weight: 700; }
  .section-products-1 .section-text {
    color: #322c47;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .section-products-1 .text-1 {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.1333333333rem;
    line-height: 1.09375;
    text-transform: uppercase; }
  .section-products-1 .text-2 {
    margin-bottom: 2.1333333333rem;
    font-size: 1.0666666667rem;
    line-height: 1.5; }
  .section-products-1 dl.properties {
    margin-bottom: 2.1333333333rem;
    font-size: 0.8rem;
    line-height: 2;
    width: 28.6666666667rem;
    max-width: 100%;
    border-left: solid 0.0733333333rem #322c47;
    display: flex;
    flex-direction: column; }
    .section-products-1 dl.properties > *:first-child {
      margin-top: -0.3333333333rem;
      border-top: none; }
    .section-products-1 dl.properties > * {
      padding-left: 0.8666666667rem;
      border-top: solid 0.0733333333rem #322c47; }
    .section-products-1 dl.properties > *:last-child {
      margin-bottom: -0.3333333333rem; }
    .section-products-1 dl.properties dt {
      font-weight: inherit;
      text-transform: uppercase;
      display: inline; }
    .section-products-1 dl.properties dd {
      font-weight: inherit;
      display: inline; }
  .section-products-1 .image {
    position: absolute;
    top: 0;
    right: -5%;
    width: 100vh;
    height: 100vh; }
  .section-products-1 .image-bg {
    position: absolute;
    top: -22%;
    right: -15%;
    width: 160%;
    height: 160%;
    background-image: url('../img/gyeon_way_02.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .section-products-1 .image-products {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex; }
    .section-products-1 .image-products img {
      max-width: 70%;
      max-height: 65%; }
  .section-products-1 .btn-list {
    margin: 0 -1.4666666667rem;
    display: flex; }
    .section-products-1 .btn-list .btn {
      margin: 0 1.4666666667rem;
      font-size: 1.0666666667rem;
      font-weight: 600; }

@media (max-width: 1200px) {
  .section-products-1 .image {
    top: 15%;
    height: 70%;
    width: 50vw; } }

@media (max-width: 768px) {
  .section-products-1 .container {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  .section-products-1 .image {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 100vw;
    width: 100%; }
  .section-products-1 .image-bg {
    top: -50vw;
    left: -80vw;
    width: 220vw;
    height: 220vw; }
  .section-products-1 .image-products {
    padding: 1.6rem; }
    .section-products-1 .image-products img {
      max-width: 100%;
      max-height: 100%; }
  .section-products-1 .section-header {
    font-size: 3rem; }
  .section-products-1 .text-1 {
    font-size: 1.7142857143rem;
    width: 75%; }
  .section-products-1 .btn-list {
    margin: 0 -0.3333333333rem; }
    .section-products-1 .btn-list .btn {
      margin: 0 0.3333333333rem;
      flex: 1 1 50%; } }

.section-products-2 {
  position: relative;
  padding: 2rem 0 0;
  color: #fff;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .section-products-2:before {
    content: ' ';
    position: absolute;
    top: -10%;
    left: -40%;
    right: 0%;
    bottom: -15%;
    background-color: #4A98C4;
    background-image: url('../img/gyeon_way_03.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    display: block;
    transform-origin: center right;
    transform: rotateY(-15deg); }
  .section-products-2 .section-name {
    color: inherit; }
  .section-products-2 .header {
    margin-bottom: 1.0666666667rem;
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 300;
    font-size: 2.1333333333rem;
    line-height: 1.125; }
    .section-products-2 .header > * {
      color: inherit; }
    .section-products-2 .header b {
      font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-weight: 700; }
  .section-products-2 .flow-image-shape-1 {
    position: absolute;
    right: -19.7657393851vw;
    top: -6.588579795vw;
    width: 39.1654465593vw;
    height: 40.6295754026vw;
    background-image: url('../img/shape-01.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

@media (max-width: 768px) {
  .section-products-2 .flow-image-shape-1 {
    position: absolute;
    right: -42.5vw;
    top: unset;
    bottom: -22.5vw;
    width: 100.3125vw;
    height: 104.0625vw; } }

.section-products-video {
  position: relative;
  color: #322c47; }
  .section-products-video .container {
    padding-top: 0;
    padding-bottom: 0; }
  .section-products-video .video {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .section-products-video .video-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .section-products-video .promotor {
    margin: -20% -10% 0;
    max-width: 120%; }
  .section-products-video .section-text {
    padding-top: 4rem; }
  .section-products-video .section-header {
    margin-bottom: 0.5333333333rem;
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.3333333333; }
  .section-products-video dl.properties {
    font-family: "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.0666666667rem;
    font-weight: 600;
    line-height: 1.5; }
    .section-products-video dl.properties dt {
      font-weight: inherit;
      text-transform: uppercase;
      display: inline; }
    .section-products-video dl.properties dd {
      font-weight: inherit;
      display: inline; }
    .section-products-video dl.properties br:last-child {
      display: none; }

.section-products-images {
  z-index: 1; }
  .section-products-images .section-header {
    font-family: "GT America Expanded", "GT America Compressed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1; }
  .section-products-images img {
    position: relative;
    z-index: 2; }
  .section-products-images .flow-image-shape-1 {
    position: absolute;
    right: 10.980966325vw;
    top: -30.3806734993vw;
    width: 29.2093704246vw;
    height: 19.1068814056vw;
    background-image: url('../img/shape-02.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .section-products-images .flow-image-text-q2m {
    position: absolute;
    right: 0;
    top: -7.3206442167vw;
    width: 36.5300146413vw;
    height: 14.8609077599vw; }
  .section-products-images .flow-image-text-coatings {
    position: absolute;
    left: 4.39238653vw;
    top: -2.9282576867vw;
    width: 14.8609077599vw;
    height: 70.2049780381vw; }
  .section-products-images .flow-image-shape-2 {
    position: absolute;
    left: 13.9092240117vw;
    top: 22.3279648609vw;
    width: 32.1376281113vw;
    height: 34.8462664714vw;
    background-image: url('../img/shape-03.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .section-products-images .flow-image-shape-3 {
    position: absolute;
    right: -15.2269399707vw;
    bottom: -22.4743777452vw;
    width: 32.1376281113vw;
    height: 34.8462664714vw;
    background-image: url('../img/shape-04.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }

@media (max-width: 768px) {
  .section-products-images .section-header {
    font-size: 1.9285714286rem; }
  .section-products-images .flow-image-shape-1 {
    position: absolute;
    right: 0vw;
    top: -144.2666666667vw;
    width: 79.8vw;
    height: 52.2vw; }
  .section-products-images .flow-image-text-q2m {
    position: absolute;
    right: -13.3333333333vw;
    top: -80vw;
    width: 133.0666666667vw;
    height: 54.1333333333vw; }
  .section-products-images .flow-image-text-coatings {
    position: absolute;
    left: -5.3333333333vw;
    top: -80vw;
    width: 25.375vw;
    height: 119.875vw; }
  .section-products-images .flow-image-shape-2 {
    position: absolute;
    left: 0vw;
    top: 0.2vw;
    width: 87.8vw;
    height: 95.2vw; }
  .section-products-images .flow-image-shape-3 {
    position: absolute;
    right: -40vw;
    bottom: -40vw;
    width: 87.8vw;
    height: 95.2vw; } }

.section-products-slider .container {
  padding-top: 1.3333333333rem;
  padding-bottom: 3.7333333333rem; }

@media (max-width: 768px) {
  .section-products-slider .embed-responsive-item img {
    filter: drop-shadow(0 1.3333333333rem 2rem rgba(0, 0, 0, 0.3)); } }

/*# sourceMappingURL=page-products-d4940ad0.css.map */