/* To be used with cookieCuttr by Chris Wharton (http://cookiecuttr.com) */


.cc-overlay { height: 100%; padding-top: 25%; }

.cc-cookies
{
  position:fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0.5em 5%;
  background: $dark;
  font-size: 0.6875rem;
  z-index: 99999;
  text-align: center;
  color: $light;

  & a, & a:hover
  {
    color: $gray-500;
    text-decoration: underline;
    font-size: 0.75rem;
  }
  & a:hover { text-decoration: none; }

  &-error
  {
    float: left;
    width: 90%;
    text-align: center;
    margin: 1em 0 2em 0;
    background: $body-bg;
    padding: 2em 5%;
    border: 1px solid $gray-400;
    font-size: 1.125rem;
    color: $gray-300;
  }

  & a.cc-cookie-accept,
  & a.cc-cookie-decline,
  & a.cc-cookie-reset,
  &-error a.cc-cookie-accept,
  &-error a.cc-cookie-decline
  {
    display: inline-block;
    color: $white;
    text-decoration: none;
    background: transparent;
    padding: 0.5em 0.75em;
    border: 1px solid $white;
    //border-radius: 0.1875rem;
    @include prefix-all(transition, background 0.5s ease-in);
  }
  & a.cc-cookie-decline,
  & a.cc-cookie-decline
  {
    background: $danger;
    margin-left: 0.5em;
  }
  & a.cc-cookie-accept
  {
    margin-left: 1em;
    margin-right: 1em;
  }
  & a.cc-cookie-reset
  {
    background: $warning;
  }
  & a:hover.cc-cookie-accept,
  &-error a:hover.cc-cookie-accept,
  & a:hover.cc-cookie-decline,
  &-error a:hover.cc-cookie-decline,
  & a:hover.cc-cookie-reset
  {
    color: $dark;
    background: $white;
    @include prefix-all(transition, background 0.5s ease-in);
  }
  &-error a.cc-cookie-accept,
  &-error a.cc-cookie-decline
  {
    display: block;
    margin-top: 1em;
  }
  &.cc-discreet a.cc-cookie-reset
  {
    background: none;
    text-shadow: none;
    padding: 0;
    text-decoration: underline;
  }
  &.cc-discreet a:hover.cc-cookie-reset { text-decoration: none; }
}

@include media-breakpoint-down(sm)
{
  .cc-cookies
  {
    & a.cc-cookie-accept,
    & a.cc-cookie-decline,
    & a.cc-cookie-reset
    {
      display: block;
      margin: 1em 0;
    }
  }
}

@include media-breakpoint-down(xs)
{
  .cc-cookies
  {
    position: relative;
    float: left;
  }
}