
@font-face {
  font-family:'GT America Compressed';
  src: url('../fonts/GT_America_Compressed_Thin.eot');
  src: url('../fonts/GT_America_Compressed_Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Compressed_Thin.woff2') format('woff2'),
  url('../fonts/GT_America_Compressed_Thin.woff') format('woff'),
  url('../fonts/GT_America_Compressed_Thin.svg#GT_America_Compressed_Thin') format('svg');
  font-weight: 275;
  font-style: normal;
  font-stretch: ultra-condensed;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'GT America Compressed';
  src: url('../fonts/GT_America_Compressed_Light.eot');
  src: url('../fonts/GT_America_Compressed_Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Compressed_Light.woff2') format('woff2'),
  url('../fonts/GT_America_Compressed_Light.woff') format('woff'),
  url('../fonts/GT_America_Compressed_Light.svg#GT_America_Compressed_Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: ultra-condensed;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'GT America Compressed';
  src: url('../fonts/GT_America_Compressed_Medium.eot');
  src: url('../fonts/GT_America_Compressed_Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Compressed_Medium.woff2') format('woff2'),
  url('../fonts/GT_America_Compressed_Medium.woff') format('woff'),
  url('../fonts/GT_America_Compressed_Medium.svg#GT_America_Compressed_Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: ultra-condensed;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'GT America Compressed';
  src: url('../fonts/GT_America_Compressed_Regular.eot');
  src: url('../fonts/GT_America_Compressed_Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Compressed_Regular.woff2') format('woff2'),
  url('../fonts/GT_America_Compressed_Regular.woff') format('woff'),
  url('../fonts/GT_America_Compressed_Regular.svg#GT_America_Compressed_Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: ultra-condensed;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'GT America Expanded';
  src: url('../fonts/GT_America_Expanded_Light.eot');
  src: url('../fonts/GT_America_Expanded_Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Expanded_Light.woff2') format('woff2'),
  url('../fonts/GT_America_Expanded_Light.woff') format('woff'),
  url('../fonts/GT_America_Expanded_Light.svg#GT_America_Expanded_Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: ultra-expanded;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'GT America Compressed';
  src: url('../fonts/GT_America_Compressed_Bold.eot');
  src: url('../fonts/GT_America_Compressed_Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Compressed_Bold.woff2') format('woff2'),
  url('../fonts/GT_America_Compressed_Bold.woff') format('woff'),
  url('../fonts/GT_America_Compressed_Bold.svg#GT_America_Compressed_Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: ultra-condensed;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'GT America Expanded';
  src: url('../fonts/GT_America_Expanded_Bold.eot');
  src: url('../fonts/GT_America_Expanded_Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Expanded_Bold.woff2') format('woff2'),
  url('../fonts/GT_America_Expanded_Bold.woff') format('woff'),
  url('../fonts/GT_America_Expanded_Bold.svg#GT_America_Expanded_Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: ultra-expanded;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'GT America Expanded';
  src: url('../fonts/GT_America_Expanded_Bold_Italic.eot');
  src: url('../fonts/GT_America_Expanded_Bold_Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GT_America_Expanded_Bold_Italic.woff2') format('woff2'),
  url('../fonts/GT_America_Expanded_Bold_Italic.woff') format('woff'),
  url('../fonts/GT_America_Expanded_Bold_Italic.svg#GT_America_Expanded_Bold_Italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: ultra-expanded;
  unicode-range: U+000D-FB02;
}