// Base --------------
@import "base";
// Additional --------------
@import 'plugins/custom-gutters';
// Components --------------
@import 'cookie.scss';
@import 'fonts.scss';

/*----------------------------------------------------------------------------------------------------------- GENERAL */

.image-bg {
  background-size: contain;
  background-repeat: no-repeat;
}

.lax {
  transition: 2.5s;
  transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
}

.non-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

a:hover {
  text-decoration: none;
  opacity: .7;
}

.btn-link{
  font-size: rem(20);
  padding: 0;
  font-weight: 500;
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }
}

svg.text-outline {
  font-family : $font-family-primary-exp;
  font-size : rem(180);
  font-weight : 700;
  width  : 100%;
  height : rem(226);

  text{
    fill            : none;
    stroke          : $dark-violet;
    stroke-width    : 1px;
    stroke-linejoin : round;
  }

  .sup{
    font-size: rem(80);
  }
}


/*------------------------------------------------------------------------------------------------------------ HEADER */

header.main-header {
	position: fixed;
	top: 0; left: 0;
	z-index: 100;
	width: 100%;
  height: 70px;
  font-family: $font-family-primary;
  transition: all .3s ease-out;
  &.scroll {
    background: $white;
    box-shadow: 5px 8px 10px rgba($black,.1);
  }
  .logo-link {
    &:hover {
      opacity: 1;
    }
    .logo {
      width: rem(80);
      fill: #3e3a5f;
    }
  }
  .nav-link {
    padding: rem(5) rem(15);
    color: $primary;
    font-size: rem(16);
    font-weight: 500;
    &:first-child {
      padding-left: rem(35);
    }
    &.link-right {
      padding-left: rem(15);
      font-weight: 400;
      text-decoration: underline;
      .arrow-right {
        width: rem(6);
        margin-left: rem(12);
        transform: translateY(-1px);
      }
    }
  }
  .dropdown {
    padding: rem(5) 0 rem(5) rem(15);
    .map {
      width: rem(30);
      margin-right: rem(3);
      transform: translateY(-2px);
    }
    .dropdown-toggle {
      padding: 0;
      background: transparent;
      border: none;
      color: $primary;
      font-size: rem(14);
      font-weight: 500;
      &:hover {
        opacity: .7;
      }
    }
  }
  .hamburger {
    cursor: pointer;
    &, * {
      transition: all .3s ease-out;
    }
  }
}

/*------------------------------------------------------------------------------------------------------------ FOOTER */

footer.main-footer {
  padding: rem(80) 0;
  background: $indigo;
  overflow: hidden;
  .footer-container {
    z-index: 1;
    .footer-header {
      margin-bottom: rem(15);
      color: $white;
      font-size: rem(40);
      font-weight: 300;
    }
    .footer-subscribe {
      margin-bottom: rem(35);
      .footer-input {
        width: 80%;
        padding: rem(13) rem(24);
        background: $indigo;
        border: 1px solid $white;
        color: $white;
        font-size: rem(16);
        font-weight: 300;
        &::-webkit-input-placeholder {
          color: $white;
          font-size: rem(16);
          font-weight: 300;
          opacity: .7;
        }
        &::-moz-placeholder {
          color: $white;
          font-size: rem(16);
          font-weight: 300;
          opacity: .7;
        }
        &:-ms-input-placeholder {
          color: $white;
          font-size: rem(16);
          font-weight: 300;
          opacity: .7;
        }
        &::-ms-input-placeholder {
          color: $white;
          font-size: rem(16);
          font-weight: 300;
          opacity: .7;
        }
        &::placeholder {
          color: $white;
          font-size: rem(16);
          font-weight: 300;
          opacity: .7;
        }
      }
      .footer-btn {
        padding: rem(13) rem(32);
        font-weight: 500;
      }
    }
    .checkbox-label {
      color: $white;
      font-size: rem(12);
      font-weight: 300;
      &:before, &:after {
        top: 0;
      }
      &:before {
        background-color: transparent;
        border: #fff solid 1px !important;
      }
    }
    .footer-text-box {
      padding-left: rem(70);
      .text-1 {
        color: $white;
        font-size: rem(31);
        font-weight: 100;
      }
      .txt-private {
        width: rem(415);
        .txt-private-private {
          fill: none;
          stroke: $white;
          font-family: $font-family-primary-exp;
          font-size: rem(75);
          font-weight: 700;
        }
      }
      .text-2 {
        color: $white;
        font-family: $font-family-primary-exp;
        font-size: rem(41);
        font-weight: 700;
        span {
          font-family: $font-family-primary;
          font-size: rem(39);
          font-weight: 100;
        }
      }
      .txt-oem {
        width: rem(245);
        margin-left: rem(100);
        .txt-oem-oem {
          fill: none;
          stroke: $white;
          font-family: $font-family-primary-exp;
          font-size: rem(63);
          font-weight: 700;
        }
      }
      .footer-arrow {
        margin-left: rem(20);
      }
    }
    .footer-bottom-col {
      margin-top: rem(80);
      .footer-link {
        color: $white;
        font-family: $font-family-primary;
        font-size: rem(16);
        font-weight: 300;
      }
      .footer-social-box {
        padding-left: rem(70);
        .footer-social {
          margin: 0 rem(25);
        }
      }
    }
  }
  .flow-image-shape-1 {
    position: absolute;
    left: #{(-250 / 1366) * 100}vw;
    top: #{(-130 / 1366) * 100}vw;
    width: #{(448 / 1366) * 100}vw;
    height: #{(501 / 1366) * 100}vw;
    background-image: url('../img/shape-05.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-shape-2 {
    position: absolute;
    left: #{(500 / 1366) * 100}vw;
    bottom: #{(-120 / 1366) * 100}vw;
    width: #{(357 / 1366) * 100}vw;
    height: #{(434 / 1366) * 100}vw;
    background-image: url('../img/shape-06.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-shape-3 {
    position: absolute;
    right: #{(-190 / 1366) * 100}vw;
    top: #{(-310 / 1366) * 100}vw;
    width: #{(504 / 1366) * 100}vw;
    height: #{(587 / 1366) * 100}vw;
    background-image: url('../img/shape-07.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

/*------------------------------------------------------------------------------------------------------ GEC TEACHERS */

.section-gec-teachers {
  padding-top: rem(80);
  padding-bottom: rem(80);
  .section-header {
    margin-bottom: rem(15);
    font-weight: 700;
  }
  .teachers-text {
    margin-bottom: rem(75);
    color: $dark-violet;
    font-weight: 300;
  }
  .swiper-teachers-prev, .swiper-teachers-next {
    height: rem(12);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &:hover {
      opacity: .5;
    }
  }
  .swiper-teachers-prev {
    width: rem(18);
    margin-right: rem(22);
    background-image: url("../img/teachers_prev.svg");
  }
  .swiper-teachers-next {
    width: rem(47);
    background-image: url("../img/teachers_next.svg");
  }
  .swiper-container {
    padding: rem(75) 0;
    padding-left: rem(32);
    .swiper-slide {
      width: rem(350) !important;
      transform: scale(.9);
      transition: all 0.1s ease;
      &.swiper-slide-prev, &.swiper-slide-duplicate-prev {
        opacity: 0;
      }
      &.swiper-slide-active, &.swiper-slide-duplicate-active {
        transform: scale(1) translateX(-5%);
      }
      .card {
        box-shadow: 0px 10px 15px 0px rgba($black,0.25);
        .card-head {
          height: rem(215);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          &:hover {
            opacity: 1;
          }
        }
        .card-body {
          padding: rem(30) rem(45);
          background: $gray-50;
          .card-body-header {
            margin-bottom: rem(5);
            font-size: rem(40);
          }
          .card-body-underheader {
            margin-bottom: rem(25);
            color: $gray-650;
            font-size: rem(12);
          }
          .card-body-text {
            margin-bottom: rem(55);
            color: $gray-650;
            font-size: rem(14);
            font-weight: 300;
          }
          .card-body-link {
            color: $dark-violet;
            font-size: rem(14);
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .teachers-crystal {
    top: 12%;
    left: 36.5%;
    width: rem(355);
    height: rem(516);
    background-image: url("../img/teachers_crystal.svg");
  }
}

/****************************************************/


.btn-play-video {
  display: flex;
  flex-direction: column;

  .icon {
    margin-bottom: rem(16);
    width: rem(150);
    height: rem(150);
    -webkit-filter: drop-shadow(0 rem(3) rem(46) rgba($black, 0.12));
            filter: drop-shadow(0 rem(3) rem(46) rgba($black, 0.12));
    background-image: url('../img/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.no-select {
  pointer-events: none;
}

.section-small-header {
  font-family: $font-family-primary;
  font-weight: 300;
  font-size: rem(18);
  letter-spacing: 0.45em;
}

.section-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 rem(32);
  width: 1.2rem + rem(32 * 2);
  height: 100%;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .text {
    font-size: rem(20);
    font-family: $font-family-primary;
    font-weight: 300;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    white-space: pre;
    display: flex;
    transform: rotate(90deg);

    b {
      font-family: $font-family-primary-exp;
      font-weight: 700;
    }
  }
}

.swiper-custom-nav {
  height: rem(16);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
.swiper-custom-prev {
  width: rem(24);
  margin-right: rem(22);
  background-image: url("../img/teachers_prev.svg");
}
.swiper-custom-next {
  width: rem(47);
  background-image: url("../img/teachers_next.svg");
}

.slider-products {
  overflow: visible;

  .swiper-slide {
    color: $primary;
    overflow: visible;
    opacity: 0;
    transition: all 0.1s ease;

    &.swiper-slide-active,
    &.swiper-slide-next,
    &.swiper-slide-duplicate-next {
      z-index: 2;
    }
    &:hover {
      z-index: 3;
      transform: scale(1.1);
      
      .product-link {
        opacity: 1;
      }
      .embed-responsive-item img {
        -webkit-filter: drop-shadow(0 rem(20) rem(30) rgba($black, 0.1));
                filter: drop-shadow(0 rem(20) rem(30) rgba($black, 0.1));
      }
    }

    .embed-responsive {
      overflow: visible;
    }
    .embed-responsive-item {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible;

      img {
        max-width: 100%;
        max-height: 100%;
        transition: $transition;
      }
    }

    .slide-header {
      font-family: $font-family-primary-exp;
      font-weight: 300;
      font-size: rem(32);
      line-height: 40/32;
      text-transform: uppercase;
  
      b {
        font-family: $font-family-primary;
        font-weight: 600;
      }
    }
    .slide-subheader {
      font-family: $font-family-primary;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
    }
    .btn-see-all {
      font-family: $font-family-primary;
      font-size: rem(18);
      font-weight: 500;
      color: $primary;
      text-transform: uppercase;
    }
  }

  .swiper-products-prev, .swiper-products-next {
    height: rem(18);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &:hover {
      opacity: .5;
    }
  }
  .swiper-products-prev {
    width: rem(24);
    margin-right: rem(22);
    background-image: url("../img/teachers_prev.svg");
  }
  .swiper-products-next {
    width: rem(47);
    background-image: url("../img/teachers_next.svg");
  }
}

.swiper-slider {
  &[data-visible-slides="1"] {
    .swiper-slide-active {
      & {
        opacity: 1;
        transition: opacity 0s linear, transform 0.1s ease, -webkit-filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease, -webkit-filter 0.1s ease;
      }
    }
  }
  &[data-visible-slides="2"] {
    .swiper-slide-active {
      &,
      & + .swiper-slide {
        opacity: 1;
        transition: opacity 0s linear, transform 0.1s ease, -webkit-filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease, -webkit-filter 0.1s ease;
      }
    }
  }
  &[data-visible-slides="3"] {
    .swiper-slide-active {
      &,
      & + .swiper-slide,
      & + .swiper-slide + .swiper-slide {
        opacity: 1;
        transition: opacity 0s linear, transform 0.1s ease, -webkit-filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease, -webkit-filter 0.1s ease;
      }
    }
  }
  &[data-visible-slides="4"] {
    .swiper-slide-active {
      &,
      & + .swiper-slide,
      & + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 1;
        transition: opacity 0s linear, transform 0.1s ease, -webkit-filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease, -webkit-filter 0.1s ease;
      }
    }
  }
  &[data-visible-slides="5"] {
    .swiper-slide-active {
      &,
      & + .swiper-slide,
      & + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 1;
        transition: opacity 0s linear, transform 0.1s ease, -webkit-filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease, -webkit-filter 0.1s ease;
      }
    }
  }
  &[data-visible-slides="6"] {
    .swiper-slide-active {
      &,
      & + .swiper-slide,
      & + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide,
      & + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
        opacity: 1;
        transition: opacity 0s linear, transform 0.1s ease, -webkit-filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease;
        transition: opacity 0s linear, transform 0.1s ease, filter 0.1s ease, -webkit-filter 0.1s ease;
      }
    }
  }
}

figure.embed-responsive-item {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img, svg {
    min-width: 100%;
    min-height: 100%;
  }
}

.card-v2 {
  box-shadow: rem(10) rem(24) rem(56) rgba($gray-900, 0.2);
  background-color: $white;
  display: flex;
  flex-direction: column;

  .card-v2-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
  .card-v2-header {
    margin-bottom: rem(16);
    font-family: $font-family-primary;
    font-size: rem(26);
    font-weight: 700;
  }
  .card-v2-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .card-v2-text {
    font-size: rem(14);
    font-weight: 300;
  }
  .card-v2-text:not(:last-child) {
    margin-bottom: rem(32);
  }
  
  .card-v2-label {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;

    &, *  {
      font-family: $font-family-primary-exp;
      font-weight: 700;
      font-size: rem(12);
    }
    .btn {
      border-radius: rem(50);
    }
  }

  footer {
    margin-top: auto;
    font-size: rem(18);
    color: $primary;
    justify-self: flex-end;

    dl {
      margin-bottom: rem(8);
      font-family: $font-family-primary;
      font-size: rem(12);
      font-weight: 700;
      text-transform: uppercase;
    }
    time {
      font-family: $font-family-primary;
      font-size: rem(32);
      font-weight: 600;
      color: inherit;
      text-transform: uppercase;
    }
  }
}
.swiper-cards-v2 {
  $steepX: rem(128);
  margin: rem(-32) auto rem(-80) #{-$steepX};
  padding: rem(32) $steepX rem(80);
  overflow: hidden;
  width: 100vw;

  .swiper-slider {
    overflow: visible;
  }
  .swiper-slide {
    width: rem(420);
    transition: all 0.1s ease;
    transform: scale(0.9);

    &[data-swiper-slide-index] {
      opacity: 0;
    }
    &[data-visible="true"] {
      opacity: 1;
      transition: opacity 0s ease, transform 0.1s ease;
    }
    &.swiper-slide-active {
      opacity: 1;
    }
    &.swiper-slide-active,
    &.swiper-slide-duplicate-active {
      transform: scale(1);
    }
    &.swiper-slide-prev,
    &.swiper-slide-duplicate-prev {
      opacity: 0;
      transform: scale(0.5);
      transition: all 0.1s ease;
    }
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-category-courses {
    .swiper-cards-v2 {
      margin: rem(-32) -20px rem(-80);
      padding: rem(32) 20px rem(80);
      width: calc(100% + 40px);

      .swiper-slide {
        max-width: rem(420);
        width: 100%;
      }
    }
  }
}


/****************************************************/

form {
  $bs: 15;

  .form-group {
    margin-bottom: rem(32, $bs);
  }
  .control-label {
    margin: 0 0 rem(16, $bs);
    font-family: $font-family-primary;
    font-size: rem(24, $bs);
    line-height: 30 / 24;
    text-transform: uppercase;
  }

  .form-group-input,
  .form-group-textarea {
    position: relative;
    font-family: $font-family-primary;
    border-bottom: solid 1px $primary;
    
    label.control-label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      display: block;
      pointer-events: none;
      transition: all 0.15s ease;
      margin: rem(21, $bs) rem(16, $bs);
      transform-origin: top left;
    }

    &:not(.form-group-textarea) {
      padding: rem(21, $bs) rem(16, $bs);
    }

    input[type="text"].form-control,
    textarea.form-control,
    select.form-control {
      margin: 0;
      padding: 0;
      font-size: rem(24, $bs);
      line-height: 30 / 24;
      background-color: transparent;
      transition: all 0.15s ease;
    }

    // label translate to top
    input[type="text"].form-control,
    textarea.form-control {
      &:not(:placeholder-shown),
      &:active,
      &:focus {
        transform: translateY(0.5em);
        & ~ label.control-label {
          color: $red;
          transform: scale(0.6) translateY(-0.5em);
        }
      }
    }
    
    // label translate to top
    input[type="text"].form-control,
    textarea.form-control {
      &:-webkit-autofill:hover {
        transform: translateY(0.5em);
        & ~ label.control-label {
          color: $red;
          transform: scale(0.6) translateY(-0.5em);
        }
      }
    }

    .form-control:required ~ label.control-label:after {
      content: '*';
    }
    
    // select
    select.form-control {
      margin: 0 rem(-4, 15);
      cursor: pointer;
      
      &:valid {
        transform: translateY(rem(6, $bs));
        & ~ label.control-label {
          color: $red;
          transform: scale(0.6) translateY(-0.5em);
        }
      }
    }
    
    // textarea
    textarea.form-control {
      padding: rem(21, $bs) rem(16, $bs);
    }
  }

  // checkbox, radio
  .form-group-checkbox {
    .custom-control-input {
      top: 0;
      left: $grid-gutter-width/2;
      width: rem(24, $bs);
      height: rem(24, $bs);
    }
    .custom-control-label {
      position: relative;
      padding: rem(4, $bs) rem(12, $bs) rem(4, $bs) rem(24 + 16, $bs);
      font-family: $font-family-primary;
      font-size: rem(16, $bs);
      line-height: 1;
      text-transform: uppercase;

      &:after,
      &:before {
        top: 0;
        left: 0;
        width: rem(24, $bs);
        height: rem(24, $bs);
      }
      &:before {
        border: solid 1px $primary;
        border-radius: rem(4, $bs);
        background-color: transparent;
      }
      &.custom-radio:before {
        border-radius: 100%;
      }
    }

    input:checked + .custom-checkbox:after {
      width: rem(16, $bs);
      height: rem(10, $bs);
      border-color: $white;
      border-width: rem(4, $bs);
      border-style: none none solid solid;
      transform: translate(rem(4, $bs), rem(4, $bs)) rotate(-45deg);
    }
    input:checked + .custom-radio:after {
      width: rem(15, $bs);
      height: rem(15, $bs);
      background-color: $white;
      border-radius: 100%;
      transform: translate(rem(4.5, $bs), rem(4.5, $bs));
    }
  }

  input.date-range {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 0;
    border: none;
    background: transparent;
    visibility: hidden;
  }
}

