$BASE_FONT_FOR_REM_CALCULATIONS: 15;
@import "plugins/functions";
@import 'variables';

/*-------------------------------------------------------------------------------------------------------------- HOME */

.home-start {
  .scroll {
    bottom: rem(40);
    z-index: 1;
    .scroll-arrow {
      color: $light-gold;
      font-family: $font-family-base;
      font-size: rem(14);
      font-weight: 300;
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: rem(30);
        left: 50%;
        width: 1px;
        height: rem(85);
        background: $light-gold;
      }
    }
  }
}

/*--------------------------------------------------------------------------------------------------------- GYEON WAY */

.section-home-gyeon-way {
  padding: rem(110) 0 rem(150);
  background: $gray-100;
  .section-header {
    margin-bottom: rem(45);
    font-size: rem(65);
    font-weight: 700;
    font-family: $font-family-primary-com;
    color: $dark-blue;
    span {
      display: inline-block;
      margin-bottom: rem(10);
      vertical-align: middle;
    }
  }
  .section-small-header {
    margin-bottom: rem(40);
    padding-top: 0;
    z-index: 1;
  }
  .btn {
    font-size: rem(18);
    font-weight: 500;
    text-decoration: underline;
  }
  .image-bg {
    top: rem(20);
    left: calc(50% - 18.5rem);
    width: rem(520);
    height: rem(499);
    background-image: url("../img/gyeon_way.svg");
  }
  .position-relative {
    z-index: 1;
  }
}

/*---------------------------------------------------------------------------------------------------------- PRODUCTS */

.section-small-header {
  padding-top: rem(50);
}

.products-container {
  background: $gray-100;
  .product-section {
    height: calc(100vh - 70px);
  }
  .vertical-text {
    top: 40%;
    .display-2 {
      transform: rotate(-90deg);
      font-family: $font-family-primary-com;
      font-weight: 700;
    }
  }
  .text-box {
    width: rem(300);
  }
  .text-box p,
  .text-box-header {
    margin-bottom: rem(20);
    color: $primary;
  }

  /*------------------------------------------------------------------------------------------------------ Coatings */

  .section-home-coatings {
    .section-name {
      top: 20%;
    }
    .diamond1 {
      top: -18%;
      left: -3.4%;
      width: rem(252);
      height: rem(320);
      background-image: url("../img/diamond1.svg");
    }
    .diamond2 {
      right: -5.5%;
      bottom: 11.43%;
      width: rem(310);
      height: rem(288);
      background-image: url("../img/diamond2.svg");
    }
    .container {
      .text-box {
        bottom: 15%;
        left: 20%;
      }
      .blue-ball {
        top: 33.5%;
        left: 25%;
        width: rem(262);
        height: rem(252);
        background-image: url("../img/blue_ball.png");
        z-index: 3;
      }
      .blue-ball-small {
        top: 39%;
        left: 44.5%;
        width: rem(46);
        height: rem(44);
        background-image: url("../img/blue_ball_small.png");
        z-index: 3;
      }
      .q2 {
        top: 26%;
        left: 25.5%;
        width: rem(380);
        height: auto;
      }
      .bottle1 {
        top: 25%;
        right: 34.5%;
        width: rem(113);
      }
      .bottle2 {
        top: -11%;
        right: 20.5%;
        width: rem(362);
        z-index: 2;
      }
    }
  }

  /*--------------------------------------------------------------------------------------------------- Maintenance */

  .section-home-maintenance {
    .container {
      .text-box {
        right: 18%;
        bottom: 25%;
      }
      .q2m {
        top: 15.5%;
        right: 12.5%;
        width: rem(466);
        height: auto;
      }
      .blue-ball-medium {
        top: 58%;
        left: 40.4%;
        width: rem(98);
        height: rem(82);
        background-image: url("../img/blue_ball_medium.png");
        z-index: 3;
      }
      .blue-bubble {
        top: 51%;
        left: 35%;
        width: rem(224);
        height: rem(225);
        background-image: url("../img/blue_bubble.png");
        z-index: 4;
      }
      .violet-ball {
        top: 1%;
        left: 38%;
        width: rem(90);
        height: rem(68);
        background-image: url("../img/violet_ball.png");
        z-index: 5;
      }
      .bottle3 {
        top: 1%;
        left: 25.5%;
        width: rem(314);
        z-index: 2;
      }
      .bottle4 {
        top: 31%;
        left: 18%;
        width: rem(131);
        z-index: 1;
      }
      .diamond3 {
        bottom: 8%;
        left: 11%;
        width: rem(263);
        height: rem(288);
        background-image: url("../img/diamond3.svg");
      }
    }
  }

  /*--------------------------------------------------------------------------------------------------- Accessories */

  .section-home-accessories {
    .section-name {
      top: -4%;
    }
    .container {
      .text-box {
        top: 22%;
        left: 20%;
      }
      .speaker {
        top: 4%;
        right: 9%;
        width: rem(457);
      }
      .acc-ball {
        top: 40%;
        right: 31%;
        width: rem(75);
        height: rem(75);
        background-image: url("../img/acc_ball.png");
        z-index: 1;
      }
      .acc-bubble {
        top: 37.5%;
        right: 29%;
        width: rem(134);
        height: rem(134);
        background-image: url("../img/acc_bubble.png");
        opacity: .2;
        z-index: 2;
      }
      .acc-ball2 {
        bottom: 11%;
        left: 32.5%;
        width: rem(129);
        height: rem(129);
        background-image: url("../img/acc_ball2.png");
        z-index: 1;
      }
      .acc-ball3 {
        bottom: 11%;
        left: 38%;
        width: rem(45);
        height: rem(45);
        background-image: url("../img/acc_ball3.png");
        z-index: 2;
      }
      .acc-bubble2 {
        bottom: 2%;
        left: 32%;
        width: rem(261);
        height: rem(260);
        background-image: url("../img/acc_bubble2.png");
        opacity: 0.1;
        z-index: 3;
      }
    }
  }

  /*----------------------------------------------------------------------------------------------------------- Ppf */

  .section-home-ppf {
    background: $lighter-gold;
    height: 110vh;
    .section-name .text {
      font-size: rem(22);
    }
    .ppf-slant {
      top: -1px;
      height: rem(180);
      background: $gray-100;
      background: linear-gradient(175deg, rgba($gray-100,1) 0%, rgba($gray-100,1) 50%, $lighter-gold 51%, $lighter-gold 100%);
    }
    .vertical-text {
      top: 35%;
    }
    .diamond4 {
      top: 14%;
      right: -8%;
      width: rem(265);
      height: rem(345);
      background-image: url("../img/diamond4.svg");
    }
    .container {
      .text-box {
        top: 41%;
        right: 14%;
      }
      .ppf1 {
        top: 49%;
        left: 37.5%;
        width: rem(265);
        z-index: 2;
      }
      .ppf2 {
        top: 4%;
        left: 27.5%;
        width: rem(130);
        z-index: 1;
      }
      .q2f {
        top: 23%;
        right: 17%;
        width: rem(450);
        height: auto;
      }
    }
    .ppf-slant2 {
      bottom: -1px;
      height: rem(180);
      background: $light-blue;
      background: linear-gradient(5deg, $light-blue 0%, $light-blue 50%, rgba($raw-red,0) 51%, rgba($raw-red,0) 100%);
      z-index: 3;
    }
  }

  /*------------------------------------------------------------------------------------------------ Yachts & boats */

  .section-home-yachts-boats {
    background: $light-blue;
    z-index: 3;
    .text-left {
      .text {
        font-size: rem(22);
      }
    }
    .container {
      .section-small-header {
        padding-top: rem(50);
      }
      .text-box {
        bottom: 26.5%;
        left: 16.8%;
      }
      .q2r {
        top: 20%;
        left: 20%;
        width: rem(426);
      }
      .crystal {
        top: 24.5%;
        left: 46.5%;
        width: rem(425);
        height: rem(222);
        background-image: url("../img/crystal.svg");
      }
      .bottle5 {
        top: 39%;
        right: 34.5%;
        width: rem(414);
        z-index: 1;
      }
      .little-crystal {
        top: 65.7%;
        right: 45.1%;
        width: rem(23);
        height: rem(23);
        background-image: url("../img/little_crystal.png");
        z-index: 2;
      }
      .little-ball {
        top: -6%;
        right: 45.8%;
        width: rem(57);
        height: rem(57);
        background-image: url("../img/little_ball.png");
        z-index: 1;
      }
    }
  }
}

/*---------------------------------------------------------------------------------------------------- GLOBAL NETWORK */

.section-home-global-network {
  height: calc(100vh - 70px);
  background: $white;
  .section-small-header {
    padding-top: rem(70);
    z-index: 2;
  }
  .text-box {
    bottom: 20%;
    left: 10%;
    z-index: 2;
    .text-box-header {
      margin-bottom: rem(40);
      font-weight: 200;
    }
    p {
      margin-bottom: rem(35);
      color: $gray-650;
      font-family: "Open Sans";
      font-size: rem(14);
      font-weight: 300;
    }
    footer {
      margin-bottom: rem(20);
      letter-spacing: 0;
    }
    .btn {
      font-size: rem(18);
      font-weight: 500;
      text-decoration: underline;
    }
  }
  .map {
    top: -3%;
    right: 4.5%;
    width: rem(1229);
    height: rem(869);
    background-image: url("../img/map.png");
  }
  .diamond5 {
    top: 16.5%;
    left: 44.5%;
    width: rem(385);
    height: rem(347);
    background-image: url("../img/diamond5.svg");
    z-index: 1;
  }
  .crystal2 {
    right: 14%;
    bottom: 3.5%;
    width: rem(425);
    height: rem(220);
    background-image: url("../img/crystal2.svg");
    z-index: 1;
  }
  .circle-photo {
    right: 31.5%;
    bottom: 17.5%;
    width: rem(321);
    z-index: 2
  }
}

/*------------------------------------------------------------------------------------------------------ NEWS & FACTS */

.section-home-news-facts {
  height: calc(100vh - 70px);
  background: $gray-100;
  .section-header {
    padding-top: rem(100);
    margin-bottom: rem(100);
    font-weight: 200;
  }
  .swiper-container {
    overflow: unset;
    .event-link:hover {
      opacity: 1;
      transform: scale(1.1);
      .slide-card {
        -webkit-box-shadow: 0px 15px 25px 0px rgba($black,0.25);
        -moz-box-shadow: 0px 15px 25px 0px rgba($black,0.25);
        box-shadow: 0px 15px 25px 0px rgba($black,0.25);
        transition: $transition;
      }
    }
    .slide-card {
      width: 100%;
      -webkit-box-shadow: 0px 10px 15px 0px rgba($black,0.25);
      -moz-box-shadow: 0px 10px 15px 0px rgba($black,0.25);
      box-shadow: 0px 10px 15px 0px rgba($black,0.25);
      .card-head {
        height: rem(280);
        background-size: cover;
        background-position: center;
        .card-badge {
          top: rem(15);
          right: 0;
          padding: rem(8) rem(16);
          background: $red;
          color: $white;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
      .card-body {
        padding: rem(24);
        background: $white;
        .card-body-header {
          margin-bottom: rem(5);
          color: $dark-violet;
          font-weight: 500;
        }
        time {
          color: $dark-violet;
          font-size: rem(12);
        }
      }
    }
  }
}