$BASE_FONT_FOR_REM_CALCULATIONS: 15;
@import "plugins/functions";
@import 'variables';

/*---------------------------------------------------------------------------------------------------------- GEC HOME */

.gec-home {
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  .scroll {
    bottom: rem(40);
    z-index: 1;
    .scroll-arrow {
      color: $light-gold;
      font-family: $font-family-base;
      font-size: rem(14);
      font-weight: 300;
      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: rem(30);
        left: 50%;
        width: 1px;
        height: rem(85);
        background: $light-gold;
      }
    }
  }
}

/*---------------------------------------------------------------------------------------------------- GEC EXPERIENCE */

.section-gec-experience {
  padding: rem(80) 0 rem(70);
  background: $gray-200;
  .gyeon-experience-bg1 {
    top: -89%;
    left: -22%;
    width: rem(971);
    height: rem(980);
    background-image: url("../img/gyeon_experience_bg1.svg");
  }
  .gyeon-experience-bg2 {
    top: -55%;
    right: -11%;
    width: rem(971);
    height: rem(980);
    background-image: url("../img/gyeon_experience_bg2.svg");
  }
  .section-small-header {
    margin-bottom: rem(65);
  }
  .section-header {
    margin-bottom: rem(30);
    font-size: rem(75);
    font-weight: 700;
    line-height: 71 / 75;
    span {
      font-family: $font-family-primary-exp;
    }
  }
  p {
    width: rem(420);
    margin-left: rem(100);
    font-weight: 400;
  }
  .navy-blue-ball1 {
    top: 10%;
    right: 20%;
    width: rem(195);
    height: rem(187);
    background-image: url("../img/navy_blue_ball1.png");
    z-index: 1;
  }
  .red-ball1 {
    top: 59%;
    right: 14%;
    width: rem(140);
    height: rem(108);
    background-image: url("../img/red_ball1.png");
    z-index: 3;
  }
  .red-ball2 {
    right: 23.5%;
    bottom: -20%;
    width: rem(36);
    height: rem(28);
    background-image: url("../img/red_ball2.png");
    z-index: 2;
  }
  .red-ball3 {
    bottom: -5%;
    left: 44%;
    width: rem(90);
    height: rem(70);
    background-image: url("../img/red_ball3.png");
    z-index: 2;
  }
}

/*-------------------------------------------------------------------------------------------------------- GEC CENTER */

.section-gec-center {
  height: calc(80vh + 6.6666666667rem);
  background: $gray-200;
  .navy-blue-ball2 {
    top: 40%;
    left: 13%;
    width: rem(89);
    height: rem(86);
    background-image: url("../img/navy_blue_ball2.png");
    z-index: 1;
  }
  .plywood {
    top: 15%;
    left: 21%;
    width: rem(154);
    height: rem(152);
    background-image: url("../img/plywood.png");
    z-index: 1;
  }
  .gec-diamond {
    top: 7%;
    left: 0;
    width: rem(250);
    height: rem(377);
    background-image: url("../img/gec_diamond.svg");
  }
  .txt-gyeon {
    top: 1.75%;
    right: 12%;
    width: rem(610);
    z-index: 1;
  }
  .box-experience {
    top: 15%;
    right: 0;
    z-index: 2;
    .txt-experience {
      color: $dark-violet;
      font-family: $font-family-primary-com;
      font-size: rem(73);
      font-weight: 700;
      transform: translateX(136px) rotate(-90deg);
    }
    img {
      width: rem(640);
    }
  }
  .txt-center {
    right: 18%;
    bottom: 18%;
    width: rem(710);
    z-index: 1;
  }
  .center-slant {
    bottom: -1px;
    height: rem(100);
    background: transparent;
    background: linear-gradient(178deg, transparent 0%, transparent 50%, $red 51%, $red 100%);
  }
}

/*------------------------------------------------------------------------------------------------------ GEC TRAINERS */

.section-gec-trainers {
  padding: rem(70) 0 rem(100);
  background: $red;
  z-index: 1;
  .trainers-row {
    .trainers-col {
      padding: 0 rem(80);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      .trainers-header {
        margin-bottom: rem(15);
        color: $white;
        font-size: rem(40);
        font-weight: 300;
      }
      p {
        color: $white;
        font-weight: 300;
      }
    }
  }
  .trainers-diamond1 {
    top: -14%;
    right: -1%;
    width: rem(275);
    height: rem(330);
    background-image: url("../img/trainers_diamond1.svg");
  }
  .trainers-diamond2 {
    bottom: -33%;
    left: -5%;
    width: rem(380);
    height: rem(456);
    background-image: url("../img/trainers_diamond2.svg");
  }
  .trainers-redball1 {
    top: 7%;
    right: 4%;
    width: rem(85);
    height: rem(65);
    background-image: url("../img/trainers_redball1.png");
    z-index: 2;
  }
  .trainers-redball2 {
    top: 61%;
    right: 4.5%;
    width: rem(35);
    height: rem(27);
    background-image: url("../img/trainers_redball2.png");
    z-index: 1;
  }
  .trainers-redball2-2 {
    top: -1%;
    left: 3%;
    width: rem(35);
    height: rem(27);
    background-image: url("../img/trainers_redball2.png");
    z-index: 1;
  }
  .trainers-redball3 {
    bottom: -5%;
    left: 1.5%;
    width: rem(176);
    height: rem(135);
    background-image: url("../img/trainers_redball3.png");
    z-index: 2;
  }
}

/*------------------------------------------------------------------------------------------------------ GEC TRAINING */

.section-gec-training {
  padding: rem(110) 0 rem(105);
  background: $gray-200;
  .txt-book {
    width: rem(985);
    margin-bottom: rem(65);
    font-weight: 700;
    .txt-book-book, .txt-book-training {
      fill: none;
      stroke: $dark-violet;
      font-family: $font-family-primary-exp;
      font-size: 130px;
    }
    .txt-book-your {
      fill: $dark-violet;
      font-family: $font-family-primary;
      font-size: 135px;
    }
  }
  .training-crystal {
    right: -12.5%;
    bottom: -14.5%;
    width: rem(510);
    height: rem(366);
    background-image: url("../img/training_crystal.svg");
    z-index: 1;
  }
}

/*------------------------------------------------------------------------------------------------------ GEC TRAINING */

.section-gec-advanced {
  padding-bottom: rem(130);
  background: $gray-200;
  .advanced-diamond {
    top: 25%;
    left: -7%;
    width: rem(315);
    height: rem(296);
    background-image: url("../img/advanced_diamond.svg");
    z-index: 1;
  }
  .advanced-row {
    margin-bottom: rem(65);
    .g-hero {
      width: rem(330);
    }
    .advanced-header {
      margin-bottom: rem(15);
      font-size: rem(55);
      font-weight: 500;
    }
    .advanced-underheader {
      margin-bottom: rem(25);
    }
    .advanced-text {
      color: $gray-650;
    }
  }
}

/*------------------------------------------------------------------------------------------------------ GEC TRAINEES */

.section-gec-trainees {
  padding-top: rem(85);
  padding-bottom: rem(125);
  background: $secondary;
  .trainees-slant {
    top: -1px;
    height: rem(70);
    background: $gray-200;
    background: linear-gradient(182deg, $gray-200 0%, $gray-200 50%, $secondary 51%, $secondary 100%);
  }
  .trainees-head {
    .trainees-diamond1 {
      top: -11%;
      left: 0;
      width: rem(310);
      height: rem(372);
      background-image: url("../img/trainees_diamond1.svg");
    }
    .quote {
      top: 26%;
      left: 10.3%;
      width: rem(255);
      height: rem(193);
      background-image: url("../img/quote.svg");
    }
    .txt-our {
      width: rem(290);
      .txt-our-our {
        fill: none;
        stroke: $white;
        font-family: $font-family-primary-exp;
        font-size: 100px;
        font-weight: 700;
      }
    }
    .trainees-header {
      color: $white;
      font-size: rem(60);
      font-weight: 700;
      line-height: 55 / 60;
    }
    .trainees-quote {
      margin-bottom: rem(10);
      padding-top: rem(50);
      color: $white;
      font-family: $font-family-primary-exp;
      font-size: rem(24);
      font-weight: 300;
      line-height: 32 / 24;
    }
    .trainees-underquote {
      color: $white;
      font-weight: 700;
    }
  }
  .trainees-diamond2 {
    top: 6.5%;
    right: -10%;
    width: rem(440);
    height: rem(385);
    background-image: url("../img/trainees_diamond2.svg");
  }
  .swiper-custom-nav {
    filter: invert(100%);
  }
}

.section-gec-gallery {
  background: $secondary;
  .grid-item {
    height: rem(325);
    .puzzles-post {
      display: block;
      position: relative;
      height: 100%;
      text-align: left;
      overflow: hidden;
      opacity: 1 !important;
      transition: all 0.1s ease;
      &:hover .post-background {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }
      .post-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
        transition: all 0.1s ease;
      }
    }
  }
}