$BASE_FONT_FOR_REM_CALCULATIONS: 15;
@import "plugins/functions";
@import 'variables';

.page-about {
  .container {
    position: relative;
    .bg {
      position: absolute;
      top: 0;
      left: 25%;
      right: 0;
      bottom: 0;
      background-color: rgba($blue2, 0.16);
    }
  }
  header {
    .page-about-header {
      margin-bottom: rem(8);
      font-family: $font-family-primary-exp;
      font-weight: 600;
      font-size: rem(56);
    }
    p {
      font-size: rem(12);
      font-weight: 600;
    }
  }
  .image {
    filter: drop-shadow(0 0 rem(20) rgba($black, 0.2));
  }
  .spec {
    dt {
      font-weight: 600;
      font-size: rem(24);
    }
    dd {
      font-family: $font-family-primary-exp;
      font-weight: 300;
      font-size: rem(12);
    }
    &:after {
      content: ' ';
      margin: rem(24) 0;
      height: 1px;
      width: 100%;
      background-color: $primary;
      display: block;
    }
  }
  .page-about-header {
    margin-bottom: rem(16);
    font-family: $font-family-primary-exp;
    font-weight: 600;
    font-size: rem(32);
  }
  footer {
      margin-bottom: rem(8);
    font-size: rem(12);
    font-weight: 600;
  }
}