$bs: 15;
$BASE_FONT_FOR_REM_CALCULATIONS: 15;
@import "plugins/functions";
@import 'variables';

.page-maintenance-bg {
  background-color: $gray-200;
}

.section-maintenance {
  color: $primary;
}

.section-maintenance-main {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;

  * {
    color: inherit;
    line-height: 1.1;
  }
  .break {
    display: inline-flex;
    width: 0;
  }
  
  .section-header {
    font-family: $font-family-primary;
    font-size: rem(100, $bs);
    font-size: clamp(rem(60, $bs), 13vw, rem(100, $bs));
    font-weight: 700;
    color: inherit;
    line-height: 1;
  }
  .section-subheader {
    font-family: $font-family-primary;
    font-size: rem(32, $bs);
    font-size: clamp(rem(24, $bs), 8vw, rem(32, $bs));
    font-weight: 300;
    color: inherit;
  }

  .btn-book {
    font-family: $font-family-primary;
    font-size: rem(20, $bs);
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }


  .flow-image-ball {
    position: absolute;
    top: -12%;
    left: -8%;
    width: #{(275 / 800) * 100}#{'%'};
    height: #{(275 / 800) * 100}#{'%'};
    background-image: url('../img/violet_ball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: grayscale(100%);
  }
  .flow-image-orange-balls {
    position: absolute;
    top: 4.5%;
    left: -10%;
    width: #{(535 / 800) * 100}#{'%'};
    height: #{(555 / 800) * 100}#{'%'};
    background-image: url('../img/orange-balls.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-ball-orange {
    position: absolute;
    top: 50%;
    left: 20%;
    width: #{(200 / 800) * 100}#{'%'};
    height: #{(200 / 800) * 100}#{'%'};
    background-image: url('../img/violet_ball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: hue-rotate(134deg) contrast(250%);
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-maintenance-main {
    .flow-image-ball {
      top: -25%;
      left: -20%;
      width: #{(275 / 500) * 100}#{'%'};
      height: #{(275 / 500) * 100}#{'%'};
    }
    .flow-image-orange-balls {
      top: #{(150 / 500) * 100}#{'%'};
      left: #{(120 / 500) * 100}#{'%'};
      width: #{(535 / 500) * 100}#{'%'};
      height: #{(555 / 500) * 100}#{'%'};
    }
    .flow-image-ball-orange {
      top: 50%;
      left: 39%;
      width: 25%;
      height: 25%;
    }
  }
}

.section-maintenance-second {
  position: relative;

  .container {
    position: relative;
  }
  .section-header {
    margin-bottom: rem(16, $bs);
    font-family: $font-family-primary;
    font-size: rem(48, $bs);
    font-weight: 700;
    color: inherit;
    line-height: 1;
  }
  .flow-image-text-maintenance {
    position: absolute;
    top: rem(180);
    left: 8%;
  }
  .flow-image-text-q2m {
    position: absolute;
    top: rem(400);
    left: 42%;
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-maintenance-second {
    .flow-image-text-maintenance {
      position: absolute;
      top: rem(180);
      left: 0;
    }
    .flow-image-text-q2m {
      position: absolute;
      top: rem(200);
      left: 0;
      width: rem(70, 14);
    }
  }
}

.section-maintenance-price {
  position: relative;
  perspective: 1000px;
  color: $white;

  .section-bg {
    position: absolute;
    top: -10%;
    left: 0;
    right:  0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;

    .skew {
      position: absolute;
      top: 0;
      left: 0;
      right:  0;
      bottom: 0;
      transform-origin: top right;
      transform: skew(0deg, -3deg);
      background-color: $primary;
      overflow: hidden;
    }
  }

  .container {
    position: relative;
    z-index: 3;
  }
  
  .cel-value {
    font-family: $font-family-primary-exp;
    font-weight: 700;
    font-size: rem(100, $bs);
    font-size: clamp(rem(72, $bs), 8vw, rem(100, $bs));
    color: inherit;
  }
  .cel-label {
    font-family: $font-family-primary;
    font-weight: 300;
    font-size: rem(40, $bs);
    color: inherit;
  }

  .flow-image-1 {
    position: absolute;
    top: rem(50);
    left: -10%;
    width: rem(500);
    height: rem(500);
    background-image: url('../img/shape-03.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(80deg);
    filter: hue-rotate(130deg) brightness(2);
  }
  .flow-image-2 {
    position: absolute;
    bottom: rem(100);
    right: -10%;
    width: rem(500);
    height: rem(500);
    background-image: url('../img/shape-02.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(80deg);
    filter: hue-rotate(130deg) brightness(2);
  }
  .flow-image-ball-orange {
    position: absolute;
    top: -4%;
    right: -10%;
    width: 33.3333333333rem;
    height: 10.333333rem;
    background-image: url('../img/violet_ball.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-45deg);
    filter: hue-rotate(134deg) contrast(250%);
    z-index: 2;
  }
  .flow-image-orange-balls-1 {
    position: absolute;
    top: 4.5%;
    left: -20%;
    width: #{(535 / 800) * 100}#{'%'};
    height: #{(555 / 800) * 100}#{'%'};
    background-image: url('../img/orange-balls.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(295deg);
    z-index: 3;
  }
  .flow-image-orange-balls-2 {
    position: absolute;
    top: 4.5%;
    right: -20%;
    width: 40vw;
    height: 40vw;
    background-image: url('../img/orange-balls.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(205deg);
    z-index: 3;
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-maintenance-price {
    .flow-image-1 {
      top: rem(-120);
      left: -25%;
      transform: rotate(140deg) !important;
    }
    .flow-image-2 {
      bottom: rem(-180);
      right: -20%;
      transform: rotate(170deg) !important;
    }
    .flow-image-ball-orange {
      top: unset;
      right: unset;
      bottom: 0%;
      left: -15%;
    }
    .flow-image-orange-balls-1 {
      top: 44.5%;
      left: 20%;
      width: 60vw;
      height: 60vw;
    }
    .flow-image-orange-balls-2 {
      width: 100vw;
      height: 100vw;
    }
  }
}

.section-maintenance-program {
  overflow: hidden;

  .section-header {
    margin-bottom: rem(24, $bs);
    font-family: $font-family-primary-exp;
    font-weight: 700;
    font-size: rem(48, $bs);
    font-size: clamp(rem(28, $bs), 12vw, rem(48, $bs));
    line-height: 1;
  }

  .program-label {
    margin-bottom: rem(16, $bs);
    font-family: $font-family-primary-exp;
    font-weight: 700;
    font-size: rem(16, $bs);
    line-height: 1;
    text-transform: uppercase;
  }
  .program-value {
    margin-bottom: 0;

    figcaption {
      margin-top: rem(8, $bs);
      font-family: $font-family-primary;
      font-weight: 600;
      font-size: rem(12, $bs);
      line-height: 1.2;
      color: $gray-800;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .btn-book-now {
    font-family: $font-family-primary;
    font-size: rem(20, $bs);
    text-decoration: underline;
  }

  .program-enum {
    margin: rem(-20, $bs) 0 rem(-20, $bs);
    padding: 0;
    list-style: none;
    counter-reset: numbers;

    li {
      margin: rem(40, $bs) 0;
      position: relative;
      padding: 0.25em 0;
      padding-left: #{(48 + 27) / 24}em;
      font-family: $font-family-primary;
      font-weight: 600;
      font-size: rem(24, $bs);
      color: $primary;
      line-height: 1.5;

      &:before {
        content: counters(numbers,".") " ";
        counter-increment: numbers;
        position: absolute;
        top: 0;
        left: 0;
        font-family: $font-family-primary-exp;
        font-weight: 700;
        color: $white;
        width: 2em;
        height: 2em;
        border-radius: 2em;
        background-color: $red;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  
  .container {
    position: relative;
    z-index: 3;
  }
  .flow-image-1 {
    position: absolute;
    bottom: rem(-250);
    left: -17%;
    width: rem(500);
    height: rem(500);
    background-image: url('../img/shape-08.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-7deg);
  }
  .flow-image-2 {
    position: absolute;
    top: rem(100);
    right: -20%;
    width: rem(500);
    height: rem(500);
    background-image: url('../img/shape-03.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-80deg);
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-maintenance-program {
    .no-select {
      transform: rotate(180deg);
    }
    .flow-image-1 {
      bottom: rem(200);
      left: -67%;
    }
    .flow-image-2 {
      right: -47%;
      top: unset;
      bottom: rem(800);
    }
  }
}

.section-maintenance-form {
  background-image: url('../img/gyeon_way_06.svg');
  background-position: center -10%;
  background-repeat: no-repeat;
  background-size: auto;

  .section-header {
    font-family: $font-family-primary-exp;
    font-weight: 700;
    font-size: rem(72, $bs);
    font-size: clamp(rem(32, $bs), #{72 / 1366 * 100}vw, rem(72, $bs));;
    line-height: 1;
  }
  .dp_target {
    margin-left: -100vw;
    width: calc(100% + 100vw);
    max-width: unset;
    flex: 0 0 auto;
  }
}


body .daterangepicker .calendar-table {
  font-size: 16px;
  th {
    font-family: $font-family-primary;
    font-weight: 400;
    font-size: 1.1em;
  }
  td {
    margin: 0.1em 0;
    padding: 0;
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 1.1em;
    min-width: 2em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: solid 5px white;
    border-style: solid none;
    background-color: transparent;
    
    &.active {
      &.off {
        color: $gray-200;
      }
    }
    &.in-range {
      position: relative;
      border-radius: 3em 0 0 3em;
      &:after {
        content: ' ';
        position: absolute;
        top: 0.3em;
        left: -0.3em;
        right: -0.3em;
        bottom: 0.3em;
        border-radius: 0.2em;
        display: block;
        background-color: $red;
        filter: contrast(15%) brightness(180%);
        pointer-events: none;
      }
      &:first-child:after {
        left: 0.3em;
        border-radius: 2em 0 0 2em;
      }
      &:last-child:after {
        right: 0.3em;
        border-radius: 0 2em 2em 0 ;
      }
    }

    &.start-date {}

    &.end-date {
      &:after {display: none;}
    }
    &:hover {
      &:after {display: none;}
    }

    &:hover,
    &.active,
    &.start-date,
    &.end-date {
      position: relative;
      color: $white;
      border: solid 0.3em white;
      border-style: solid none;
      background-color: transparent;
      &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        display: block;
        border-radius: 3em;
        background-color: $red;
        pointer-events: none;
      }
    }
    & > span {
      margin: 0 -1em;
      position: relative;
      z-index: 2;
      pointer-events: none;
    }
  }
}