$bs: 15;
$BASE_FONT_FOR_REM_CALCULATIONS: 15;
@import "plugins/functions";
@import 'variables';

.section-products {
  position: relative;
  .section-name {
    padding: 0 rem(32);
    width: 1.2rem + rem(32 * 2);
    .text {
      font-size: rem(20);
    }
  }
  .container {
    position: relative;
  }
}
.section-products-1 {
  position: relative;
  color: $primary;
  min-height: 100vh;

  .scroll {
    bottom: rem(48);
    .scroll-arrow:before {
      content: "";
      display: block;
      position: absolute;
      bottom: rem(30);
      left: 50%;
      width: 1px;
      height: rem(85);
      background: $gray-600;
    }
  }

  .section-header {
    margin-bottom: rem(8);
    font-family: $font-family-primary;
    font-size: rem(60);

    span {
      font-family: $font-family-primary-exp;
      font-weight: 300;

      sup {
        font-size: #{(38 / 60)}em;
      }
    }
    b {
      font-weight: 700;
    }
  }

  .section-text {
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .text-1 {
    font-family: $font-family-primary;
    font-size: rem(32);
    line-height: 35/32;
    text-transform: uppercase;
  }
  .text-2 {
    margin-bottom: rem(32);
    font-size: rem(16);
    line-height: 24/16;
  }
  dl.properties {
    margin-bottom: rem(32);
    font-size: rem(12);
    line-height: 24/12;
    width: rem(430);
    max-width: 100%;
    border-left: solid rem(1.1) $primary;
    display: flex;
    flex-direction: column;
    
    & > *:first-child {
      margin-top: rem(-5);
      border-top: none;
    }
    & > * {
      padding-left: rem(13);
      border-top: solid rem(1.1) $primary;
    }
    & > *:last-child {
      margin-bottom: rem(-5);
    }

    dt {
      font-weight: inherit;
      text-transform: uppercase;
      display: inline;
    }
    dd {
      font-weight: inherit;
      display: inline;
    }
  }

  .image {
    position: absolute;
    top: 0;
    right: -5%;
    width: 100vh;
    height: 100vh;
  }
  .image-bg {
    position: absolute;
    top: -22%;
    right: -15%;
    width: 160%;
    height: 160%;
    background-image: url('../img/gyeon_way_02.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .image-products {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;

    img {
      max-width: 70%;
      max-height: 65%;
    }
  }

  .btn-list {
    $gutter: 22;

    margin: 0 rem(-$gutter);
    display: flex;

    .btn {
      margin: 0 rem($gutter);
      font-size: rem(16);
      font-weight: 600;
    }
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'xl')) {
  .section-products-1 {
    .image {
      top: 15%;
      height: 70%;
      width: 50vw;
    }
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-products-1 {
    .container {
      padding-top: rem(70, 14);
      padding-bottom: rem(70, 14);
    }
    .image {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      height: 100vw;
      width: 100%;
    }
    .image-bg {
      top: -50vw;
      left: -80vw;
      width: 220vw;
      height: 220vw;
    }
    .image-products {
      padding: rem(24);
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .section-header {
      font-size: rem(42, 14);
    }
    .text-1 {
      font-size: rem(24, 14);
      width: 75%;
    }
    .btn-list {
      $gutter: 5;
  
      margin: 0 rem(-$gutter);
  
      .btn {
        margin: 0 rem($gutter);
        flex: 1 1 50%;
      }
    }
  }
}
.section-products-2 {
  position: relative;
  padding: rem(30) 0 0;
  color: $white;
  -webkit-perspective: 1000px;
  perspective: 1000px;

  &:before {
    content: ' ';
    position: absolute;
    top: -10%;
    left: -40%;
    right: -0%;
    bottom: -15%;
    background-color: $blue2;
    background-image: url('../img/gyeon_way_03.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    display: block;
    transform-origin: center right;
    transform: rotateY(-15deg);
  }

  .section-name {color: inherit;}
  .header {
    margin-bottom: rem(16);
    font-family: $font-family-primary;
    font-weight: 300;
    font-size: rem(32);
    line-height: 36/32;

    & > * {
      color: inherit;
    }

    b {
      font-family: $font-family-primary-exp;
      font-weight: 700;
    }
  }

  .flow-image-shape-1 {
    position: absolute;
    right: -#{(270 / 1366) * 100}vw;
    top: -#{(90 / 1366) * 100}vw;
    width: #{(535 / 1366) * 100}vw;
    height: #{(555 / 1366) * 100}vw;
    background-image: url('../img/shape-01.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-products-2 {
    .flow-image-shape-1 {
      position: absolute;
      right: -#{(170 / 400) * 100}vw;
      top: unset;
      bottom: -#{(90 / 400) * 100}vw;
      width: #{(535 / 400) * 75}vw;
      height: #{(555 / 400) * 75}vw;
    }
  }
}
.section-products-video {
  position: relative;
  color: $primary;

  .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .video {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .video-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .promotor {
    margin: -20% -10% 0;
    max-width: 120%;
  }
  .section-text {
    padding-top: rem(60);
  }
  .section-header {
    margin-bottom: rem(8);
    font-family: $font-family-primary-exp;
    font-weight: 700;
    font-size: rem(24);
    line-height: 32/24;
  }
  dl.properties {
    font-family: $font-family-primary;
    font-size: rem(16);
    font-weight: 600;
    line-height: 24/16;

    dt {
      font-weight: inherit;
      text-transform: uppercase;
      display: inline;
    }
    dd {
      font-weight: inherit;
      display: inline;
    }
    br:last-child {display: none;}
  }
}
.section-products-images {
  z-index: 1;
  
  .section-header {
    font-family: $font-family-primary-exp;
    font-weight: 700;
    font-size: rem(63);
    line-height: 1;
  }

  img {
    position: relative;
    z-index: 2;
  }

  .flow-image-shape-1 {
    position: absolute;
    right: #{(150 / 1366) * 100}vw;
    top: -#{(415 / 1366) * 100}vw;
    width: #{(399 / 1366) * 100}vw;
    height: #{(261 / 1366) * 100}vw;
    background-image: url('../img/shape-02.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-text-q2m {
    position: absolute;
    right: 0;
    top: -#{(100 / 1366) * 100}vw;
    width: #{(499 / 1366) * 100}vw;
    height: #{(203 / 1366) * 100}vw;
  }
  .flow-image-text-coatings {
    position: absolute;
    left: #{(60 / 1366) * 100}vw;
    top: -#{(40 / 1366) * 100}vw;
    width: #{(203 / 1366) * 100}vw;
    height: #{(959 / 1366) * 100}vw;
  }
  .flow-image-shape-2 {
    position: absolute;
    left: #{(190 / 1366) * 100}vw;
    top: #{(305 / 1366) * 100}vw;
    width: #{(439 / 1366) * 100}vw;
    height: #{(476 / 1366) * 100}vw;
    background-image: url('../img/shape-03.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-shape-3 {
    position: absolute;
    right: -#{(208 / 1366) * 100}vw;
    bottom: -#{(307 / 1366) * 100}vw;
    width: #{(439 / 1366) * 100}vw;
    height: #{(476 / 1366) * 100}vw;
    background-image: url('../img/shape-04.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-products-images {
    .section-header {
      font-size: rem(27, 14);
    }
    .flow-image-shape-1 {
      position: absolute;
      right: #{(0 / 375) * 75}vw;
      top: -#{(541 / 375) * 100}vw;
      width: #{(399 / 375) * 75}vw;
      height: #{(261 / 375) * 75}vw;
    }
    .flow-image-text-q2m {
      position: absolute;
      right: -#{(50 / 375) * 100}vw;
      top: -#{(300 / 375) * 100}vw;
      width: #{(499 / 375) * 100}vw;
      height: #{(203 / 375) * 100}vw;
    }
    .flow-image-text-coatings {
      position: absolute;
      left: -#{(20 / 375) * 100}vw;
      top: -#{(300 / 375) * 100}vw;
      width: #{(203 / 800) * 100}vw;
      height: #{(959 / 800) * 100}vw;
    }
    .flow-image-shape-2 {
      position: absolute;
      left: #{(0 / 375) * 75}vw;
      top: #{(1 / 375) * 75}vw;
      width: #{(439 / 375) * 75}vw;
      height: #{(476 / 375) * 75}vw;
    }
    .flow-image-shape-3 {
      position: absolute;
      right: -#{(200 / 375) * 75}vw;
      bottom: -#{(200 / 375) * 75}vw;
      width: #{(439 / 375) * 75}vw;
      height: #{(476 / 375) * 75}vw;
    }
  }
}
.section-products-slider {
  .container {
    padding-top: rem(20);
    padding-bottom: rem(56);
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-products-slider {
    .embed-responsive-item img {
      filter: drop-shadow(0 rem(20) rem(30) rgba($black, 0.3));
    }
  }
}