$bs: 15;
$BASE_FONT_FOR_REM_CALCULATIONS: 15;
@import "plugins/functions";
@import 'variables';

.page-category-bg {
  background-color: $gray-200;
}

.section-category {
  position: relative;

  .section-header,
  .section-subheader {
    margin-bottom: rem(16);;
    font-family: $font-family-primary;
    font-size: rem(65);
    font-weight: 700;
    line-height: 1;
  }
  .section-subheader {
    font-size: rem(48);
  }
  p {
    font-size: rem(16);
    line-height: 24/16;
  }
}

.section-category-swiper {
  .scroll {
    z-index: 5;
    bottom: rem(48);
    .scroll-arrow:before {
      content: "";
      display: block;
      position: absolute;
      bottom: rem(30);
      left: 50%;
      width: 1px;
      height: rem(85);
      background: $gray-600;
    }
  }
}

.section-category-maintenance {
  .container {
    padding-top: rem(80);
    padding-bottom: rem(120);
  }

  .section-header {
    transform: rotate(-90deg);
  }

  .bg-image {
    position: absolute;
    top: rem(165);
    left: #{(443 / 1366) * 100}vw;
    width: #{(823 / 1366) * 100}vw;
    height: #{(745 / 1366) * 100}vw;
    background-image: url('../img/gyeon_way_05.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-90deg);
  }
  .flow-image-1 {
    position: absolute;
    top: rem(164);
    left: #{(1113 / 1366) * 100}vw;
    width: rem(81);
    height: rem(89);
    background-image: url('../img/opal-01.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-2 {
    position: absolute;
    top: rem(438);
    left: #{(143 / 1366) * 100}vw;
    width: rem(60);
    height: rem(60);
    background-image: url('../img/opal-02.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-bottle {
    position: absolute;
    top: rem(277);
    left: #{(534 / 1366) * 100}vw;
    width: rem(291);
    height: rem(556);
    display: flex;
    align-items: center;
    justify-content: center;

    img, svg {
      min-width: unset;
      min-height: unset;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .flow-image-3-objects {
    position: absolute;
    top: rem(247);
    left: #{(500 / 1366) * 100}vw;
    width: rem(164);
    height: rem(164);
    background-image: url('../img/plywood.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-blue-balls {
    position: absolute;
    top: rem(456);
    left: #{(530 / 1366) * 100}vw;
    width: rem(355);
    height: rem(296);
    background-image: url('../img/blue-balls.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .flow-image-text-q2m {
    position: absolute;
    top: rem(131);
    left: #{(253 / 1366) * 100}vw;
    width: #{(351 / 1366) * 100}vw;
    height: #{(151 / 1366) * 100}vw;
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-category-maintenance {
    .container {
      padding-bottom: rem(60);
    }
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'sm')) {
  .section-category-maintenance {
    .flow-image-text-q2m {
      position: absolute;
      top: rem(171);
      left: #{(25 / 375) * 100}vw;
      width: #{(351 / 375) * 100}vw;
      height: #{(151 / 375) * 100}vw;
    }
    .flow-image-blue-balls {
      top: rem(247);
    }
    .flow-image-bottle {
      top: rem(327);
    }
    .flow-image-3-objects {
      top: rem(277);
    }
  }
}

.section-category-second-swiper {
  perspective: 1000px;
  margin: rem(100) 0 rem(250);

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: -30vw;
    right:  -10vw;
    bottom: 0;
    display: block;
    transform-origin: center right;
    transform: rotateY(-10deg) scale(1.1);
    transition: $transition;
  }
  &:before {
    background-color: var(--bg-color, $pale-orange);
    background-image: url('../img/gyeon_way_04.svg');
    background-position: center left;
    background-repeat: no-repeat;
    z-index: 1;
  }
  &:after {
    background-image: radial-gradient(circle closest-side at 75% 50%, var(--bg-color, $pale-orange), rgba(255,255,255,0));
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    z-index: 2;
    filter: brightness(150%);
  }
  .container {
    position: relative;
    z-index: 4;
  }

  .swiper-slider {
    overflow: visible;
  }
  .swiper-slide {
    opacity: 1;
    transition: all 0.1s ease;
    &.swiper-slide-next,
    &.swiper-slide-duplicate-next,
    &.swiper-slide-prev,
    &.swiper-slide-duplicate-prev {
      opacity: 0;
    }
  }
  .swiper-slide-header {
    margin-bottom: rem(16);
    font-size: rem(48);
    font-weight: 700;
  }
  .embed-responsive {
    overflow: visible;
  }
  .swiper-slide-image {
    position: absolute;
    top: rem(-48);

    figure {
      padding: 5px;
      background-image: url('../img/orange-balls.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: drop-shadow(5px 16px 75px var(--shadow-color, $dark-orange));

      img, svg {
        min-width: unset;
        min-height: unset;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .flow-image-shape {
    position: absolute;
    z-index: 3;
    top: rem(200);
    left: #{(664 / 1366) * 100}vw;
    width: #{(555 / 1366) * 100}vw;
    height: #{(416 / 1366) * 100}vw;
    background-image: url('../img/shape-08.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'sm')) {
  .section-category-second-swiper {
    .flow-image-shape {
      top: rem(500);
      left: -#{(50 / 375) * 100}vw;
      width: #{(450 / 375) * 100}vw;
      height: #{(416 / 375) * 100}vw;
    }
  }
}

.section-category-products {
  .section-header {
    font-family: $font-family-primary-exp;
    font-size: rem(48);
  }

  .slider-products {
    .swiper-slide {
      background-color: $white;
      &, &:hover {
        .embed-responsive-item img {
          filter: none;
        }
      }
      &:hover {
        filter: drop-shadow(0 rem(20) rem(30) rgba($black, 0.1));
      }
    }
  }
  .flow-image-shape {
    position: absolute;
    top: rem(-200);
    left: #{(-80 / 1366) * 100}vw;
    width: #{(507 / 1366) * 100}vw;
    height: #{(332 / 1366) * 100}vw;
    background-image: url('../img/shape-02.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-15deg);
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'sm')) {
  .section-category-products {
    .flow-image-shape {
      top: rem(0);
      left: -#{(170 / 375) * 100}vw;
      width: #{(500 / 375) * 100}vw;
      height: #{(333 / 375) * 100}vw;
    }
  }
}

.section-category-video {
  .section-header {
    font-family: $font-family-primary-exp;
    font-size: rem(100);
  }
  .section-subheader {
    font-family: $font-family-primary-exp;
    font-size: rem(24);
  }
  .video-link-image {
    position: relative;
  }
  .btn-play-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .flow-image-shape-1 {
    position: absolute;
    top: rem(-100);
    left: #{(230 / 1366) * 100}vw;
    width: #{(400 / 1366) * 100}vw;
    height: #{(260 / 1366) * 100}vw;
    background-image: url('../img/shape-02.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-15deg);
  }
  .flow-image-shape-2 {
    position: absolute;
    top: rem(300);
    left: #{(900 / 1366) * 100}vw;
    width: #{(507 / 1366) * 100}vw;
    height: #{(332 / 1366) * 100}vw;
    background-image: url('../img/shape-02.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(100deg);
  }
  .flow-image-text-video {
    position: absolute;
    top: rem(550);
    left: #{(100 / 1366) * 100}vw;
    height: #{(200 / 1366) * 100}vw;
    width: #{(670 / 1366) * 100}vw;
    transform-origin: top left;
    transform: rotate(-90deg);
    text {
      stroke-width: 0.4;
    }
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'md')) {
  .section-category-video {
    .section-header {
      font-family: $font-family-primary-exp;
      font-size: rem(48);
    }
    .flow-image-text-video {
      position: static;
      transform: none !important;
      text {
        stroke-width: 1;
      }
    }
    .video-link-image {
      position: relative;
      left: -20px;
      width: 100vw;
      height: 100vw;
      img {
        min-height: 100%;
      }
    }
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'sm')) {
  .section-category-video {
    .flow-image-shape-1 {
      top: rem(200);
      left: -#{(270 / 375) * 100}vw;
      width: #{(500 / 375) * 100}vw;
      height: #{(333 / 375) * 100}vw;
    }
    .flow-image-shape-2 {
      top: rem(300);
      left: #{(160 / 375) * 100}vw;
      width: #{(507 / 375) * 100}vw;
      height: #{(332 / 375) * 100}vw;
    }
  }
}

.section-category-courses {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    top: rem(32);
    left: -10vw;
    right:  -10vw;
    bottom: rem(32);
    display: block;
    background-color: $white;
    transform: rotate(-3deg);
  }

  .flow-image-shape {
    position: absolute;
    top: rem(80);
    left: #{(340 / 1366) * 100}vw;
    width: #{(470 / 1366) * 100}vw;
    height: #{(300 / 1366) * 100}vw;
    background-image: url('../img/crystal_mb1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-50deg);
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'sm')) {
  .section-category-courses {
    .flow-image-shape {
      top: rem(380);
      width: #{(470 / 375) * 100}vw;
      height: #{(300 / 375) * 100}vw;
    }
  }
}
 
.section-category-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .box-link {
    position: relative;
    padding: rem(24) rem(32);
    font-family: $font-family-primary;
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(20);
    text-transform: uppercase;
    text-decoration: underline;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .arrow {
      margin-left: rem(8);
      width: rem(25);
      height: rem(13);
      display: inline-flex;
      background-image: url('../img/arrow-primary.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    &.text-white {
      .arrow {
        background-image: url('../img/arrow-white.svg');
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  .flow-image-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: #{(555 / 1366) * 100}vw;
    height: #{(416 / 1366) * 100}vw;
    background-image: url('../img/shape-08.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-15deg);
  }
}
@media (max-width: map-get($map: $grid-breakpoints, $key: 'sm')) {
  .section-category-boxes {
    .flow-image-shape {
      right: -#{(30 / 375) * 100}vw;
      width: #{(555 / 375) * 100}vw;
      height: #{(416 / 375) * 100}vw;
    }
  }
}
