// Additional functions

@function decimal-round($number, $digits: 0, $mode: round) {
  $n: 1;

  // $number must be a number
  @if type-of($number) != number {
    @warn '#{ $number } is not a number.';
    @return $number;
  }

  // $digits must be a unitless number
  @if type-of($digits) != number {
    @warn '#{ $digits } is not a number.';
    @return $number;
  } @else if not unitless($digits) {
    @warn '#{ $digits } has a unit.';
    @return $number;
  }
  @if $digits > 0 {
    @for $i from 1 through $digits {
      $n: $n * 10;
    }
  }
  @if $mode == round {
    @return round($number * $n) / $n;
  } @else if $mode == ceil {
    @return ceil($number * $n) / $n;
  } @else if $mode == floor {
    @return floor($number * $n) / $n;
  } @else {
    @warn '#{ $mode } is undefined keyword.';
    @return $number;
  }
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function rem($v, $baseSize: $BASE_FONT_FOR_REM_CALCULATIONS) {
  $main-font-size: strip-units($baseSize);

  @if type-of($v) == 'number' {
    @if (unitless($v)) or (unit($v) == "px") { @return strip-units($v) / $main-font-size * 1rem; }
    @else if unit($v) == "%" { @return strip-units($v) / 100 * 1rem; }
    @else if unit($v) == "rem" { @return $v; }
  }

  @warn "Incorrect value: #{$v}";
  @return $v;
}

@function light-up($color, $v) {
  @return adjust-color($color, $saturation: 2 * $v, $lightness: $v);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-units($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-units($max-vw - $min-vw) * 1.13 }));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}