//CUSTOM GUTTERS ------------


$guttersList: (0,15,30,45,60,75,90,105,120);


////all resolutions
//
//@each $g in $guttersList
//{
//  .gutters-#{$g} { @include custom-row-space($g * 1px); }
//}
//
////xl
//
//@media (max-width: 1650px)
//{
//  @each $g in $guttersList
//  {
//    .gutters-xl-#{$g} { @include custom-row-space($g * 1px); }
//  }
//}
//
////lg
//
//@include media-breakpoint-up(lg) {
//
//  @each $g in $guttersList
//  {
//    .gutters-lg-#{$g} { @include custom-row-space($g * 1px); }
//  }
//}
//
////md
//
//@include media-breakpoint-up(md) {
//
//  @each $g in $guttersList
//  {
//    .gutters-md-#{$g} { @include custom-row-space($g * 1px); }
//  }
//}
//
////sm
//
//@include media-breakpoint-up(sm) {
//
//  @each $g in $guttersList
//  {
//    .gutters-sm-#{$g} { @include custom-row-space($g * 1px); }
//  }
//}
//
////xs
//
//@include media-breakpoint-up(xs) {
//
//  @each $g in $guttersList
//  {
//    .gutters-xs-#{$g} { @include custom-row-space($g * 1px); }
//  }
//}

//all resolutions

@each $g in $guttersList
{
  .gutters-#{$g} { @include custom-row-space($g * 1px); }
}

//xs

@include media-breakpoint-up(xs) {

  @each $g in $guttersList
  {
    .gutters-xs-#{$g} { @include custom-row-space($g * 1px); }
  }
}

//sm

@include media-breakpoint-up(sm) {

  @each $g in $guttersList
  {
    .gutters-sm-#{$g} { @include custom-row-space($g * 1px); }
  }
}

//md

@include media-breakpoint-up(md) {

  @each $g in $guttersList
  {
    .gutters-md-#{$g} { @include custom-row-space($g * 1px); }
  }
}

//lg

@include media-breakpoint-up(lg) {

  @each $g in $guttersList
  {
    .gutters-lg-#{$g} { @include custom-row-space($g * 1px); }
  }
}

//xl

@include media-breakpoint-up(xl)
{
  @each $g in $guttersList
  {
    .gutters-xl-#{$g} { @include custom-row-space($g * 1px); }
  }
}