@import '../base';

//MODELS CONTAINER


.makieta {

}
#models {
    width: 100%;
    height: 100%;
    position: relative;
}
#models-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../img/loader.gif) no-repeat center center;
    z-index: 50;
}


//INFO TOOLTIP


.models-infotip{
    position:absolute;
    padding: 0;
    background: #f00;
    color:#333;
    text-align:center;
    opacity: 0.9;
}
.models-infotip a{
    display:block;
    padding: 3px 5px;
    color: #333;
    text-align:center;
    background: #ececec;
}
.models-infotip a:hover{
    text-decoration: none;
}


#models .view-item {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}


// FLOORS NAVIGATION


#models .views-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}
#models .views-navigation li {
    display: inline-block;
}
#models .views-navigation li a {
    display: block;
    padding: $navigation-a-padding;
    background: $navigation-bg none repeat scroll 0 0;
    color: $navigation-color;
    text-decoration: none;
}
#models .views-navigation li a:hover {
    background: $navigation-hover-bg;
    color: $navigation-hover-color;
}
#models .views-navigation li a.active {
    background: $navigation-active-bg;
    color: $navigation-active-color;
}
#models .views-navigation li a.active:hover {
    background: $navigation-active-hover-bg;
    color: $navigation-active-hover-color;
}


//TOOLTIP


.models-tooltip
{
    display: none;
    position: absolute;
    top: 0;
    border: $models-tooltip-border;
    padding: $models-tooltip-padding;
    width: $models-tooltip-width;
    background: $models-tooltip-bg;
    opacity: $models-tooltip-opacity;
    color: $models-tooltip-color;
    z-index: 1000;
}
.tooltip-feature-title
{
    color: $tooltip-feature-title-color;
}
.tooltip-feature-value
{
    color: $tooltip-feature-value-color;
    text-align: right;
}
.tooltip-free-floor
{
    color: $tooltip-free-floor-color;
}
.tooltip-sold-floor
{
    color: $tooltip-sold-floor-color;
}
.tooltip-reserved-floor
{
    color: $tooltip-reserved-floor-color;
}


//------------ ???

.models-tooltip table {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
}
.models-tooltip table td {
    padding-bottom: 5px;

}
.models-tooltip table .col2 {
    text-align: right;
}

.models-tooltip h5 {

}
.models-map-image {
    width: 100%;
}

.models-tooltip dt {
    display: inline-block;
    font-weight: 400 !important;
    font-size: 16px;
}

.models-tooltip dd {
    display: inline-block;
    font-weight: 400 !important;
    color: #f26a63;
    font-size: 16px;
}
.models-tooltip dl {
    margin: 0;
    padding: 0;
}

.floor-tooltips {
    border: $models-tooltip-floor-border;
    padding: $models-tooltip-floor-padding;
    width: $models-tooltip-floor-width;
    background: $models-tooltip-floor-bg;
    color: $models-tooltip-floor-color;
    opacity: $models-tooltip-floor-opacity;
}
.dl-horizontal.tooltips dl{
    margin:0px 0px 40px 0;
    border-top:1px solid #dadada; border-bottom:1px solid #dadada;
}
.dl-horizontal.tooltips dt{
    width:100px; padding:3px 0;
    font-weight:300; text-align:left;
    float:left !important;
}
.dl-horizontal.tooltips dd{
    margin-left:0px; padding:3px 0;
    padding-left:110px;
    border-bottom:1px solid #dadada;
    font-weight:700;
}
.dl-horizontal.tooltips dd:last-child{
    border-bottom:0px;
}

// ------- END ???




#models-container .title-navigation {
    display: none;
}



