//@include media-breakpoint-between(md, lg) {}
//@include media-breakpoint-only(lg) {}
//@include media-breakpoint-down(lg) {}
//@include media-breakpoint-up(lg) {}

@include media-breakpoint-down(lg)
{
  html
  {
    font-size: 14px;
  }

  header.main-header {
    height: 60px;
    &.mobile-active {
      .mobile-header {
        background: $dark-violet;
        .logo .st0 {
          fill: $white;
        }
        .menu-right {
          p {
            color: $white;
            &:first-child {
              opacity: 0;
            }
            &:last-child {
              opacity: 1;
            }
          }
          .hamburger {
            span {
              background: $white;
              &:nth-child(1) {
                transform: translateY(10px) rotate(45deg);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
              }
            }
          }
        }
      }
      .mobile-menu {
        background: $dark-violet;
        transform: translateY(0vh) translateY(-60px);
        .nav-link {
          font-size: 24px;
        }
        .bottom-box {
          img {
            width: 40px;
          }
          p {
            font-size: 24px;
          }
        }
      }
    }
    .mobile-header {
      background: $white;
      z-index: 1;
      .logo {
        width: 76px !important;
        .st0 {
          fill: $violet;
        }
      }
      .menu-right {
        p {
          margin-right: 10px;
          color: $dark-violet;
          font-size: 16px;
          &:last-child {
            top: 0;
            left: -1px;
            opacity: 0;
          }
        }
        .hamburger {
          height: 23px;
          span {
            display: inline-block;
            width: 30px;
            height: 3px;
            background: $dark-violet;
          }
        }
      }
    }
    .mobile-menu {
      height: calc(100vh);
      background: $white;
      transform: translateY(-100vh);
      .nav-link {
        padding: 10px 0;
        color: $white;
        font-size: 0;
      }
      .bottom-box {
        bottom: 30px;
        img {
          width: 0;
          margin-right: 10px;
        }
        p {
          color: $white;
          font-size: 0;
        }
      }
    }
  }

  .section-home-gyeon-way .section-header {
    margin-right: 30px;
    margin-left: 30px;
  }

  .products-container {
    .text-box {
      width: #{0.20 * 100}vw;
    }
    .section-home-coatings .container {
      .blue-ball {
        left: 27%;
        width: 130px;
        height: 125px;
      }
      .blue-ball-small {
        left: 42%;
      }
      .q2 {
        left: 23%;
      }
      .bottle1 {
        right: 33%;
      }
      .bottle2 {
        right: 19%;
      }
    }
    .section-home-maintenance .container {
      .q2m {
        width: 330px;
      }
      .blue-ball-medium {
        left: 38%;
      }
      .blue-bubble {
        left: 32%;
      }
      .violet-ball {
        left: 36%;
      }
      .bottle3 {
        left: 22%;
      }
      .bottle4 {
        left: 13%;
      }
      .diamond3 {
        left: 7%;
      }
    }
    .section-home-accessories .container {
      .speaker {
        right: 2%;
      }
      .acc-ball {
        right: 32%;
      }
      .acc-ball2 {
        left: 33.5%;
      }
      .acc-ball3 {
        left: 40%;
      }
    }
    .section-home-ppf .container {
      .ppf1 {
        left: 33%;
      }
      .ppf2 {
        left: 21%;
      }
      .q2f {
        width: 280px;
      }
    }
    .section-home-yachts-boats .container {
      .q2r {
        left: 20%;
      }
      .bottle5 {
        right: 30%;
      }
      .little-crystal {
        right: 43%;
      }
      .little-ball {
        right: 44%;
      }
    }
  }

  .section-home-global-network .circle-photo {
    right: 24%;
    bottom: 19.5%;
  }

  footer {
    .diamond6 {
      right: 10%;
    }
    .crystal3 {
      left: 10%;
    }
  }
}

@include media-breakpoint-up(lg)
{
  header.main-header {
    &.light:not(.scroll) {
      filter: grayscale(100%) invert(100%) brightness(130%) drop-shadow(0.8px 0.8px 0px $white);
    }
  }
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .section-home-gyeon-way .section-header span {
    font-size: rem(30);
  }
}