//@include media-breakpoint-between(sm, md) {}
//@include media-breakpoint-only(md) {}
//@include media-breakpoint-down(md) {]
//@include media-breakpoint-up(md) {]

@include media-breakpoint-down(md)
{

  html
  {
    font-size: 14px;
  }

  //FANCYBOX FIX IMG WIDTH

  body{
    &.preview{
      max-width: 100vw;
    }
  }

  .container, .container-break .container, .container-fluid{
    max-width: none;
    padding-left: rem(40);
    padding-right: rem(40);
  }

  .display-1{
    font-size: rem(120);
  }
  .display-2{
    font-size: rem(100);
  }
  .display-3{
    font-size: rem(80);
  }
  .display-4{
    font-size: rem(60);
  }

  .section-name {
    display: none;
  }

  .products-container {
    .text-box {
      width: #{0.25 * 100}vw;
    }
    .product-section {
      min-height: 75vw;
    }
    .section-home-coatings {
      .diamond1 {
        left: -15%;
      }
      .diamond2 {
        right: -19%;
      }
      .container {
        .text-box {
          left: 15%;
        }
        .blue-ball {
          top: 34.5%;
          left: 18%;
          width: 160px;
          height: 155px;
        }
        .blue-ball-small {
          left: 41.5%;
        }
        .q2 {
          top: 25%;
          left: 18.5%;
          width: 300px;
        }
        .bottle1 {
          right: 28%;
        }
        .bottle2 {
          top: -35%;
          right: 10%;
        }
      }
    }
    .section-home-maintenance .container {
      .text-box {
        right: 11%;
        bottom: 17%;
      }
      .q2m {
        top: 23.5%;
        right: 9%;
        width: 300px;
      }
      .blue-ball-medium {
        left: 35%;
      }
      .blue-bubble {
        left: 26%;
      }
      .violet-ball {
        left: 28%;
      }
      .bottle3 {
        top: -11%;
        left: 11%;
      }
      .bottle4 {
        left: 5%;
      }
      .diamond3 {
        left: 3%;
      }
    }
    .section-home-accessories {
      .text-left {
        top: 45%;
      }
      .container {
        .text-box {
          top: 25%;
          left: 15%;
        }
        .speaker {
          right: -7%;
        }
        .acc-ball {
          right: 29%;
        }
        .acc-bubble {
          right: 26%;
        }
        .acc-ball2 {
          bottom: 11%;
          left: 32%;
          width: 90px;
          height: 90px;
        }
        .acc-ball3 {
          bottom: 15%;
          width: 30px;
          height: 30px;
        }
        .acc-bubble2 {
          bottom: 2%;
          left: 28%;
          width: 170px;
          height: 169px;
        }
      }
    }
    .section-home-ppf {
      .diamond4 {
        right: -13%;
      }
      .container {
        .text-box {
          right: 5%;
        }
        .ppf1 {
          left: 28.5%;
        }
        .ppf2 {
          left: 12.5%;
        }
        .q2f {
          right: 13%;
        }
        .q2f {
          top: 22%;
          right: 13%;
          width: 280px;
        }
      }
    }
    .section-home-yachts-boats .container {
      .bottle5 {
        right: 25%;
      }
      .little-crystal {
        right: 42%;
      }
      .little-ball {
        right: 43%;
      }
    }
  }

  .section-home-global-network {
    min-height: 75vw;
    .map {
      top: 0;
      right: 0;
    }
    .circle-photo {
      right: 16%;
      bottom: 8%;
      width: 240px;
    }
  }

  .section-home-news-facts {
    min-height: 75vw;
  }

  footer.main-footer {
    .diamond6 {
      right: 0;
    }
    .crystal3 {
      left: 0;
    }
    
    .flow-image-shape-1 {
      position: absolute;
      left: #{(-150 / 600) * 75}vw;
      top: #{(670 / 600) * 75}vw;
      width: #{(448 / 600) * 75}vw;
      height: #{(501 / 600) * 75}vw;
    }
    .flow-image-shape-2 {
      position: absolute;
      left: #{(300 / 600) * 75}vw;
      bottom: #{(320 / 600) * 75}vw;
      width: #{(357 / 600) * 75}vw;
      height: #{(434 / 600) * 75}vw;
    }
    .flow-image-shape-3 {
      position: absolute;
      right: #{(-190 / 600) * 75}vw;
      top: #{(150 / 600) * 75}vw;
      width: #{(504 / 600) * 75}vw;
      height: #{(587 / 600) * 75}vw;
    }
  }

}

@include media-breakpoint-up(md)
{
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}