//@include media-breakpoint-between(xs, sm) {}
//@include media-breakpoint-only(sm) {}
//@include media-breakpoint-down(sm) {}
//@include media-breakpoint-up(sm) {}

@include media-breakpoint-down(sm)
{
  .container, .container-break .container, .container-fluid{
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  h5, .h5 {
    font-size: 18px !important;
  }

  .mobile-fixed {
    bottom: 10px;
    z-index: 99;
    .fixed-box {
      height: 55px;
      padding: 0 25px;
      background: $dark-violet;
      border-radius: 10px;
      box-shadow: 0px 5px 20px 0px rgba($black,.5);
      a {
        color: $white;
        font-family: $font-family-primary;
        font-size: 16px;
        &:first-child {
          margin-right: 25px;
        }
      }
    }
  }

  footer.main-footer {
    padding: 110px 0;
    .footer-container {
      .footer-subscribe {
        margin-bottom: 25px;
        .footer-input {
          width: 100%;
          margin-bottom: 20px;
        }
        .footer-btn {
          width: 65%;
          padding: 5px 0;
          font-size: 24px;
          font-weight: 500;
        }
      }
      .footer-text-box {
        margin-top: 110px;
        margin-bottom: 85px;
        padding-left: 15px;
        .text-1 {
          font-size: 24px;
        }
        .txt-private {
          transform: translateX(-2px);
          .txt-private-private {
            font-size: 72px;
          }
        }
        .text-2 {
          margin-left: 20px;
        }
        .txt-oem {
          margin-left: 55px;
        }
        .footer-arrow {
          margin-left: -15px;
        }
      }
      .footer-bottom-col {
        margin-top: 45px;
        .footer-link {
          font-size: 24px;
          line-height: 39 / 24;
        }
        .footer-social-box {
          padding-left: 0;
          .footer-social {
            margin: 0 11px;
          }
        }
      }
    }
  }

  #slider-home {
    height: 40.625vh !important;
    margin-top: 60px;
  }

  .section-home-gyeon-way {
    padding-top: 60px;
    padding-bottom: 80px;
    overflow: hidden;
    .section-small-header {
      margin-bottom: 15px;
    }
    .section-header {
      margin: 0 20px 30px;
      font-size: 47px;
      word-break: break-word;
    }
    .btn {
      font-size: 19px;
    }
    .image-bg {
      left: -140px;
      width: 620px;
      max-width: unset;
      opacity: .5;
    }
  }

  .products-container {
    .vertical-text {
      top: 300px;
      h2.display-2 {
        font-size: 65px;
      }
    }
    .text-box {
      width: #{0.4 * 100}vw;
      .btn {
        font-size: 24px;
      }
    }
    .section-home-coatings {
      height: 1200px;
      .section-small-header {
        padding-top: 0;
      }
      .diamond-mb1 {
        top: 11%;
        right: -24%;
        left: unset;
        width: 180px;
        height: 267px;
        background-image: url("../img/diamond_mb1.svg");
      }
      .diamond-mb2 {
        bottom: 35%;
        left: -18%;
        width: 180px;
        height: 267px;
        background-image: url("../img/diamond_mb2.svg");
      }
      .diamond-mb3 {
        right: -29%;
        bottom: 6%;
        width: 195px;
        height: 275px;
        background-image: url("../img/diamond_mb3.svg");
      }
      .container {
        .text-box {
          bottom: 0;
          left: 20px;
        }
        .blue-ball {
          top: 18%;
          left: -3%;
        }
        .blue-ball-small {
          top: 25%;
          left: 34%;
        }
        .q2 {
          top: 13%;
          left: 2%;
        }
        .bottle1 {
          top: 25%;
          right: 8%;
        }
        .bottle2 {
          top: 28%;
          width: 280px;
        }
      }
    }
    .section-home-maintenance {
      height: 830px;
      .vertical-text {
        top: 310px;
      }
      .container {
        .text-box {
          right: unset;
          bottom: 0;
          left: 20px;
        }
        .q2m {
          top: 9%;
          right: 7%;
        }
        .blue-ball-medium {
          top: 52%;
          left: 65%;
          width: 75px;
        }
        .blue-bubble {
          top: 46%;
          left: 46%;
          width: 182px;
        }
        .violet-ball {
          top: -4%;
          left: 56%;
          width: 65px;
          height: 50px;
        }
        .bottle3 {
          top: 10%;
          left: 57%;
        }
        .diamond3 {
          bottom: 25%;
          left: -20%;
          width: 210px;
          height: 233px;
        }
      }
    }
    .section-home-accessories {
      height: 1070px;
      .vertical-text {
        top: 200px;
      }
      .container {
        .text-box {
          top: unset;
          bottom: 0;
          left: 20px;
        }
        .speaker {
          top: 33%;
          right: -14%;
          z-index: 2;
        }
        .acc-ball {
          top: 40%;
          right: 25%;
          z-index: 2;
        }
        .acc-bubble {
          top: 38.5%;
          right: 18%;
          z-index: 3;
        }
        .acc-ball2 {
          top: 32%;
          bottom: unset;
          left: 12%;
        }
        .acc-ball3 {
          top: 35%;
          bottom: unset;
          left: 30%;
        }
        .acc-bubble2 {
          top: 28.5%;
          bottom: unset;
          left: 8%;
        }
        .diamond-mb-acc {
          top: -1%;
          right: -20%;
          width: 195px;
          height: 259px;
          background-image: url("../img/diamond_mb_acc.svg");
          z-index: 1;
        }
      }
    }
    .section-home-ppf {
      height: 900px;
      .vertical-text {
        top: 330px;
      }
      .diamond4 {
        top: -11%;
        right: -23%;
        width: 195px;
        height: 265px;
      }
      .container {
        .text-box {
          top: unset;
          right: unset;
          bottom: 20%;
          left: 20px;
        }
        .ppf1 {
          top: 48%;
          left: 67%;
        }
        .ppf2 {
          top: -3%;
          left: -13%;
        }
        .q2f {
          top: 20%;
          right: 11%;
        }
      }
    }
    .section-home-yachts-boats {
      height: 1000px;
      .container {
        > h5 {
          padding-top: 0;
        }
        .text-box {
          bottom: 90px;
          left: 20px;
        }
        .q2r {
          top: 10%;
          left: 5%;
          width: 310px;
        }
        .crystal {
          top: 23%;
          left: 0;
        }
        .bottle5 {
          top: 30%;
        }
        .little-crystal {
          top: 48%;
          right: 62%;
        }
        .little-ball {
          top: -10%;
          right: 65%;
        }
      }
      .diamond-mb4 {
        bottom: -65px;
        right: -100px;
        width: 195px;
        height: 275px;
        background-image: url("../img/diamond_mb4.svg");
      }
    }
  }

  .section-home-global-network {
    height: 660px;
    background-image: url("../img/map_mb.png");
    background-position: top center;
    background-repeat: no-repeat;
    > h5:first-child {
      padding: 65px 20px 0;
    }
    .text-box {
      top: 160px;
      bottom: unset;
      left: 20px;
      .text-box-header {
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 300;
      }
      p {
        width: 245px;
        font-size: 16px;
      }
      footer {
        font-size: 24px !important;
      }
      .btn {
        font-size: 24px;
      }
    }
  }

  .section-home-news-facts {
    height: auto;
    padding-bottom: 65px;
    .crystal-mb1 {
      top: -118px;
      right: -240px;
      width: 360px;
      height: 283px;
      background-image: url("../img/crystal_mb1.svg");
    }
    .section-header {
      padding-top: 50px;
      margin-bottom: 50px;
      font-size: 40px;
      font-weight: 300;
      text-align: left !important;
    }
    .swiper-slide {
      width: 75% !important;
    }
  }

  .section-gec-experience {
    padding: 60px 0 220px;
    z-index: 1;
    .gyeon-experience-bg1 {
      top: -90%;
      left: -160%;
      max-width: unset;
    }
    .gyeon-experience-bg2 {
      top: 55%;
      right: -65%;
      max-width: unset;
      width: 600px;
    }
    .section-small-header {
      margin-bottom: 40px;
    }
    .section-header {
      margin-bottom: 25px;
      font-size: 38px;
    }
    p {
      width: unset;
      margin-left: 0;
    }
    .navy-blue-ball1 {
      top: 85%;
      width: 180px;
      height: 171px;
    }
    .red-ball1 {
      top: 130%;
      right: -2%;
      width: 140px;
      height: 108px;
    }
    .red-ball2 {
      right: 65%;
      bottom: -80%;
    }
  }

  .section-gec-center {
    .navy-blue-ball2 {
      top: 25%;
      left: -13%;
      z-index: 2;
    }
    .plywood {
      top: 70%;
      left: 13%;
      z-index: 3;
    }
    .gec-diamond {
      top: 64.5%;
      left: 8%;
      width: 195px;
    }
    .txt-gyeon {
      top: 4.75%;
      right: unset;
      left: 8%;
      width: 225px;
    }
    .box-experience {
      top: 21%;
      right: unset;
      left: -18%;
      .txt-experience {
        font-size: 32px;
        transform: translateX(57px) rotate(-90deg);
      }
      img {
        width: 270px;
      }
    }
    .txt-center {
      right: unset;
      bottom: 33.5%;
      left: 8%;
      width: 265px;
    }
    .center-slant {
      background: linear-gradient(173deg, transparent 0%, transparent 50%, $red 51%, $red 100%);
    }
  }

  .section-gec-trainers {
    .trainers-row {
      padding: 0 30px;
      .trainers-col {
        margin-bottom: 80px;
        padding: 0 !important;
      }
    }
    .trainers-diamond1 {
      top: -11%;
      right: -29%;
    }
    .trainers-diamond2 {
      bottom: 2%;
      left: -26%;
    }
    .trainers-redball1 {
      top: -13%;
    }
    .trainers-redball2 {
      top: 12%;
    }
    .trainers-redball2-2 {
      top: 35%;
      right: 22%;
      left: unset;
    }
  }

  .section-gec-teachers {
    padding-top: 100px;
    padding-bottom: 80px;
    .section-header {
      margin-left: 30px;
    }
    .teachers-text {
      margin-bottom: 40px;
      margin-left: 30px;
    }
    .swiper-teachers-prev:hover, .swiper-teachers-next:hover {
      opacity: 1;
    }
    .swiper-container {
      margin-left: -35px;
      transform: translateX(35px);
      .swiper-slide {
        width: 330px !important;
        padding: 40px 0;
        &.swiper-slide-active, &.swiper-slide-duplicate-active {
          margin-left: 0;
        }
      }
    }
    .teachers-crystal {
      top: -21%;
      right: -59%;
      left: unset;
    }
  }

  .section-gec-training {
    padding: 60px 0 115px;
    .txt-book {
      margin-bottom: 45px;
    }
    .cards-container {
      left: calc(-1 * (100vw - 100%) / 2);
      width: 100vw;
      margin: 0;
      .training-card {
        margin-bottom: 85px;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .training-crystal {
      right: -30%;
      bottom: -5.5%;
      width: 510px;
      height: 390px;
      max-width: unset;
    }
  }

  .section-gec-advanced {
    .advanced-diamond {
      top: 25.5%;
      left: -41%;
    }
    .advanced-row {
      .g-hero {
        position: relative !important;
        margin-bottom: 40px;
      }
      .advanced-header {
        line-height: 50 / 55;
      }
      .advanced-underheader {
        line-height: 28 / 24;
      }
    }
    .cards-container {
      left: calc(-1 * (100vw - 100%) / 2);
      width: 100vw;
      margin: 0;
      .training-card {
        margin-bottom: 85px;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .section-gec-trainees {
    .trainees-slant {
      background: linear-gradient(185deg, $gray-200 0%, $gray-200 50%, $indigo 51%, $indigo 100%);
    }
    .trainees-head {
      padding-top: 20px;
      margin-bottom: 80px;
      .trainees-diamond1 {
        top: 0;
        left: -10%;
      }
      .quote {
        top: 13%;
        left: 25%;
      }
    }
    .trainees-diamond2 {
      top: 9%;
      right: -55%;
    }
    .grid-item {
      height: 265px;
    }
  }
}

@include media-breakpoint-up(sm)
{
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
