//@include media-breakpoint-between(lg, xl) {}
//@include media-breakpoint-only(xl) {}
//@include media-breakpoint-down(xl) {}
//@include media-breakpoint-up(xl) {}

@include media-breakpoint-down(xl)
{

  html
  {
    font-size: 15px;
  }

  .container, .container-break .container, .container-fluid{
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
  }

  .products-container {
    .section-home-coatings .container {
      .blue-ball {
        width: 180px;
        height: 175px;
      }
      .blue-ball-small {
        left: 43.5%;
      }
      .q2 {
        top: 20%;
        left: 25.5%;
      }
    }
    .section-home-maintenance .container {
      .q2m {
        right: 14%;
      }
      .blue-ball-medium {
        left: 39.4%;
      }
      .blue-bubble {
        left: 34%;
      }
    }
    .section-home-ppf .container .q2f {
      right: 18%;
    }
    .section-home-yachts-boats .container .q2r {
      top: 17%;
      left: 23%;
    }
    .section-home-yachts-boats .container {
      .q2r {
        top: 5%;
        left: 18%;
      }
    }
  }

}

@include media-breakpoint-up(xl)
{

  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .display-1{
    font-size: rem(135);
  }
  .display-2{
    font-size: rem(110);
  }
  .display-3{
    font-size: rem(90);
  }
  .display-4{
    font-size: rem(70);
  }
}