//@include media-breakpoint-between(xs, sm) {}
//@include media-breakpoint-only(xs) {}
//@include media-breakpoint-down(xs) {}
//@include media-breakpoint-up(xs) {}

@include media-breakpoint-down(xs)
{
  .products-container {
    .text-box {
      width: #{0.75 * 100}vw;
    }
  }
}