//@include media-breakpoint-between(xl, xxl) {}
//@include media-breakpoint-only(xxl) {}
//@include media-breakpoint-down(xxl) {}
//@include media-breakpoint-up(xxl) {}

@include media-breakpoint-up(xxl)
{
  .col-xxl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .container {
    max-width: 1400px;
  }
}